<template>
	<div class="fullwidth fullheight palestra" id="gym_skills">
		
        <sub-nav area="gym"  section="trainer" subsection="abilities">
        </sub-nav>
		
		<div class="sub-section">
			
			<div class="skills-tabs">
				
				<div 
				v-for="(value, stat) in abilities" 
				:key="stat" 
				v-show="stat != 'balanced'" 
				:class="'skill-tab ' + ( selectedStat == stat ? 'active' : '')">
					<div class="skill-name" @click="setStat(stat)"> {{stat}} <span> {{value.lv}} </span></div>
					<div class="skill-progbar" v-tooltip="lang.common.points_remaining + ': ' + value.points">
						<div class="progress" :style="'width:'+ getPercentage(value.points, value.lv) +'%'"></div>
					</div>
				</div>
				<div class="clear"></div>
				
			</div>
			
			<div class="skill-box">
				
				<div class="swipable">
					
					<a class="nav-btn nav-right" id="next" @click="nextSkill()" :style="hideNavBtns ? 'opacity: 0' : ''"></a>
					<a class="nav-btn nav-left" id="prev" @click="prevSkill()"   :style="hideNavBtns ? 'opacity: 0' : ''"></a>
					
					<div id="skillbox" class="swipe">
						
						<div class="swipe-wrap"  v-if="selectedStatObj">
							
							<div class="swipe-item" v-for="(skill, name) in selectedStatObj.skills" :key="name">
								
								<div class="skill-name"> 
									{{ getSkillName(name) }} 
									<span>lvl  {{ skill.lv }} </span>
								</div>

								<div class="skill-info">
									
									<div class="dropdown" @mouseover="hideNavBtns = true" @mouseout="hideNavBtns = false">
										<a class="option" v-if="!upgradeLevels">
											{{ lang.common.select }} &hellip;
										</a>
										<a class="option" v-if="upgradeLevels">
											{{ 
												upgradeLevels ?  
												'+ ' + (upgradeLevels - skill.lv) + ' ' + lang.common.levels 
												: lang.common.select + '...'  
											}}
										</a>
										<a 
											class="option" 
											href="#" 
											v-show="upgradeOptions.length"
											v-for="(option, key) in upgradeOptions" 
											:key="key" 
											@click="upgradeLevels = option"
										>
											+{{key+1}}  {{lang.common.cost}} : {{calculateUpgradeCost(key)}} punti
										</a>
										<a href="#" class="option"  v-if="!upgradeOptions.length">
											{{ lang.common.cannot_upgrade}}
										</a>
									</div>
									
									<a 
										:class="'btn btn-upgrade  btn-' + (upgradeLevels ? 'green' : 'gray')" 
										@click="upgradeSkill"
									>
										{{ lang.common.improve_ability }}
									</a>
									
									<div class="skill-description" v-html="getSkillDesc(name)">
									</div>
									
									<div class="skill-img potenza"></div>

								</div>

							</div>

							<div class="swipe-item versatility" v-if="showVersatility">
								<div class="skill-name"> 
									{{ lang.skills.balanced.skill_1.name }} 
									<span>lvl  {{ abilities.balanced.skills.skill_1.lv }} </span>
								</div>

								<div class="skill-info">
									
									<div class="dropdown" @mouseover="hideNavBtns = true" @mouseout="hideNavBtns = false">
										<a class="option" v-if="!versaUpgradeLevels">
											{{ lang.common.select}} &hellip;
										</a>
										<a class="option" v-if="versaUpgradeLevels">
											{{ 
												versaUpgradeLevels ?  
												'+ ' +(versaUpgradeLevels - abilities.balanced.skills.skill_1.lv) + ' ' + lang.common.levels 
												: lang.common.select + '...'  
											}}
										</a>
										<a 
											class="option" 
											href="#"
											v-for="(option, key) in versaUpgradeOptions" 
											:key="key"
											@click="versaUpgradeLevels = option"
										>
											+{{key+1}}  {{lang.common.cost}} : {{calculateVersaUpgradeCost(key)}} punti
										</a>
										<a href="#" class="option"  v-if="!versaUpgradeOptions.length">
											{{ lang.common.cannot_upgrade }}
										</a>
									</div>
									
									<a 
										:class="'btn btn-upgrade  btn-' + (canUpgradeVersa ? 'green' : 'gray')"
										@click="upgradeVersa"
									>
										{{ lang.common.improve_ability }}
									</a>
									
									<div class="skill-description" v-html="lang.skills.balanced.skill_1.description">
									</div>
									
									<div class="skill-img potenza"></div>
								</div>
							</div>

						</div>
						
					</div>

				</div>
			
			</div>
			

			<div class="fullwidth">				
				<div class="cbox">
					<div class="infobox">
						<span>
						{{ lang.common.stat_reset_desc }}
						<b>50 TPs</b> 
						<a class="btn btn-red"> {{ lang.common.reset}} </a>
						</span>
					</div>
				</div>
			</div>
				

		</div>
	</div>
</template>

<script>

import Swipe from 'swipejs/build/swipe.min.js';
import SubNav from '@/components/SubNav.vue';

export default {
    components:{
        SubNav
    },
	
	created(){
		this.fetchData();
		setTimeout( () => this.initSwipe(), 500);
	},
	updated(){
		if(this.prevStat !== this.selectedStat) this.initSwipe();
	},
	data(){
		return {
			abilities: {},
			wrestler: {},
			hideNavBtns: false,
			prevStat: "strength",
			selectedStat: "strength",
			selectedSkill: "skill_1",
			skillbox: null,
			upgradeLevels: 0,
			versaUpgradeLevels: 0,
            swipe: {}
		}
	},

	computed: {
		showVersatility(){
			var isBalanced = this.wrestler.classes ? this.wrestler.classes.includes("balanced") : false;
			return this.selectedStat == 'strength' && isBalanced;			
		},
		selectedStatObj(){
			return this.abilities[this.selectedStat];
		},
		upgradeOptions(){
			
			if(this.selectedSkill == "skill_7") return [];

			var skillLv = this.selectedStatObj.skills[this.selectedSkill].lv;
			var statPoints = this.selectedStatObj.points;
			var upgrades = [];
			var maxCost = 0;
			var currentUpgrade = skillLv+1;
			
			if(statPoints <= skillLv) return [];
			
			while(statPoints > maxCost && currentUpgrade <= this.selectedStatObj.lv){
				upgrades.push(currentUpgrade);
				maxCost = upgrades.reduce((a,b) => a + b, 0);
				currentUpgrade++;
			}
			
			upgrades = upgrades.length >= 10 ? upgrades.slice(0, 10) : upgrades;

			return upgrades;
		},
		versaUpgradeOptions(){

			var skillLv = this.abilities.balanced.skills.skill_1.lv;
			var statPoints = this.abilities.balanced.points;
			var upgrades = [];
			var maxCost = 0;
			var currentUpgrade = skillLv+2;
			
			if(statPoints <= skillLv) return [];
			
			while(statPoints > maxCost && currentUpgrade <= this.abilities.balanced.lv ){
				upgrades.push(currentUpgrade);
				maxCost = upgrades.reduce((a,b) => a + b, 0);
				currentUpgrade++;
			}
			return upgrades;

		},
		canUpgradeVersa(){
			return this.abilities.balanced.points > this.abilities.balanced.skills.skill_1.lv;
		},
	},

	methods: {
		fetchData(){

			fetch(this.fullPath+"/wg/api/?get_data=header")
				.then(response => response.json())
				.then(json => {
					this.wrestler = json;
				});

			fetch(this.fullPath+"/wg/api/?get_data=skills")
				.then(response => response.json())
				.then(json => {
					this.abilities = json.abilities;		
				});

			// this.initSwipe();
			this.upgradeLevels = 0;
			this.versaUpgradeLevels = 0;
		
		},
		setStat(stat){
			this.prevStat = this.selectedStat;
			this.selectedStat = stat;
			this.selectedSkill = "skill_1";
		},
		prevSkill(){
			this.swipe.prev()
			this.updateSelectedSkill();		
			this.upgradeLevels = 0;
			this.versaUpgradeLevels = 0;
		},
		nextSkill(){
			this.swipe.next();
			this.updateSelectedSkill();
			this.upgradeLevels = 0;
			this.versaUpgradeLevels = 0;
		},
		updateSelectedSkill(){
			var skill = this.swipe.getPos();
			this.selectedSkill = "skill_" + (skill+1)
		},

		getSkillName(name){

			if(name == 'versatility')
				return this.lang.skills.balanced.skill_1.name;
			
			return this.lang.skills[this.selectedStat][name].name;
		
		},
		
		getSkillDesc(name){

			if(name == 'versatility')
				return this.lang.skills.balanced.skill_1.description;
			
			return this.lang.skills[this.selectedStat][name].description;
		
		},

		hasSkill(skill){
			if( ["skill_6", "skill_7"].includes(skill) ){
				return true;
			}
			if(this.wrestler.classes && (this.wrestler.classes.includes(this.selectedStat) || this.wrestler.classes.includes("balanced"))){
				return true;
			}

			return false;
		},

		getPercentage(dividee, divider){
			dividee = dividee > 0 ? dividee : 0;
			var percentage = Math.round(dividee / divider * 100)
			return percentage > 100 ? 100 : percentage;  
		},

		initSwipe(){

			var t  = setInterval(() => {
				if(document.getElementsByClassName("swipe-item").length){
					this.getSwipeInstance();
					this.prevStat = this.selectedStat;
					clearInterval(t);
				};
			}, 50);

		},
		
		getSwipeInstance(){
			this.swipe = new Swipe(document.getElementById('skillbox'), {
				startSlide:0,
				auto:0,
				draggable:true,
				autoRestart:false,
				continuous:true,
				disableScroll:true,
				stopPropagation:true,
				callback:function() {},
				transitionEnd:function() {}
			});	
		},

		calculateUpgradeCost(key){
			var costArray = this.upgradeOptions.slice(0, key+1);
			return costArray.reduce((a,b) => a+b, 0);
		},
		
		calculateVersaUpgradeCost(key){
			var costArray = this.versaUpgradeOptions.slice(0, key+1);
			return costArray.reduce((a,b) => a+b, 0);
		},

		upgradeSkill(){

			fetch(this.fullPath+"/wg/api/actions.asp?pt="+this.upgradeLevels+"&improve="+this.selectedStatObj.skills[this.selectedSkill].skill_index)
			.catch(() => false);

			this.selectedStatObj.skills[this.selectedSkill].lv = this.upgradeLevels;
			fetch(this.fullPath+"/wg/ajax/ricalcola_mosse.asp");

			this.fetchData();

		},
		upgradeVersa(){

			if(!this.versaUpgradeLevels) return false;
			
			fetch(this.fullPath+"/wg/api/actions.asp?pt="+this.versaUpgradeLevels+"&improve="+this.abilities.balanced.skills.skill_1.skill_index)
			.catch(() => false);
			
			this.abilities.balanced.skills.skill_1.lv = this.versaUpgradeLevels;
			fetch(this.fullPath+"/wg/ajax/ricalcola_mosse.asp");
			
			this.fetchData();

		}


	}, 
	watch: {
		showVersatility(val) {
			if(val) this.initSwipe();
		}
	}
	
}
</script>

