<template>
    <div class="fullheight advtec">
        <div class="fullwidth fullheight palestra">
		
            <sub-nav area="gym" section="trainer" subsection="advanced_techniques">
			</sub-nav>
		
            <div class="sub-section">
                
                <div class="twotwoboxes advtec">
                    
                    <div id="movesbox" class="at-box ">
                        
                        <!-- <div class="swipable"> -->
                    
                            <!-- <div class="twotwoboxes-group" v-for="(group, key) in atGroups" :key="key"> -->
                                
                                <!-- item -->
                                <div class="scrollable">
                                    <div v-for="(at, key) in ats" :key="key" class="item">
                                        
                                        <div class="advt-info">
                                            <!-- <span><b class="txt_green">62</b> punti extra al Bonus Attacco</span> -->
                                            <img :src="'/img/advtec/AT_'+(key+1)+'.png'" alt="">
                                            <div>
                                                <span>{{at.description}}</span>
                                                <br>
                                                <span>{{lang.common.current_bonus}}: <b class="txt_green">930</b></span>
                                            </div>
                                        </div>
                                        
                                        <a :class="getUpgradeIconClass(at)" @click="upgradeAT(at)" href="#" v-tooltip="lang.common.improve">
                                        </a>
                                        
                                        <div class="upgrade-info">
                                            <div class="row1">
                                                <span class="fans">
                                                    {{at.cost}}
                                                </span>
                                            </div>
                                            <div class="row2">
                                                <div class="lvl">
                                                    <span>LVL</span>
                                                    <span>{{at.level}}</span>
                                                </div>
                                                <div class="movebar">
                                                    <span>{{at.name}}</span>
                                                    <div class="progress"></div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <!-- /item -->
            

                            <!-- </div> -->

                        
                        <!-- </div> -->
                    
                    </div>
                    
                    <!-- <a class="nav-btn nav-right" id="next" @click="swipe.next()"></a>
                    <a class="nav-btn nav-left" id="prev" @click="swipe.prev()"></a> -->
                        
                </div>
                
                <div class="fullwidth">
                    
                    <div class="cbox">
                        
                        <div class="space h5 hide768 hide1024"></div>
                        
                        <div class="infobox">
                            <span>
                                {{lang.sections.advanced_techniques.infobox}}
                            </span>
                        </div>
                        
                    </div>
                    
                </div>

            </div>
		
	</div>
	
	<div id="pullable" :class="showResetBox ? 'opened' : 'closed'">

		<div class="cbox">

			<div class="tabs one-tabs">

				<div class="tab active">{{lang.common.reset}}</div>
				<div id="puller" @click="toggleResetBox()"></div>

			</div>

		</div>

		<div class="cbox dark-box" id="pullable-content">

            <div class="content" style="height:calc(100% - 40px);">
                
                <table style="width:100%;height:100%;">
                    <tr>
                        <td valign="middle">
                            
                            <div align="center">
                                <a href="#" class="btn btn-generic btn-red"  @click="resetATs()">{{lang.common.reset_20}}</a>
                            </div>
                            
                        </td>
                    </tr>
                </table>

            </div>

		</div>

	</div>
    </div>
</template>

<script>

import Swipe from 'swipejs/build/swipe.min.js';
import SubNav from '@/components/SubNav.vue';

export default {
    
    components: {
        SubNav
    },    

    created() {
        this.fetchData();
    },

    data(){
        return {
            atsSwipe: {},
            ats: {},
            showResetBox: false
        }
    },
    
    mounted(){
        var t = setInterval(() => {
            if(this.hasData(this.ats)){
                clearInterval(t)
                this.initSwipe();
            }
        }, 500);
    },


    computed: {
        atGroups(){
            
            var atGroups = [];
            var groups = Math.ceil(this.ats.length / 4);
            
            for(var i = 0; i < groups; i++){
                var start = i*4;
                atGroups.push(this.ats.slice(start, start+4));
            }

            return atGroups;
        },

    },
    
    methods: {
        fetchData(){
            fetch(this.fullPath+"/wg/api/?get_data=at")
                .then((data) => data.json())
                .then((ats) => { 
                    this.ats = ats.advanced_techniques;
            });
        },
        // initSwipe(){
        //     this.swipe = new Swipe(document.querySelector("#movesbox.at-box") , {
        //         startSlide:0,
        //         auto:0,
        //         draggable:true,
        //         autoRestart:false,
        //         continuous:false,
        //         disableScroll:true,
        //         stopPropagation:true,
        //         callback:function(index, element) {},
        //         transitionEnd:function(index, element) {}
        //     });
        // },
        toggleResetBox(){
            this.showResetBox = !this.showResetBox;            
        },
        upgradeAT(at){
            if(at.cost > this.info.exp) return this.fetchData();
            fetch(this.fullPath+"/wg/api/actions.asp?action=upgrade_at&id_at="+at.id+"&quant=1")
                .finally(() => this.fetchData());

        },
        resetATs(){
            fetch(this.fullPath+"/wg/api/actions.asp?action=reset_at")
            .finally(() => this.fetchData());
        },
        getUpgradeIconClass(at){
           if(this.info.exp <= at.cost) return "upgrade disabled";
            return at.level == 0 ? "learn" : "upgrade";
            
        }
    }

}

</script>
