<template>
    <div class="fullheight">
		<div class="fullwidth fullheight palestra">
				
			<sub-nav area="gym" section="trainer" subsection="finishers">
			</sub-nav>
			
			<div class="sub-section">
				
				<!-- skill box -->
				<div class="skill-box trtafi">
					
					<div class="swipable">
						
						<a class="nav-btn nav-right" id="next" @click="nextFinisher"></a>
						<a class="nav-btn nav-left" id="prev" @click="prevFinisher"></a>
						
						<div id="finisherbox" class="swipe">
							
							<div class="swipe-wrap">
								
								<!-- skill -->
								<div class="swipe-item" v-for="(finisher, index) in fetched.finishers" :key="index">
									
									<div class="skill-name">{{finisher.name}}<span>lvl {{finisher.level}}</span></div>
	
									<div class="skill-info">
										
	
										
										<div class="up-overlay" v-show="finisher.show == 1" @click="finisher.show = 0">
											
											<div align="right">
												
												<a href="#" class="btn btn-generic btn-transparent tr-black">&#10005;</a>
												
											</div>
											
											<div class="space h40"></div>
											
											<table class="up-fin">
											
												<tr>
													<td> {{ lang.common.damage }} <span> {{finisher.min_damage}} - {{finisher.max_damage}}</span>
													</td>
													<td><span>{{calcUpgrade(finisher.min_damage)}} - {{calcUpgrade(finisher.max_damage)}}</span>
													</td>
													<td>
														<a href="#" class="btn btn-generic btn-green">
															{{lang.common.improve}}
														</a>
													</td>
												</tr>
												
												<tr>
													<td>
														{{lang.attributes.attack_bonus}} 
														<span> {{finisher.attack_bonus}} </span>
													</td>
													<td>
														<span>{{calcUpgrade(finisher.attack_bonus)}}</span>
													</td>
													<td>
														<a href="#" class="btn btn-generic btn-green">
															{{lang.common.improve}}
														</a>
													</td>
												</tr>
												
												<tr>
													<td> 
														{{lang.attributes.bleed_bonus}} 
														<span>{{finisher.move_bonus}}</span>
													</td>
													<td><span>1</span>
													</td>
													<td>
														<a href="#" class="btn btn-generic btn-green">{{lang.common.improve}}</a>
													</td>
												</tr>
												
											</table>
											
										</div>
										
										
										<div class="abs-top abs-left">
											
											<div class="stats">
												<div 
													class="stat damage"
													v-tooltip="lang.common.damage+': '+calcUpgrade(finisher.min_damage)+'-'+calcUpgrade(finisher.max_damage)"
												>
													{{finisher.min_damage}}-{{finisher.max_damage}}
												</div>
												<div class="stat attack" v-tooltip="lang.common.attack_bonus_desc">
													{{finisher.attack_bonus}}
												</div>
												<div 
													class="stat bloody"
													v-tooltip="lang.common.bleed_bonus_desc"
												>
													{{finisher.move_bonus}}
												</div>
											</div>
											
										</div>
										
										<div class="abs-top abs-right">
											<a class="btn btn-green btn-generic" @click="finisher.show = 1">
												{{lang.common.improve}}
											</a>
											&nbsp;
											<a class="btn btn-transparent tr-black btn-generic">&#10005;</a>
										</div>
										
										<div class="abs-bottom abs-right">
											<table align="right" class="positions">
												<tr>
													<th colspan="2">
														{{lang.attributes.adrenaline}}: 
														<span class="txt_green">
															{{finisher.adrenaline_cost}}
														</span>
														</th>
												</tr>
												<tr>
													<td>{{lang.common.required}}</td>
													<td>{{lang.common.obtained}}</td>
												</tr>
												<tr>
													<td>{{lang.sections.moves.positions["pos_"+finisher.required]}}</td>
													<td>{{lang.sections.moves.positions["pos_"+finisher.obtained]}}</td>
												</tr>
											</table>
										</div>
										
										<div class="abs-bottom abs-left">
											<a class="btn btn-green btn-generic">{{lang.common.modify}}</a>
										</div>
										
										<div class="skill-img" style="background-image: url('/img/palestra/forza-potenza.jpg');"></div>
	
									</div>
	
								</div>
								<!-- /skill -->		
								
							</div>
							
						</div>
	
					</div>
				
				</div>
				<!-- /skill-box -->
				
				<div class="fullwidth">
					
					<div class="cbox">
				
						<div class="infobox">
							<span v-html="lang.sections.finishers.infobox">
							</span>
						</div>
						
					</div>
					
				</div>
					
			</div>
			
		</div>
		
		<div id="pullable" :class="showFinisherForm ? 'opened': 'closed'">

			<div class="cbox">

				<div class="tabs one-tabs">

					<div class="tab active">{{finisherId ? lang.common.edit_finisher : lang.common.create_finisher}}</div>
					<div id="puller" @click="toggleFinisherForm()"></div>

				</div>

			</div>

			<div class="cbox dark-box" id="pullable-content">

				<div class="content morepadding">
					
					<form>
					
						<label>{{lang.common.name}}:<br>
							<input type="text" name="name" v-model="formData.name" required>
						</label>
						
						<br>
						<br>

						<label>{{lang.common.preparation}}:<br>
							<input type="text" name="preparation" v-model="formData.preparation" required>
						</label>
						
						<br>
						<br>

						<label>{{ lang.common.finalization }}:<br>
							<input type="text" name="finalization" v-model="formData.finalization" required>
						</label>
						
						<br>
						<br>
						
						<label>{{lang.common.type}}:<br>
							<select name="genre" v-model="formData.type" required>
								<option value="1">{{lang.move_types.direct_damage}}</option>
								<option value="2">{{lang.move_types.submission}}</option>
								<option value="3">{{lang.move_types.pinning}}</option>
							</select>
						</label>
						
						<br>
						<br>
						
						<label>{{lang.common.required_position}}:<br>
							<select name="required_pos" v-model="formData.required_pos" required>
								<option :selected="true" value="0" disabled>{{lang.common.select_position}}</option>
								<option 
									v-for="position in positions.required" 
									:key="position" 
									:value="position" 
								>
									{{lang.sections.moves.positions["pos_"+position]}}
									( {{ calcRequiredPositionCost(position) > 0 
										? "+"+ calcRequiredPositionCost(position) 
										: calcRequiredPositionCost(position).toLocaleString() }} )
								</option>
							</select>
						</label>
						
						<br>
						<br>
						
						<label>{{lang.common.forced_position}}:<br>
							<select name="obtained_pos" v-model="formData.obtained_pos" required>
								<option selected  value="0" disabled>{{lang.common.select_position}}</option>
								<option 
									v-for="position in positions.obtained" 
									:key="position" 
									:value="position"
								>
									{{lang.sections.moves.positions["pos_"+position]}} 
									( {{ calcForcedPositionCost(position) > 0 
										? "+"+ calcForcedPositionCost(position) 
										: calcForcedPositionCost(position).toLocaleString() }} )
								</option>
							</select>
						</label>
						
						<br>
						<br>
						
						<label>{{lang.common.status}}:<br>
							<select name="status" v-model="formData.status" required>
								<option v-for="(status, key) in statuses" :key="key" :value="key+1">
									{{status}}
								</option>
							</select>
						</label>
						
						<br>
						<br>

						<label>{{lang.common.minimum_damage}}: (<span class="txt_green">X4</span> {{lang.common.adrenaline}})<br>
							<input type="number" name="min_damage" v-model="formData.min_damage" required>
						</label>
						
						<br>
						<br>

						<label>{{lang.common.maximum_damage}}: (<span class="txt_green">X3</span> {{lang.common.adrenaline}})<br>
							<input type="number" name="max_damage" v-model="formData.max_damage" required>
						</label>
						
						<br>
						<br>

						<label>{{lang.common.attack_bonus}}: (<span class="txt_green">X5</span> {{lang.common.adrenaline}})<br>
							<input type="number" name="attack_bonus" v-model="formData.attack_bonus" required>
						</label>
						
						<br>
						<br>

						<label v-if="formData.type == 1">
							{{lang.common.bleed_bonus}}: (<span class="txt_green">X10</span> {{lang.common.adrenaline}})<br>
							<input type="number" name="bleed_bonus" v-model="formData.bonuses.bleed" required>
						</label>
						
						<label v-if="formData.type == 2">
							{{lang.common.submission_bonus}}: (<span class="txt_green">X10</span> {{lang.common.adrenaline}})<br>
							<input type="number" name="submission_bonus" v-model="formData.bonuses.submission" required>
						</label>
						
						<label v-if="formData.type == 3">
							{{lang.common.pin_bonus}}: (<span class="txt_green">X10</span> {{lang.common.adrenaline}})<br>
							<input type="number" name="pin_bonus" v-model="formData.bonuses.pin" required>
						</label>
						
						<br>
						<br>
						
						<div class="txt_center">
							<input 
								type="submit" 
								class="btn btn-generic btn-green" 
								:value="lang.common.save"
								@click.prevent="saveFinisher()"
							>
							&nbsp;
							<input type="reset" class="btn btn-generic btn-red" @click="cancelFinisher()" :value="lang.common.cancel">
						</div>
					
					</form>
					
					<br>
					<br>
					
					<div class="preview-box">
						
						<h3>
							{{lang.common.preview}} - 
							<span class="txt_white">{{lang.common.adrenaline}}:</span> 
							<span class="txt_green"> {{ finisherCost }} </span>
						</h3>
						
						<div class="step final"  v-if="textIsValid">
							<b>{{info.wrestler_name}}</b> 
							{{formData.preparation}} 
							{{formData.finalization}}
							{{lang.common.executing}}
							<span> {{formData.name}} </span>
						</div>
						
					</div>
						
				</div>

			</div>

		</div>

	</div>

</template>
<script>

import Swipe from 'swipejs/build/swipe.min.js';
import SubNav from '@/components/SubNav.vue';


export default {

    components: {
        SubNav
    },

    data(){
        return {
			positions: {
				required: [3,4,5,6,7,8,9,10,11,12,13,16],
				obtained: [3,4,5,6,16]
			},
			statuses: [
				"100%",
				"75%",
				"50%",
				"25%",
				"10%"
			],
            swipe: {},
			fetched: {},
			showFinisherForm: false,
			finisherId: 0,
			formData:{
				name: "finisher",
				preparation: "lifts the opponent",
				finalization: "and slams him on the ground",
				min_damage: 0,
				max_damage: 0,
				attack_bonus: 0,
				bonuses: {
					bleed: 0,
					submission: 0,
					pin: 0
				},
				obtained_pos: 0,
				required_pos: 0,
				type: 1,
				status: 1,
			}
        }
    },
	
	created(){
        this.fetchData();
	},


	updated(){
		this.initSwipe();
	},

	computed: {
		finisherCost(){
			//Add attack bonus
			var cost = this.formData.attack_bonus * 5;

			//Add special bonuses 
			var bonusCost = 0;
			Object.keys(this.formData.bonuses).forEach(key => {
				cost += (this.formData.bonuses[key] * 10);
			});

			//Add damage cost
			cost += this.formData.min_damage * 4; 
			cost += this.formData.max_damage * 3;

			//Add positions costs
			cost += this.calcForcedPositionCost(this.formData.obtained_pos);
			cost += this.calcRequiredPositionCost(this.formData.required_pos);

			return cost;
		},
		textIsValid(){
			return this.formData.name.length > 0 && this.formData.preparation.length > 0 && this.formData.finalization.length > 0;
		},
		finisherType(){
			return this.formData.type;
		},
		statusPercentage(){
			switch(this.formData.status){
				case 1:
					return 100;
				case 2:
					return 85;
				case 3:
					return 70;
				case 4:
					return 55;
				case 5:
					return 40;
				case 6:
					return 25;
			}
		}

	},

    methods: {


		formIsValid(){

			return true;
		},

        fetchData() {
            fetch(this.fullPath+"/wg/api/?get_data=finisher")
			.then(result => result.json())
			.then((json)=> {
				this.fetched = json;
			})
			.then(() => {
				this.initSwipe();
			});
		},

		initSwipe(){
			this.swipe = new Swipe(document.getElementById('finisherbox'), {
				startSlide:0,
				auto:0,
				draggable:true,
				autoRestart:false,
				continuous:true,
				disableScroll:true,
				stopPropagation:true,
				callback:function() {},
				transitionEnd:function() {}
			});	
		},

		toggleFinisherForm(){
			this.showFinisherForm = !this.showFinisherForm;
		},

        nextFinisher() {
            return this.swipe.next();
        },

        prevFinisher() {
            return this.swipe.prev();
		},
	

        calcUpgrade(dmg) {
            return dmg * 1.05;
        },

        calcUpgradeCost(level){
            return level+5;
        },

        deleteFinisher(){
            if(confirm("Are you sure you want to delete this finisher?")){
                this.fetchData();
            }
		},
		
		cancelFinisher(){
			this.finisherId = 0;
			this.formData = {
				name: "",
				preparation: "lifts the opponent",
				finalization: "and slams him on the ground",
				min_damage: 0,
				max_damage: 0,
				attack_bonus: 0,
				bonuses: {
					bleed: 0,
					submission: 0,
					pin: 0
				},
				obtained_pos: 0,
				required_pos: 0,
				type: 1,
				status: 1,
			}
		},
		calcRequiredPositionCost(pos){
			switch(pos){
				
				case 3:
					return 100;

				case 4:
					return 50;

				case 5:
					return 250;

				case 6:
				case 7:
					return -100;

				case 8:
				case 16:
					return -50;

				case 9:
					return -400;


				case 10:
				case 11:
					return -150;
				case 12:
				case 13:
					return -250;

				default:
					return 0;

			}
		},
		calcForcedPositionCost(pos){
			switch(pos){
				
				case 3:
					return 100;

				case 4:
					return 80;

				case 5:
					return 0;

				case 6:
					return 20;

				case 16:
					return -60;

				default:
					return 0;

			}
		},
		saveFinisher(){

			//Get the special bonus
			var specialBonus = 0;
			Object.keys(this.formData.bonuses).forEach((bonus) => { 
				if(this.formData.bonuses[bonus] > 0){
					return specialBonus = this.formData.bonuses[bonus];
				}
			});



			//Build the request body
			var body = {
				action: "create_finisher",
				name: this.formData.name,
				prepa: this.formData.preparation,
				after: this.formData.finalization,
				min_dam: this.formData.min_damage,
				max_dam: this.formData.max_damage,
				extra_bonus: specialBonus,
				attack_bonus: this.formData.attack_bonus,
			}

			//Then we send he request
			fetch(this.fullPath+"/wg/api/actions.asp", {
				
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				},
				method: "POST",
				body: JSON.stringify(body)

			}).finally(() => this.fetchData());
		}

	},

	watch: {
		finisherType(){
			this.formData.bonuses.bleed = 0;
			this.formData.bonuses.submission = 0;
			this.formData.bonuses.pin = 0;
		}
	}
}
</script>
