<template>
    <div class="fullwidth fullheight palestra">
    

        
        <sub-nav area="gym" section="trainer" subsection="moves"></sub-nav>

        <div class="fullwidth form-area">
        
            <div class="cbox">
                
                <label>
                    <input v-model="unlearned" type="checkbox" class="checkbox white" name="moves-not-learned"> 
                    {{lang.common.unlearned}}
                </label>
                
                <label>
                    <input v-model="disabled" type="checkbox" class="checkbox white" name="moves-disabled">
                    {{ lang.common.disabled }}
                </label>
                
                <div class="reset" title="Reset" @click="reverseOrder = !reverseOrder"></div>
                
                <select v-model="sortBy" name="sortBy">
                    <option value="" selected="selected"> {{ lang.common.order_by }} </option>
                    <option 
                        v-for="(value, index) in lang.sections.moves.order_by" 
                        :key="index" 
                        :value="index" 
                    >
                        {{ lang.common.order_by }} {{ value }}
                    </option>

                </select>
                
            </div>
        
        </div>
        
        <div class="fullwidth subform-area cols-2">
        
            <div class="fullbox">
                
                <div class="content">
                
                    <select name="requiredPosition" v-model="filters.requiredPosition">
                        <option value="">{{ lang.common.required_position }}</option>
                        <option 
                            v-for="id in positions.required" 
                            :key="id"
                            :value='id' 
                        >
                            {{ lang.sections.moves.positions["pos_"+id] }}
                        </option>
                    </select>
                    
                </div>
                
            </div>
            
            <div class="fullbox">
                
                <div class="content">
                
                    <select name="obtainedPosition" v-model="filters.obtainedPosition">
                        <option value="">{{ lang.common.obtained_position }}</option>
                        <option 
                            v-for="id in positions.obtained" 
                            :key="id"
                            :value='id' 
                        >
                            {{ lang.sections.moves.positions["pos_"+id] }}
                        </option>
                    </select>
                    
                </div>
                
            </div>
            
            <div class="clear"></div>
            
        </div>
        
        <div class="sub-section">
            
            <div class="moveboxes">
                
                <div id="movesbox" class="mv-box">
                    
                    <div class="swipable" v-if="moveGroups">
                
                        <div v-for="(group, key) in moveGroups" :key="key" class="moveboxes-group">
                                                        
                            <!-- Move -->
                            <div 
                                v-for="(move, key) in group" 
                                :key="key" 
                                :class="'move' + (move.enabled ? '' : ' disabled')" 
                                style="background-image:url('/img/moves/4.jpg');"
                                @click="improveMove(move)"
                            >
                                <div class="stats">
                                    <div class="stat damage" v-tooltip="lang.common.damage + ': ' + calcUpgrade(move.min_dmg)+'-'+calcUpgrade(move.max_dmg)">
                                         {{move.min_dmg}}-{{move.max_dmg}}
                                    </div>
                                    <div class="stat attack"  v-tooltip="lang.common.attack_bonus_desc">
                                        {{ move.attack_bonus }}
                                    </div>
                                    <div class="stat bloody" v-tooltip="lang.common.bleed_bonus_desc">
                                        {{move.bleed_bonus}}
                                    </div>
                                </div>
                                
                                <a v-if="move.enabled" :class="move.level ? 'upgrade' : 'learn'" href="#" v-tooltip="move.level ? lang.common.improve : lang.common.learn">
                                </a>
                                
                                <div class="upgrade-info">
                                    <div class="row1">
                                        <span class="time" v-tooltip="lang.common.time_desc"> {{ getTimeString(move.upgrade_time) }}
                                        </span>
                                        <span class="price" v-tooltip="lang.common.cost_desc">
                                            {{move.upgrade_cost}}
                                        </span>
                                    </div>
                                    <div class="row2" v-tooltip="move.progress">
                                        <div class="lvl">
                                            <span>LVL</span>
                                            <span>{{move.level}}</span>
                                        </div>
                                        <div class="movebar">
                                            <span>{{move.name}}</span>
                                            <div class="progress" :style="'width:'+ move.progress"></div>
                                            <a @click="toggleMove(move)" class="onoff" href="#" :title="lang.common.disable_move"></a>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- //move -->

                        </div>

                    </div>
                
                </div>
                
                <a class="nav-btn nav-right" id="next" @click="swipe.next()"></a>
                <a class="nav-btn nav-left" id="prev" @click="swipe.prev()"></a>
                    
            </div>
        </div>
        
        <div class="fullwidth move-progress">
            
            <div :class="'cbox ' + (showProgressList ? 'opened' : 'closed')" id="move-progress-box">
                
                <!-- queue drop up -->
                <div class="queue-dropup">
                    
                    <div class="title">
                        {{ lang.common.moves_currently_training }}
                    </div>
                    
                    <!-- queued move -->
                    <div v-for="(move,index) in training_queue" :key="index">
                        <div class="prog-content">
                        
                            <span class="prog-percent">+1</span>
    
                            <div class="move-progbar">
                                <div class="move-name">{{move.name}}</div>
                            </div>
                        </div>
                        <div class="cancel-move-btn" @click="removeFromQueue(index)"></div>
                        <div class="clear"></div>
                    </div>
                </div>


                <div class="prog-content">
                    
                    <span class="prog-percent">{{trainingProgress ? trainingProgress + '%' : ''}}</span>
                    
                    <div class="move-progbar">
                        <div class="move-name">
                            {{currently_training.name ? currently_training.name : ""}}
                        </div>
                        <div class="progress" 
                        :style="'width:'+trainingProgress+'%'">
                        </div>
                    </div>
                    
                </div>
                
                <div v-if="training_queue.length" id="move-btn" @click="toggleProgressList()"></div>
                
                <div class="clear"></div>
                
            </div>
            
            <div class="cbox move-queue" v-tooltip="lang.common.move_queue_desc">
                                
                <div :class="'queue step'+training_queue.length"></div>
                
            </div>
            
        </div>
        
    </div>
</template>

<script>

    import SubNav from '@/components/SubNav.vue'
    import Swipe from 'swipejs/build/swipe.min.js';

    export default {

        components: {
            SubNav
        },

        created(){
            this.fetchData();
        },

        mounted(){
            var t = setInterval(() => {
                if(this.hasData(this.moves)){
                    clearInterval(t)
                    this.initSwipe();
                }
            }, 500);
        },
        
        destroyed(){
            this.swipe.kill();
        },

        data(){
            return {
                positions: {
                    required: [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16],
                    obtained: [0,1,2,3,4,5,20,30]
                },
                swipe: {},
                showProgressList: false,
                disabled: false,
                unlearned: true,
                sortBy: "",
                reverseOrder: 0,
                filters:{
                    requiredPosition: "",
                    obtainedPosition: ""
                },
                moves: [],
                training_queue: [],
                currently_training: {},
            }
        },
        computed: {
            moveGroups(){

                if(!this.newMoves && !this.ownedMoves){
                    return [];
                }

                var moves = this.unlearned ? this.newMoves : this.ownedMoves;
                moves = this.disabled && !this.unlearned ? moves.filter((move) => !move.enabled) : moves;

                if(this.filters.requiredPosition){
                    moves = moves.filter(move => move.required_position == this.filters.requiredPosition)
                }

                if(this.filters.obtainedPosition){
                    moves = moves.filter(move => move.obtained_position == this.filters.obtainedPosition)
                }

                if(this.sortBy !== "") {
                    moves.sort((a, b) => {
                        if(a[this.sorter] > b[this.sorter]) { return 1 }
                        if(a[this.sorter] < b[this.sorter]) { return -1 }
                        return 0;
                    });
                }

                if(this.reverseOrder){
                    moves.reverse();
                }


                return this.createMoveGroups(moves);

            },
            ownedMoves(){            
                if(this.moves.length)
                    return this.moves.filter((move) => move.level);
            },
            newMoves(){
            
                if(this.moves.length)
                    return this.moves.filter((move) => !move.level);
            
            },

            sorter(){
                
                var sorters = [
                    "required_position",
                    "name",
                    "level",
                    "min_dmg",
                    "max_dmg",
                    "attack_bonus",
                    "bleed_bonus",
                    "upgrade_cost"
                ]

                return sorters[this.sortBy];
            },
            
            trainingProgress(){
                var prog = this.currently_training.progress;
                if(prog){
                    var calc = Math.round(((prog.current + this.ticker)/prog.total)*100);
                    if(calc >= 100){
                        this.fetchData();
                    }
                    return calc < 100 ? calc : 100;
                }
                return 0;
            },
        },

        methods: {
            fetchData(){
                fetch(this.fullPath+"/wg/api/?get_data=moves")
                    .then((data) => data.json())
                    .then(({currently_training, training_queue, moves}) => { 
                        this.currently_training = currently_training;
                        this.training_queue = training_queue;
                        this.moves = moves;
                        this.ticker = 0;
                });
            },
            initSwipe(){
                this.swipe = new Swipe(document.querySelector("#movesbox.mv-box") , {
                    startSlide:0,
                    auto:0,
                    draggable:true,
                    autoRestart:false,
                    continuous:false,
                    disableScroll:true,
                    stopPropagation:true,
                    callback:function(index, element) {},
                    transitionEnd:function(index, element) {}
                });
            },
            toggleProgressList(){
                this.showProgressList = this.showProgressList ? false : true;
            },
            calcUpgrade(val){
                return Math.round(val * 10.25) / 10;
            },
            getTimeString(timestamp){
                var string = "";
                
                var hours = Math.floor(timestamp / 3600);
                var minutes = Math.floor((timestamp - (hours * 3600)) / 60);
                var seconds = (timestamp  - (hours * 3600) - (minutes * 60));

                string += hours ? hours+"H " : "";
                string += minutes + "M";
                string += hours ? "" : " "+seconds+"S";
                

                return string;
            },
        
            removeFromQueue(index){
                var move = this.training_queue.splice(index, 1);
            },
            toggleMove(move){
                move.enabled = !move.enabled;
            },
            createMoveGroups(moves){
                
                var moveGroups = [];
                var groups = Math.ceil(moves.length / 4);
                
                for(var i = 0; i < groups; i++){
                    var start = i*4;
                    moveGroups.push(moves.slice(start, start+4));
                }

                return moveGroups;
            },
            improveMove(move){
                fetch(this.fullPath+"/wg/api/actions.asp?action=improve_move&m="+move.id)
                    .finally(() => this.fetchData());
            }

        },
        watch: {
            unlearned(){
                this.initSwipe();
            },
            disabled(){
                this.initSwipe();
            }
        }
    }
</script>
