<template>
    <div class="fullwidth fullheight palestra">
        <sub-nav area="gym" section="private_gym">
        </sub-nav>
		<div class="sub-section">
			
			<!-- skill box -->
			<div class="skill-box trtafi">
				
				<div class="swipable">
					
					<a class="nav-btn nav-right" id="next" @click="next()"></a>
					<a class="nav-btn nav-left" id="prev" @click="prev()"></a>
					
					<div id="gymbox" class="swipe">
						
						<div class="swipe-wrap">
							
							<!-- skill -->
							<div class="swipe-item" v-for="(pg, key) in fetched" :key="key">
								
								<div class="skill-name">{{pg.name}}<span>lvl {{pg.level}}</span></div>

								<div class="skill-info">
									
									<div class="abs-top abs-left">
										
										<div class="stats">
											<div class="stat tps">
												10
											</div>
										</div>
										
									</div>
									
									<div class="abs-top abs-right">
										<a 
                                            :class="'btn btn-generic' + (info.tps < 10 ? ' btn-gray' : ' btn-green')"
                                            @click="upgradeGym(pg)"
                                        >
                                            {{pg.level ? lang.common.improve : lang.common.learn }}
                                            (10 TPS)
                                        </a>
									</div>
									
									<div class="abs-bottom abs-right">
										<table align="right" class="positions">
											<tr>
												<th colspan="2">{{pg.description}}</th>
											</tr>
										</table>
									</div>
									
									<div class="skill-img" style="background-image: url('/img/privategym/pg_102.jpg');"></div>

								</div>

							</div>
							<!-- /skill -->
							
							
						</div>
						
					</div>

				</div>
			
			</div>
			<!-- /skill-box -->
			
			<div class="fullwidth">
				
				<div class="cbox">
			
					<div class="infobox">
						<span v-html="lang.sections.private_gym.infobox ">
						</span>
					</div>
					
				</div>
				
			</div>
				
		</div>	
	</div>
</template>
<script>

import Swipe from 'swipejs/build/swipe.min.js';
import SubNav from '@/components/SubNav.vue';

export default {
    components: {SubNav},
    data(){
        return {
            swipe: {},
            fetched: {}
        }
    },
    created(){
        this.fetchData();
    },	
	updated(){
		this.initSwipe();
	},
    
    methods: {
        fetchData(){
            fetch(this.fullPath+"/wg/api/?get_data=pg")
			.then(result => result.json())
			.then((json)=> {
				this.fetched = json;
            })
            .finally(() =>{
				this.initSwipe();
            });
        },

		initSwipe(){	
			this.swipe = new Swipe(document.getElementById('gymbox'), {
				startSlide:0,
				auto:0,
				draggable:true,
				autoRestart:false,
				continuous:true,
				disableScroll:true,
				stopPropagation:true,
				callback:function() {},
				transitionEnd:function() {}
			});	
        },
        next(){
            this.swipe.next();
        },

        prev(){
            this.swipe.prev();
        },
        upgradeGym(gym){
			//Return if cost exceeds tps
			if(this.info.tps < 10) return this.fetchData();
			//Process request
			fetch(this.fullPath+"/wg/api/actions.asp?action=learn_pg&id_pg="+gym.id)
				.finally(() => this.fetchData());
		}
    }

}
</script>
