<template>
    	
	<div class="fullwidth fullheight palestra">

        <sub-nav area="sparring" section="sparring_result">
        </sub-nav>		

        <div class="trleagboxes">
        
            <!-- tournament/league box -->
            <div class="trleagbox" v-if="hasData(fetched)">

                <div class="title">{{lang.common.results}}</div>

                <div class="content">
                    
                    <h3 align="center"> 
                        {{lang.sections.sparring_partner.general.exp_result}}
                        <b class="txt_green">{{fetched.exp}}</b> 
                        {{lang.common.experience_points}}
                    </h3>
                    
                    <table class="trlginfo">
                        <tr>
                            <th>
                                {{lang.pages.finishers}}/{{lang.pages.taunts}}/{{lang.pages.trademarks}}
                            </th>
                            <th>{{lang.common.executions}}</th>
                        </tr>
                        <tr v-for="(item, key) in fetched.main" :key="key">
                            <td>{{item.name}}</td>
                            <td>{{item.execs}}</td>
                        </tr>
                    </table>
                    
                    <table class="trlginfo">
                        <tr>
                            <th>{{lang.pages.moves}}</th>
                            <th>{{lang.common.executions}}</th>
                        </tr>
                        <tr v-for="(item, key) in fetched.moves" :key="key">
                            <td>{{item.name}}</td>
                            <td>{{item.execs}}</td>
                        </tr>
                    </table>

                    <router-link tag="a" to="/gym/sparring_partner" class="btn btn-generic btn-green sparring-back">
                        Go back
                    </router-link>
                </div>


            </div>
            <!-- /tournament/league box -->

        </div>

	</div>
</template>
<script>

import SubNav from '@/components/SubNav.vue';

export default {
    
    components: {SubNav},

    created(){
        this.fetchData();
    },

    data(){
        return {
            fetched: {},
            hire: 1
        }
	},

    methods: {
        fetchData(){
            fetch(this.fullPath+"/wg/api/?get_data=last_sparringtraining")
			.then(result => result.json())
			.then((json)=> {
				this.fetched = json;
            });
		},
		hirePartner(){
			if(!this.canHire) return false;
		}
    }
}
</script>
