<template>
    	
	<div class="fullwidth fullheight palestra">

        <sub-nav area="gym" section="sparring_partner">
        </sub-nav>		

		<div class="trleagboxes">
		
			<!-- tournament/league box -->
			<div class="trleagbox" v-if="hasData(fetched)">

				<div class="title">
                    {{lang.sections.sparring_partner.general.sparring_partner}} 
                    (LVL {{fetched.partner.level}})
                </div>

				<div class="content">
					
					<form name="hire-master">
						<table class="trlginfo">
							<tr>
								<td style="width:70%;">
									<select style="width:100%;" v-model="hire">
										<option 
                                            v-for="(partner, key) in fetched.available_partners" 
                                            :key="key"
                                            :value="partner.id"
                                        >
                                            {{partner.name}} - {{lang.common.cost}} {{partner.cost}} TPs
                                        </option>
										<!-- +option loop -->
									</select>
								</td>
								<td style="width:30%;">
									<input 
										type="submit" class="btn btn-generic" 
										:class="canHire ? 'btn-green' : 'btn-gray'" 
										:value="lang.common.hire"
										@click.prevent="hirePartner()"
									>
                                </td>
							</tr>
						</table>
					</form>
					
					<br>
					
					<table class="trlginfo" v-if="hasData(fetched.partner)">
						<tr>
							<th>{{lang.sections.sparring_partner.general.partner_level}}</th>
							<th>LVL {{ fetched.partner.level }}</th>
						</tr>
						<tr>
							<td>{{lang.sections.sparring_partner.general.sessions_remaining}}</td>
							<td>{{ fetched.partner.sessions }}</td>
						</tr>
						<tr>
							<td>{{lang.sections.sparring_partner.general.exp_gained}}</td>
							<td>{{ fetched.partner.exp_gained }}</td>
						</tr>
						<tr>
							<td>{{lang.sections.sparring_partner.general.finishers_executions_gained}}</td>
							<td>{{ fetched.partner.fins_execs }}</td>
						</tr>
						<tr>
							<td>{{lang.sections.sparring_partner.general.trademarks_executions_gained}}</td>
							<td>{{ fetched.partner.tms_execs }}</td>
						</tr>
						<tr>
							<td>{{lang.sections.sparring_partner.general.taunts_executions_gained}}</td>
							<td>{{ fetched.partner.taunts_execs }}</td>
						</tr>
						<tr>
							<td>{{lang.sections.sparring_partner.general.moves_executions_gained}}</td>
							<td>{{ fetched.partner.moves_execs }}</td>
						</tr>
					</table>

					<div align="center" v-if="hasData(fetched.partner)"> 
						
						<span class="arial" v-if="!fetched.partner.can_train" v-html="lang.sections.sparring_partner.general.extra_training"></span><br>
						<br>
						<a href="#" class="btn btn-generic btn-green" @click.prevent="train()">
							{{lang.common.train}} 
							({{fetched.partner.can_train ? lang.common.free : '2 TPs'}})
						</a>

					</div>

				</div>

			</div>
			<!-- /tournament/league box -->

			<div class="cbox">

				<div class="infobox">
					<span v-html="lang.sections.sparring_partner.infobox">
					</span>
				</div>

			</div>

		</div>
	</div>
</template>
<script>

import SubNav from '@/components/SubNav.vue';

export default {
    
    components: {SubNav},

    created(){
        this.fetchData();
    },

    data(){
        return {
            fetched: {},
            hire: 1
        }
	},
	computed: {
		masterToHire(){
			var toHire;
			this.fetched.available_partners.forEach((master)=> {
				if (master.id == this.hire) toHire = master;
			})
			return toHire;
		},
		canHire(){
			return this.info.tps >= this.masterToHire.cost;
		}
	},
    methods: {
        fetchData(){
            fetch(this.fullPath+"/wg/api/?get_data=sparring")
			.then(result => result.json())
			.then((json)=> {
				this.fetched = json;
            });
		},
		hirePartner(){
			if(!this.canHire) return false;
			fetch(this.fullPath+"/wg/api/actions.asp?action=hire_sparring&sparring="+this.hire)
				.finally(() => this.fetchData());	
		},
		train(){
			if(this.fetched.partner.can_train){
				fetch(this.fullPath+"/wg/api/actions.asp?action=sparring_train")
					.finally(() => this.showResult());
			} else if(this.info.tps > 2) {
				fetch(this.fullPath+"/wg/api/actions.asp?action=sparring_train&force=tps")
					.finally(() => this.showResult());
			} 
		},
		showResult(){
			this.$router.push('/gym/sparring_result');
		}
    }
}
</script>
