<template>
    <div class="fullheight sskills">
        <div class="fullwidth fullheight palestra">
		
            <sub-nav area="gym" section="trainer" subsection="special_abilities">
			</sub-nav>
		
            <div class="sub-section">
                
                <div class="twotwoboxes advtec">
                    
                    <div id="movesbox" class="sa-box">
                        
                        <!-- <div class="swipable"> -->
                                                    
                            <div class="scrollable">
                                <div v-for="(sa, key) in sas" :key="key" class="item learned">
                                    <div class="advt-info">
                                        <img :src="'/img/sskills/ss_'+(51+key)+'.png'" alt="">
                                        <div>
                                            <span>{{sa.description}}</span>
                                            <br>
                                            <span>{{lang.common.current_bonus}}: 
                                                <b class="txt_green">{{sa.current_bonus}}</b>
                                            </span>
                                        </div>
                                    </div>
                                    
                                    <a 
                                        @click="upgradeSA(sa)"
                                        :class="getUpgradeIconClass(sa)" href="#" 
                                        v-tooltip="lang.common.improve"
                                    >
                                    </a>
                                    
                                    <div class="upgrade-info">
                                        <div class="row1">
                                            <span class="price">{{sa.cost.toLocaleString()}}</span>
                                        </div>
                                        <div class="row2">
                                            <div class="lvl">
                                                <span>LVL</span>
                                                <span>{{sa.level}}</span>
                                            </div>
                                            <div class="movebar" v-tooltip="lang.common.efficiency+' '+50+'%'">
                                                <span>{{sa.name}}</span>
                                                <div class="progress" style="width:50%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        
                        <!-- </div> -->
                    
                    </div>
                    
                    <!-- <a class="nav-btn nav-right" id="next" @click="swipe.next()"></a>
                    <a class="nav-btn nav-left" id="prev" @click="swipe.prev()"></a> -->
                        
                </div>
                
                <div class="fullwidth">
                    
                    <div class="cbox">
                        
                        <div class="space h5 hide768 hide1024"></div>
                        
                        <div class="infobox">
                            <span>
                                {{lang.sections.advanced_techniques.infobox}}
                            </span>
                        </div>
                        
                    </div>
                    
                </div>

            </div>
		
	</div>
	
	<div id="pullable" :class="showResetBox ? 'opened' : 'closed'">

		<div class="cbox">

			<div class="tabs one-tabs">

				<div class="tab active">{{lang.common.reset}}</div>
				<div id="puller" @click="toggleResetBox()"></div>

			</div>

		</div>

		<div class="cbox dark-box" id="pullable-content">

            <div class="content" style="height:calc(100% - 40px);">
                
                <table style="width:100%;height:100%;">
                    <tr>
                        <td valign="middle">
                            
                            <div align="center">
                                <a href="#" class="btn btn-generic btn-red"  @click="resetSAs()">{{lang.common.reset_20}}</a>
                            </div>
                            
                        </td>
                    </tr>
                </table>

            </div>

		</div>

	</div>
    </div>
</template>


<script>

import Swipe from 'swipejs/build/swipe.min.js';
import SubNav from '@/components/SubNav.vue';

export default {
    components: {
        SubNav
    },    

    created() {
        this.fetchData();
    },
    
    mounted(){
        var t = setInterval(() => {
            if(this.hasData(this.sas)){
                clearInterval(t)
                this.initSwipe();
            }
        }, 500);
    },

    data(){
        return {
            swipe: {},
            sas: {},
            showResetBox: false
        }
    },


    computed: {
        // saGroups(){
            
        //     var saGroups = [];
        //     var groups = Math.ceil(this.sas.length / 4);
            
        //     for(var i = 0; i < groups; i++){
        //         var start = i*4;
        //         saGroups.push(this.sas.slice(start, start+4));
        //     }

        //     return saGroups;
        // },

    },
    
    methods: {
        fetchData(){
            fetch(this.fullPath+"/wg/api/?get_data=sa")
                .then((data) => data.json())
                .then((sas) => { 
                    this.sas = sas.special_skills;
            });
        },
        // initSwipe(){
        //     this.swipe = new Swipe(document.querySelector("#movesbox.sa-box") , {
        //         startSlide:0,
        //         auto:0,
        //         draggable:true,
        //         autoRestart:false,
        //         continuous:false,
        //         disableScroll:true,
        //         stopPropagation:true,
        //         callback:function(index, element) {},
        //         transitionEnd:function(index, element) {}
        //     });
        // },
        toggleResetBox(){
            this.showResetBox = !this.showResetBox;            
        },
        upgradeSA(sa){
            if(sa.cost > this.info.money) return this.fetchData();
            if(sa.level == 0) {
                fetch(this.fullPath+"/wg/api/actions.asp?action=learn_sa&sa_id="+sa.id)
                .finally(() => this.fetchData());
            } else {
                fetch(this.fullPath+"/wg/api/actions.asp?action=learn_sa&sa_id="+sa.id)
                .finally(() => this.fetchData());
            }
        },
        resetSAs(){
            fetch(this.fullPath+"/wg/api/actions.asp?action=reset_sa")
            .finally(() => this.fetchData());
        },
        getUpgradeIconClass(sa){
           
           if(this.info.money <= sa.cost) return "upgrade disabled";

            return sa.level == 0 ? "learn" : "upgrade";
            
        }
    }

}

</script>
