<template>
	<div class="fullwidth fullheight palestra">
		
		<sub-nav area="gym" section="trainer" subsection="stats"></sub-nav>
		
		<div class="sub-section">
			
			<div class="skills-tabs">
				
				<div @click="selectedStat = 0" :class="'skill-tab' + (selectedStat ==  0? ' active' : '')">
					<div class="skill-name">{{lang.stats[0]}}<span>{{basic.strength}}</span></div>
				</div>
				
				<div @click="selectedStat = 1" :class="'skill-tab' + (selectedStat ==  1? ' active' : '')">
					<div class="skill-name">{{lang.stats[1]}}<span>{{basic.speed}}</span></div>
				</div>
				
				<div @click="selectedStat = 2" :class="'skill-tab' + (selectedStat ==  2? ' active' : '')">
					<div class="skill-name">{{lang.stats[2]}}<span>{{basic.technique}}</span></div>
				</div>
				
				<div @click="selectedStat = 3" :class="'skill-tab' + (selectedStat ==  3? ' active' : '')">
					<div class="skill-name">{{lang.stats[3]}}<span>{{basic.resistance}}</span></div>
				</div>
				
				<div class="clear"></div>
				
			</div>
			
			<!-- // stat-box -->
			<div class="dark-box stat-box">
				
				<div class="upgrade-stat">
					<!-- // possible classes: str; spd; tech; endr; -->
					<div :class="classStyle[selectedStat]">
					</div>
					<a class="btn btn-green btn-upgrade" @click="improveStat(selectedStat)">
						{{lang.common.improve}} ({{nextLevels[selectedStat]}})
					</a>
					{{ stat_trainer.timers ? timestampToTimer(stat_trainer.timers[selectedStat]) : "" }}
				</div>
				
				<div class="info-stat">
					{{lang.stats_details[selectedStat].intro}} <br>
					<br>
					<ul>
						<li v-for="(item, index) in lang.stats_details[selectedStat].bullets" :key="index" v-text="item"></li>
					</ul>
				</div>
				
				<div class="clear"></div>
			
			</div>
			<!-- // /stat-box -->
			
			<div class="fullwidth">
				
				<div class="cbox">
					
					<!-- // stat-queue -->
					<div class="stat-queue">
						
						<div class="current" v-if="stat_trainer.currently_training">
							
							<span class="label">{{lang.common.training_progress}}</span>
							
							<!-- // possible classes: str; spd; tech; endr; (special: empty; lock;) -->
							<div :class="'icon '+classStyle[stat_trainer.currently_training.id]"></div>
							
							<span class="name"> 
								{{(lang.stats[stat_trainer.currently_training.id])}} 
								({{nextLevels[stat_trainer.currently_training.id]}})
							</span>
							<span class="time" v-if="stat_trainer.currently_training">{{trainingTimer}}</span>
						</div>
						
						<div class="queue">
							<span class="hide1024">{{lang.common.queue}} &hellip;<br></span>
							
							<div 
								title="stat"
								v-for="(stat, index) in stat_trainer.queue" 
								:key="'stat'+index" 
								:class="'icon ' + classStyle[stat-1]"
								@click="removeFromQueue(index)"
							>
							</div>
							<div v-for="n in lockedStatSlots" :key="n" @click="unlockSlot" class="icon lock"></div>
						</div>
						
						<div class="prox">
							{{lang.common.queue}} &hellip;
						</div>
						
					</div>
					<!-- // /stat-queue -->
					
				</div>
				
				<div class="cbox dark-box user-stats">
					
					<table class="user-stats">
					
						<tr>
						
							<td>
								<span>{{lang.common.level}}</span>
								<span class="value">
									{{ basic.level }}
								</span>
							</td>
							<td>
								<span>{{lang.common.age}}</span>
								<span class="value">
									{{basic.age}}
								</span>
							</td>
							<td rowspan="6">
								
								<div class="heptagon-container">
									
									<span title="ATTACK">AT</span>
									<span title="VITALITY">VI</span>
									<span title="DEFENSE">DE</span>
									<span title="DAMAGE">DA</span>
									<span title="RESISTANCE">RES</span>
									<span title="SUBMISSION">SUB</span>
									<span title="SUB DEFENSE">SD</span>
								
									<!-- // stat-heptagon: STATS vertices can be defined inline  -->
									<div class="stat-heptagon" style="
										-webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);

										clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);">

									</div>
									<!-- // /stat-heptagon -->
								
								</div>
									
							</td>
							
						</tr>
						
						<tr>
						
							<td>
								<span> {{lang.common.won}} </span>
								<span class="value">{{basic.wins}}</span>
							</td>
							<td>
								<span> {{lang.common.lost}} </span>
								<span class="value">{{basic.losses}}</span>
							</td>
							
						</tr>
						
						<tr>
						
							<td>
								<span class="icon pt" v-tooltip="lang.common.wrestler_score">
								</span>
								<span class="label"> {{lang.common.wrestler_score}} </span>
								<span class="value">{{basic.wrestler_score}}</span>
							</td>
							<td>
								<span class="icon rk" v-tooltip="lang.common.global_ranking">
								</span>
								<span class="label"> {{lang.common.global_ranking}} </span>
								<span class="value">{{basic.world_ranking}}</span>
							</td>
							
						</tr>
						
						<tr>
						
							<td>
								<span class="icon pc" v-tooltip="lang.common.level_ranking">
								</span>
								<span class="label">{{lang.common.level_ranking}}</span>
								<span class="value">{{basic.level_ranking}}</span>
							</td>
							<td>
								<span class="icon pp" v-tooltip="lang.common.popularity">
								</span>
								<span class="label">{{lang.common.popularity}}</span>
								<span class="value">{{basic.popularity}}</span>
							</td>
							
						</tr>
						
						<tr>
						
							<td>
								<span class="icon fs" v-tooltip="lang.common.fans">
								</span>
								<span class="label">{{lang.common.fans}}</span>
								<span class="value">{{basic.fans}}</span>
							</td>
							<td>
								<span class="icon pr" v-tooltip="lang.common.performance">
								</span>
								<span class="label">Prestazione</span>
								<span class="value">{{floatToPercentage(basic.performance)}}</span>
							</td>							
						</tr>
						
						<tr>
						
							<td>
								<span class="icon tt" v-tooltip="lang.common.tag_team">
								</span>
								<span class="label">{{lang.common.tag_team}}</span>
								<span class="value">{{nullToNone(basic.tag_team)}}</span>
							</td>
							<td>
								<span class="icon st" v-tooltip="lang.common.stable">
								</span>
								<span class="label">{{lang.common.stable}}</span>
								<span class="value">{{nullToNone(basic.stable)}}</span>
							</td>							
						</tr>
						
					</table>
					
				</div>
				
				<!-- // pullable -->
				<div id="pullable" :class="expandStatsFrame ? 'opened' : 'closed'">
					
					<div class="cbox">

						<!-- // available classes: three-tabs, four-tabs, five-tabs -->
						<div class="tabs five-tabs">

							<div :class="'tab' + (section == 1 ? ' active' : '')" @click="showSection(1)">
								{{lang.common.abilities}}
							</div>
							<div :class="'tab' + (section == 2 ? ' active' : '')" @click="showSection(2)">
								{{lang.common.match_types}}
							</div>
							<div :class="'tab' + (section == 3 ? ' active' : '')" @click="showSection(3)">
								{{lang.common.achievements}}
							</div>
							<div :class="'tab' + (section == 4 ? ' active' : '')" @click="showSection(4)">
								{{lang.common.palmares}}
							</div>
							<div :class="'tab' + (section == 5 ? ' active' : '')" @click="showSection(5)">
								{{lang.common.bio}}
							</div>
							<div id="puller" @click="expandStatsFrame = !expandStatsFrame"></div>

						</div>

					</div>

					<div class="cbox dark-box" id="pullable-content">
						<abilities v-if="section == 1" :abilities="abilities"></abilities>
						<matches v-if="section == 2" :matches="match_types" @unlock="unlockMatchType"></matches>
						<achievements v-if="section == 3" :achievements="achievements"></achievements>
						<palmares v-if="section == 4" :palmares="palmares"></palmares>
						<bio v-if="section == 5" :bio="bio"></bio>
					</div>
					
				</div>
				
			</div>
				
		</div>
		
	</div>    
</template>

<script>


import HelperFunctions from "@/mixins/HelperFunctions.js"

import SubNav from '@/components/SubNav.vue';
import Abilities from '@/components/Stats/Abilities.vue';
import Matches from '@/components/Stats/Matches.vue';
import Achievements from '@/components/Stats/Achievements.vue';
import Palmares from '@/components/Stats/Palmares.vue';
import Bio from '@/components/Stats/Bio.vue';


export default {
	components: {
		Abilities, Matches, Achievements, Palmares, Bio, SubNav
	},
	mixins: [HelperFunctions],
	created(){
		this.fetchData();
	},
	mounted(){

		this.intervals[0] = setInterval(() =>  {
			this.stat_trainer.currently_training.timer--
		}, 1000);

	},
	data(){
		return {
			intervals: [],
			selectedStat: 1,
			classStyle: ["str", "spd", "tech", "endr"],
			expandStatsFrame: false,
			section: 1,
			basic: {},
			abilities: {},
			achievements: {},
			match_types: {},
			palmares: {},
			bio: {},
			stat_trainer: {},
		}
	},
	computed:{
		nextLevels(){
			return [
				this.basic.strength + 1,
				this.basic.speed + 1,
				this.basic.technique + 1,
				this.basic.resistance + 1
			]
		},
		trainingTimer(){	
			var timer = this.stat_trainer.currently_training.timer - (new Date().getTime() / 1000);
			return	this.timestampToTimer(timer);
		},
		lockedStatSlots(){
			return this.stat_trainer.queue ? 4 - this.stat_trainer.queue.length : 0;
		},

	},
	methods: {
		showSection(id){
			this.section = id;
			this.expandStatsFrame = true;
		},
		fetchData(){
			fetch(this.fullPath+"/wg/api/?get_data=profile")
			.then((data) => data.json())
			.then(({stat_trainer, basic, abilities, match_types, achievements, palmares, bio}) => {
				this.stat_trainer = stat_trainer;
				this.basic = basic;
				this.abilities = abilities;
				this.match_types = match_types;
				this.achievements = achievements;
				this.palmares = palmares;
				this.bio = bio;
			})
		},
		
		improveStat(stat){
			fetch(this.fullPath+"/wg/api/actions.asp?action=train_stat&t="+stat)
				.then(() => this.fetchData());
		},

		removeFromQueue(index){
			fetch(this.fullPath+"/wg/api/actions.asp?action=remove_queue&rem="+(index+1))
				.then(() => this.fetchData());
		},

		unlockSlot() {
			if(!confirm(lang.alerts.unlock_slot)) return false;
			fetch(this.fullPath+"/wg/api/actions.asp?unlock_stat");
		},
		
		unlockMatchType(id, status){

			
			if(status) return false;

			if(this.match_types.points_available){
				if(!confirm(this.lang.alerts.unlock_match)) return false;
				fetch(this.fullPath+"/wg/api/actions.asp?learn_match="+id)
					.then((response) => this.fetchData());
				
			} else {

				fetch(this.fullPath+"/wg/api/?get_data=header")
					.then(response => response.json())
					.then(json => {
						if(json.tps < 25) alert(this.lang.alerts.not_enough_tps);
						if(confirm(this.lang.alerts.unlock_match_tps)){
							fetch(this.fullPath+"/wg/api/actions.asp?learn_match_tp="+id)
							.then((response) => this.fetchData());
						}
					});

			}

		}
	}
    
}
</script>
