<template>
    <div class="fullheight">
		<div class="fullwidth fullheight palestra">
			<sub-nav section="trainer" subsection="taunts" area="gym">
			</sub-nav>
			<div class="sub-section">
				
				<!-- skill box -->
				<div class="skill-box trtafi">
					
					<div class="swipable">
						
						<a class="nav-btn nav-right" id="next" @click="nextTaunt()"></a>
						<a class="nav-btn nav-left" id="prev" @click="prevTaunt()"></a>
						
						<div id="tauntbox" class="swipe">
							
							<div class="swipe-wrap">
								
								<!-- skill -->
								<div class="swipe-item" v-for="(taunt, index) in fetched.taunts" :key="index">
									
									<div class="skill-name">
										{{taunt.name}}
										<span>lvl {{taunt.level}}</span>
									</div>
	
									<div class="skill-info">
										
										<div class="abs-top abs-left">										
											<a class="btn btn-blue btn-generic">{{lang.common.modify}}</a>
										</div>
										
										<div class="abs-top abs-right">
											<a 
												v-if="taunt.can_upgrade" 
												class="btn btn-green btn-generic"
												@click="upgradeTaunt(taunt.id)"
											>
												{{lang.common.upgrade}}
											</a>
											<a v-else class="btn btn-green btn-generic" @click="upgradeTaunt(taunt.id)">
												{{lang.common.quick_upgrade}} ({{calcUpgradeCost(taunt.level)}} TPS)
											</a>
											&nbsp;
											<a class="btn btn-transparent tr-black btn-generic" @click="deleteTaunt(taunt.id)">&#10005;</a>
										</div>
										
										<div class="abs-bottom abs-right">
											<table align="right" class="tauntable">
												<tr>
													<td>{{lang.common.duration}}</td>
													<td> {{taunt.duration}} </td>
												</tr>
												<tr>
													<td>{{lang.sections.taunts.health_points_restored}}</td>
													<td>{{taunt.health * 100}}%</td>
												</tr>
												<tr>
													<td>{{lang.sections.taunts.stamina_restored}}</td>
													<td>{{taunt.stamina * 100}}%</td>
												</tr>
											</table>
										</div>
										
										<div class="skill-img" style="background-image: url('/img/palestra/forza-potenza.jpg');"></div>
	
									</div>
	
								</div>
								<!-- /skill -->
	
								
							</div>
							
						</div>
	
					</div>
				
				</div>
				<!-- /skill-box -->
				
				<div class="fullwidth">
					
					<div class="cbox">
				
						<div class="infobox">
							<span v-html="lang.sections.taunts.infobox"></span>
						</div>
						
					</div>
					
				</div>
					
			</div>
		</div>
		<div id="pullable" :class="showTauntForm ? 'opened' : 'closed'">

			<div class="cbox">

				<div class="tabs one-tabs">

					<div class="tab active">{{tauntId ? lang.common.edit_taunt : lang.common.create_taunt}}</div>
					<div id="puller" @click="toggleTauntForm()"></div>

				</div>

			</div>

			<div class="cbox dark-box" id="pullable-content">
				<div class="content morepadding">
					
					<!-- this form and preview template is adatptable to edit too -->
					
					<form>
					
						<label>{{lang.common.name}}:<br>
							<input type="text" name="name" v-model="formData.name" required>
						</label>
						
						<br>
						<br>

						<label>
							{{lang.common.duration}}:<br>
							<input type="number" name="name" min="1" max="3" v-model="formData.duration" required>
						</label>
						
						<br>
						<br>

						<label v-if="formData.turns.turn1 != undefined">
							{{lang.common.turn + " " + 1}}:<br>
							<input type="text" name="name" v-model="formData.turns.turn1" required>
						</label>
						<br>
						<br>

						<label v-if="formData.turns.turn2 != undefined">
							{{lang.common.turn + " " + 2}}:<br>
							<input type="text" name="name" v-model="formData.turns.turn2" required>
						</label>
						<br>
						<br>

						<label v-if="formData.turns.turn3 != undefined">
							{{lang.common.turn + " " + 3}}:<br>
							<input type="text" name="name" v-model="formData.turns.turn3" required>
						</label>
						<br>
						<br>
						
						
						
						<div class="txt_center">
							<input type="submit" class="btn btn-generic btn-green" @click.prevent="saveTaunt()" :value="lang.common.save">&nbsp;
							<input type="reset" class="btn btn-generic btn-red" :value="lang.common.reset">
						</div>
					
					</form>
					
					<br>
					<br>
					
					<div class="preview-box" v-if="turnsRender.length && formData.name.length">
						
						<h3>{{lang.common.preview}}</h3>
						
						<div class="step taunt">
							<b>{{info.wrestler_name}}</b>
							{{turnsRender}}
							executing
							<span>{{formData.name}}</span>
						</div>
						
					</div>
						
				</div>
			</div>

		</div>
	</div>
</template>
<script>

import Swipe from 'swipejs/build/swipe.min.js';
import SubNav from '@/components/SubNav.vue';


export default {

    components: {
        SubNav
    },

    data(){
        return {
            swipe: {},
			fetched: {},
			showTauntForm: false,
			tauntId: 0,
			formData: {
				name: "",
				duration: 1,
				turns: {
					turn1: ""
				},
			},
			info: {}
        }
    },
	
	created(){
        this.fetchData();
	},
		
	mounted(){
		this.initSwipe();
	},

	updated(){
		this.initSwipe();
	},

	computed: {
		turnsRender(){
			var turnsRender = "";	
			Object.keys(this.formData.turns).forEach((turn) => {
				turnsRender += this.formData.turns[turn];
			})
			return turnsRender;
		},
		duration() {
			//return the duration from the taunt form for the watcher
			return this.formData.duration;
		}
	},

    methods: {

        fetchData() {
            fetch(this.fullPath+"/wg/api/?get_data=taunt")
			.then(result => result.json())
			.then((json)=> {
				this.fetched = json;
			})
			.then(() => {
				this.initSwipe();
			});
		
			fetch(this.fullPath+"/wg/api/?get_data=header")
			.then(response => response.json())
			.then(json => {
				this.info = json
			})
			.catch(() => false);
		},

		initSwipe(){
			this.swipe = new Swipe(document.getElementById('tauntbox'), {
				startSlide:0,
				auto:0,
				draggable:true,
				autoRestart:false,
				continuous:true,
				disableScroll:true,
				stopPropagation:true,
				callback:function() {},
				transitionEnd:function() {}
			});	
		},

        nextTaunt() {
            return this.swipe.next();
        },

        prevTaunt() {
            return this.swipe.prev();
        },

        calcUpgrade(dmg) {
            return dmg * 1.05;
        },

        calcUpgradeCost(level){
            return level+5;
        },

        deleteTaunt(id){
            if(confirm("Are you sure you want to delete this trademark?")){
				this.fetchData();
            }
		},
		
		upgradeTaunt(id) {
			console.log("upgrading taunt with id: " + id);
			this.fetchData();
		},

		toggleTauntForm() {
			this.showTauntForm = !this.showTauntForm;			
		},
		saveTaunt(){

			//Essential form data
			var body = {
				name: this.formData.name,
				turns: this.formData.duration
			}
			//Iterate through turns
			Object.keys(this.formData.turns).forEach(key => body[key] = this.formData.turns[key]);

			//Set the action wanted for the query
			body.action = this.tauntId ? "edit_taunt&taunt_id=" + this.tauntId : "create_taunt";
			
			fetch(this.fullPath+"/wg/api/actions.asp", {
			
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json'
				},
				method: "POST",
				body: JSON.stringify(body)
			
			}).finally(() => this.fetchData());

		}

    
	},
	
	watch: {
		duration(val){
			if(val > 3) {
				this.formData.duration = 3;
			}
			if(val < 1) {
				this.formData.duration = 1;
			}
			switch(val){
				
				case 1:
				case "1":
				return this.formData.turns = {
					turn1: " "
				};
				
				case 2:
				case "2":
				return this.formData.turns = {
					turn1: "",
					turn_2: ""
				};

				case 3:
				case "3":
				return this.formData.turns = {
					turn1: "",
					turn_2: "",
					turn_3: ""
				};
				default:
				return this.formData.turns = {}
			}			
		}
	}
}
</script>
