<template>
    <div class="fullwidth fullheight palestra">
		
        <sub-nav section="trainer" subsection="trademarks" area="gym">
        </sub-nav>
		
		<div class="sub-section">
			
			<!-- skill box -->
			<div class="skill-box trtafi">
				
				<div class="swipable">
					
					<a class="nav-btn nav-right" id="next" @click="nextTrademark"></a>
					<a class="nav-btn nav-left" id="prev" @click="prevTrademark"></a>
					
					<div id="tmbox" class="swipe">
						
						<div class="swipe-wrap">
							
							<!-- skill -->
							<div v-for="(trademark, key) in fetched.trademarks" :key="key" class="swipe-item">
								
								<div class="skill-name">{{trademark.name}}<span>lvl {{trademark.level}}</span></div>

								<div class="skill-info">
									
									<div class="abs-top abs-left">
										
										<div class="stats">
											<div 
                                                class="stat damage" 
                                                v-tooltip="lang.common.damage + ': '+calcUpgrade(trademark.min_damage)+'-'+calcUpgrade(trademark.max_damage)"
                                            >
												{{trademark.min_damage}}-{{trademark.max_damage}}
											</div>
											<div 
                                                class="stat attack"
                                                v-tooltip="lang.common.attack_bonus_desc"
                                            >
												{{trademark.attack_bonus}}
											</div>
											<div 
                                                class="stat bloody"
                                                v-tooltip="lang.common.bleed_bonus_desc"
                                            >
												1
											</div>
										</div>
										
									</div>
									
									<div class="abs-top abs-right">
										<a v-if="trademark.can_upgrade" class="btn btn-green btn-generic" @click="upgradeTrademark()">
                                            {{lang.common.upgrade}} 
                                        </a>
										<a v-else class="btn btn-green btn-generic" @click="upgradeTrademark()">{{lang.common.quick_upgrade}} 
                                            ({{calcUpgradeCost(trademark.level)}} TPs)
                                        </a>
										&nbsp;
										<a class="btn btn-transparent tr-black btn-generic" @click="deleteTrademark()">&#10005;</a>
									</div>
									
									<div class="abs-bottom abs-right">
										<table align="right" class="positions">
											<tr>
												<th colspan="2"> {{lang.common.position}} </th>
											</tr>
											<tr>
												<td>{{lang.common.required}}</td>
												<td>{{lang.common.obtained}}</td>
											</tr>
											<tr>
												<td>{{ lang.sections.moves.positions["pos_"+trademark.required] }}</td>
												<td>{{ lang.sections.moves.positions["pos_"+trademark.obtained] }}</td>
											</tr>
										</table>
									</div>
									
									<div class="skill-img" style="background-image: url('/img/palestra/forza-potenza.jpg');"></div>

								</div>

							</div>
							<!-- /skill -->		
							
						</div>
						
					</div>

				</div>
			
			</div>
			<!-- /skill-box -->
			
			<div class="fullwidth">
				
				<div class="cbox">
			
					<div class="infobox">
						<span v-html="lang.sections.trademarks.infobox">
						
						</span>
					</div>
					
				</div>
				
			</div>
				
		</div>
		
	</div>
</template>
<script>

import Swipe from 'swipejs/build/swipe.min.js';
import SubNav from '@/components/SubNav.vue';


export default {

    components: {
        SubNav
    },

    data(){
        return {
            swipe: {},
            fetched: {}
        }
    },
	
	created(){
        this.fetchData();
    },

	updated(){
		this.initSwipe();
	},

    methods: {

        fetchData() {
            fetch(this.fullPath+"/wg/api/?get_data=trademark")
                .then(result => result.json())
				.then((json)=> {
					this.fetched = json;
				})
				.then(() => {
					this.initSwipe();
				});
        },

		initSwipe(){			
			this.swipe = new Swipe(document.getElementById('tmbox'), {
				startSlide:0,
				auto:0,
				draggable:true,
				autoRestart:false,
				continuous:true,
				disableScroll:true,
				stopPropagation:true,
				callback:function() {},
				transitionEnd:function() {}
			});	

		},

        nextTrademark() {
            return this.swipe.next();
        },

        prevTrademark() {
            return this.swipe.prev();
        },

        calcUpgrade(dmg) {
            return dmg * 1.05;
        },

        calcUpgradeCost(level){
            return level+5;
        },

        deleteTrademark(){
            if(confirm("Are you sure you want to delete this trademark?")){
                this.fetchData();
            }
		}

    }
}
</script>
