<template>
  <div id="interactive" class="swipe">
      <div id="view" class="main-map swipe-wrap">
        <div class="left">
          <b>
            <span class="poi casa">
              <router-link tag="a" to="/">
                <span class="label">
                  <i>
                    <p>{{lang.pages.home}}</p>
                  </i>
                </span>
              </router-link>
            </span>
            <span class="poi edicola ntf">
              <router-link tag="a" to="/news">
                <span class="label">
                  <i>
                    <p>{{lang.pages.news}}</p>
                  </i>
                </span>
              </router-link>
            </span>
            <span class="poi palestra">
              <router-link tag="a" to="/gym/trainer/abilities">
                <span class="label">
                  <i>
                    <p>{{lang.pages.gym}}</p>
                  </i>
                </span>
              </router-link>
            </span>
            
            <a class="nav-btn nav-right" id="next" @click="swipe.next()"></a>
          </b>
        </div>
        <div class="right">
          <b>
            <span class="poi arena">
              <router-link tag="a" to="/arena/search">
                <span class="label">
                  <i>
                    <p>{{lang.pages.arena}}</p>
                  </i>
                </span>
              </router-link>
            </span>
            
            <a class="nav-btn nav-left" id="prev" @click="swipe.prev()"></a>
          </b>
        </div>
      </div>
  </div>	 
</template>

<script>

import Swipe from 'swipejs/build/swipe.min.js';

export default {
  name: 'home',

  mounted(){
    this.initSwipe();
  },

  data() {
    return {
          swipe: {}
    };
  },

  methods: {
     initSwipe(){

            this.swipe = new Swipe(document.getElementById('interactive'), {
            startSlide:0,
            auto:0,
            draggable:true,
            autoRestart:false,
            continuous:true,
            disableScroll:true,
            stopPropagation:true,
            callback:function() {},
            transitionEnd:function() {}
      });

     }
  }
}

</script>


