<template>
    <div>
        <div :class="'step fgt-' + side + ' damage '+ type">
            <b>{{renderedText[0]}}</b> 
            <span>{{renderedText[1]}}</span>
        </div>
        <div class="clear"></div>
    </div>
</template>

<script>
export default {
    props: ["fighter", "opponent", "type", "side", "text", "fillers", "matchText"],
    computed: {
        renderedText() {
            var raw = this.text;
            raw = raw.split("]");
            raw[0] = this.getText(this.fillers[raw[0] + "]"]);
            return raw;
        },

    },

    methods: {
        getText(text){
            if(typeof(text) == "number") return this.matchText[text];
                return text[0];
        }
    }

}
</script>

