<template>
    <div>
        <div :class="'step fgt-'+side+' '+typeClass">
            <div v-html="renderedPreparation"></div>
            <div v-if="finalization" v-html="renderedFinalization"></div>
        </div>
        <div class="clear"></div>
    </div>
</template>

<script>



export default {
    props: [
        "side", "preparation", "finalization", "damage", "type", "number", "fillers", "matchText"
    ],
    computed: {
        
        typeClass(){
            switch(this.type){

                case "oggetti":
                case "finisher":
                    return "final";
                case "trademark":
                    return "trademark";
                case "taunt":
                    return "taunt";
                case "mossa":
                default:
                    return "standard";
            }
        },

        damageLevel(){
            switch(true){
                case (this.damage < 20):
                    return 1;
                case (this.damage < 50):
                    return 2;
                case (this.damage < 100):
                    return 3;
                case (this.damage < 500):
                    return 4;
                case (this.damage < 1000):
                    return 5;
                case (this.damage < 2000):
                    return 6;
                case (this.damage < 5000):
                    return 7;
                default:
                    return 8;
            }
        },
        
        damageName(){
            if(this.is_submission){
                return this.subDamageName;
            }
            return this.directDamageName;
        },

        directDamageName(){
            switch(this.damageLevel){
                case 1:
                    return 'light';
                case 2:
                    return 'strong';
                case 3:
                    return 'violent';
                case 4:
                    return 'powerful';
                case 5:
                    return 'devastating';
                case 6:
                    return 'mortal';
                case 7:
                    return 'hardcore';
                case 8:
                    return 'legendary';
            }
        },

        subDamageName(){
            switch(this.damageLevel){
                case 1:
                    return 'weak';
                case 2:
                    return 'ruthless';
                case 3:
                    return 'excrutiating';
                case 4:
                    return 'agonizing';
                case 5:
                    return 'ripping';
                case 6:
                    return 'tormenting';
                case 7:
                    return 'crippling';
                case 8:
                    return 'Destructive';
            }

        },
        
        renderedPreparation() {
            var raw  = this.preparation;
            for(var i = 0; i < Object.keys(this.fillers).length; i++) {
                raw = raw.replace(Object.keys(this.fillers)[i], this.getText(this.fillers[Object.keys(this.fillers)[i]][0]));
            }

            // raw = raw.replace("[fighter]", "<b>"+this.fighter+"</b>");
            // raw = raw.replace("[opponent]", "<b>"+this.opponent+"</b>");
            // raw = raw.replace("[number]", this.number);
            return raw;
        },
        renderedFinalization(){
            var raw = this.finalization;
            
            for(var i = 0; i < Object.keys(this.fillers).length; i++) {
                if(Object.keys(this.fillers)[i] == "[move]"){
                
                    var move = "<span  class='mv mv"+this.damageLevel+"'>"+ 
                                this.damageName + "</span> " + 
                                this.getText(this.fillers[Object.keys(this.fillers)[i]][0]);
                    raw = raw.replace("[move]", move);
                
                } else {
                    raw = raw.replace(Object.keys(this.fillers)[i], this.getText(this.fillers[Object.keys(this.fillers)[i]][0]));
                }
            }
            
            return raw;
        },

    },

    methods: {
        getText(text){
            if(typeof(text) == "number") return this.matchText[text];
                return text;
        }
    }


}
</script>
