<template>
    <div>
        <div :class="'step fgt-'+computedSide" v-html="renderedText">
        </div>
        <div class="clear"></div>
    </div>
</template>

<script>



export default {
    props: [
        "side", "move", "text", "number", "fillers", "matchText", "damage"
    ],
    computed: {
        renderedText() {
            var raw = this.text;
            raw = this.setSubHold(raw);

            for(var i = 0; i < Object.keys(this.fillers).length; i++) {
                raw = raw.split(Object.keys(this.fillers)[i]).join(this.getText(this.fillers[Object.keys(this.fillers)[i]][0]));
            }
            return raw;
        },
        reverseSide(){
            return this.side == "left" ? "right" : "left";
        },
        computedSide() {
            return this.text.match(/\[sub_strength\]/) ? this.reverseSide + " standard" : "none";
        },
        damageLevel(){
            switch(true){
                case (this.damage < 20):
                    return 1;
                case (this.damage < 50):
                    return 2;
                case (this.damage < 100):
                    return 3;
                case (this.damage < 500):
                    return 4;
                case (this.damage < 1000):
                    return 5;
                case (this.damage < 2000):
                    return 6;
                case (this.damage < 5000):
                    return 7;
                default:
                    return 8;
            }
        },
        
        damageName(){
            if(this.is_submission){
                return this.subDamageName;
            }
            return this.directDamageName;
        },

        directDamageName(){
            switch(this.damageLevel){
                case 1:
                    return 'light';
                case 2:
                    return 'strong';
                case 3:
                    return 'violent';
                case 4:
                    return 'powerful';
                case 5:
                    return 'devastating';
                case 6:
                    return 'mortal';
                case 7:
                    return 'hardcore';
                case 8:
                    return 'legendary';
            }
        },

        subDamageName(){
            switch(this.damageLevel){
                case 1:
                    return 'weak';
                case 2:
                    return 'ruthless';
                case 3:
                    return 'excrutiating';
                case 4:
                    return 'agonizing';
                case 5:
                    return 'ripping';
                // case 6:
                //     return 'tormenting';
                // case 7:
                //     return 'crippling';
                case 6:
                    return 'Destructive';
            }

        },
        
    },

    methods: {
        getText(text){
            if(typeof(text) == "number") return this.matchText[text];
                return text;
        },
        setSubHold(text){
            if(text.match(/\[sub_strength\]/) ) {
                console.log(text)
                text = text.replace(
                    "[sub_strength]", 
                    "<span  class='mv mv"+this.fillers["[sub_strength]"][2]+"'>"+ this.getText(this.fillers["[sub_strength]"][0]) + "</span>" 
                );
            }
            return text;
        }

    }

}

</script>
