<template>
    <div>
        <div :class="'step fgt-'+computedSide+' standard '+typeClass">
            <div v-html="renderedText"></div>
        </div>
        <div class="clear"></div>
    </div>
</template>

<script>
export default {
    props: ["type", "text", "side", "fillers", "matchText", "swapSide"],
    computed: {
        typeClass(){
            switch(this.type){
                case "difesa":
                    return "dodging";

                case "contrattacco":
                    return "blocking";
                
                default:
                    return "";
            }
        },
        renderedText() {
            var raw = this.text;
            for(var i = 0; i < Object.keys(this.fillers).length; i++) {
                raw = raw.replace(Object.keys(this.fillers)[i], this.getText(this.fillers[Object.keys(this.fillers)[i]][0]));
            }
            return raw;
        },
        computedSide(){
            if(this.swapSide) 
                return this.side == "left" ? "right" : "left"; 
            return this.side;
        }
    },


    methods: {
        getText(text){
            if(typeof(text) == "number") return this.matchText[text];
                return text;
        }
    }


}
</script>
