<template>
    <div>
    <div class="step referee">
        {{renderedText}}
    </div>
    <div class="clear"></div>
    </div>
</template>
<script>
export default {
    props: ["text", "fillers", "matchText"],

    computed:{
        renderedText() {
            var raw = this.text;
            for(var i = 0; i < Object.keys(this.fillers).length; i++) {
                raw = raw.replace(Object.keys(this.fillers)[i], this.getText(this.fillers[Object.keys(this.fillers)[i]][0]));
            }
            return raw;
        }
    },

    methods: {
        getText(text){
            if(typeof(text) == "number") return this.matchText[text];
                return text;
        }
    }

}
</script>
