<template>
  <div class="fullheight">
    <div class="fullwidth fullheight arena">
    <sub-nav area="shop" section="supporter">
    </sub-nav>

        <div class="sub-section">
            <div class="top-tabs tabs3">
            <div class="row">
                <a 
                    href="#" 
                    :class="'tab ' + (section == 1 ? 'active' : '')"
                    @click="section = 1"
                >
                    {{lang.common.supporter}}
                </a>
                <a 
                    href="#" 
                    :class="'tab ' + (section == 2 ? 'active' : '')"
                    @click="section = 2"
                >
                    {{lang.common.tournament_points}}
                </a>
                <a 
                    href="#" 
                    :class="'tab ' + (section == 3 ? 'active' : '')"
                    @click="section = 3"
                >
                    {{lang.common.champion_packs}}
                </a>
            </div>
            </div>
        </div>

        <div class="supporter">
            <div class="trleagboxes" v-if="section == 1">
                <!-- purchase pack -->
                <div class="trleagbox" v-for="(supporter, index) in fetched.supporter" :key="index">
                    <div class="title">
                        <span class="multiplier">{{supporter.months}}</span>
                        {{supporter.months}} {{lang.time.months}} {{lang.common.supporter}} 
                        <a href="#" class="btn btn-generic btn-green floatright" @click="buy(supporter)">
                            {{lang.common.purchase}} 
                            <span class="hide320">{{lang.time.now}}</span> €{{formatPrice(supporter.cost)}}
                        </a>
                    </div>
    
                    <div class="content">
                        <div class="txt_right floatright">
                            <span class="txt_arial">€{{formatPrice(supporter.cost/supporter.months)}}/{{lang.time.month}}</span>
                            <br>
                            <label>
                            <input 
                                type="checkbox" class="checkbox white" 
                                :checked="supporter.autorenewal" 
                                @click="supporter.autorenewal = !supporter.autorenewal">
                            {{lang.common.renew_automatically}}
                            </label>
                        </div>
    
                        <ul style="padding:0">
                            <li v-if="supporter.renewal_bonus.length && supporter.autorenewal">
                                    {{lang.common.renewal_bonus}}: {{supporter.renewal_bonus}}
                            </li>
                            <li>{{supporter.free_tps}} {{lang.common.free_tps}}</li>
                            <li v-if="supporter.free_pack">
                                <span :class="'mv mv' + getPackName(supporter.free_pack)">
                                    +1 {{getPackName(supporter.free_pack)}} trainer pack
                                </span>
                            </li>
                        </ul>
    
                        <p class="clear txt_arial txt_smaller" v-if="supporter.autorenewal" v-html="lang.sections.shop.autorenewal_text_1">
                        </p>
                    </div>
                </div>
                <!-- /purchase pack -->
            </div>
        </div>

        <!-- //Tournament points section -->
        <div class="tps">
            <div class="trleagboxes" v-if="section == 2">
                <div class="trleagbox" v-for="(item, index) in fetched.tournament_points" :key="index">
    
    				<div class="title">
                        <span class="multiplier">{{item.tps}}</span>
                        {{item.tps}} {{lang.common.tournament_points}}
                        <a href="#" class="btn btn-generic btn-green floatright" @click.prevent="buy(item)">
                            {{lang.common.purchase}} <span class="hide320">{{lang.time.now}} </span>
                            €{{ formatPrice(item.cost) }}
                        </a>
                    </div>
    
    				<div class="content">
    					
                        <div class="txt_right floatright">
                            
                            <span class="txt_arial">{{formatPrice(item.cost/item.tps)}}€/TP</span><br>
                            <label><input type="checkbox" class="checkbox white" :checked="item.autorenewal">
                                {{lang.common.renew_automatically}}
                            </label>
                            
                        </div>
                        
                        <ul style="padding:0">
                            <li v-if="item.renewal_bonus.length && item.autorenewal">
                                    {{lang.common.renewal_bonus}}: {{supporter.renewal_bonus}}
                            </li>
                            <li v-if="item.free_pack">
                                <span :class="'mv mv' + getPackName(item.free_pack)">
                                    +1 {{getPackName(item.free_pack)}} trainer pack
                                </span>
                            </li>
                        </ul>
                        
                        <p 
                            class="clear txt_arial txt_smaller" 
                            v-html="lang.sections.shop.autorenewal_text_2"
                        >
                        </p>
    					
    				</div>
    
    			</div>
    
            </div>
        </div>

        <!-- //Form data -->
        <form v-if="Object.keys(activeItem).length" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="normal_pay" id="form">
            <input type="hidden" name="cmd" :value="activeItem.autorenewal ? '_xclick-subscriptions' : '_xclick'">
            <input type="hidden" name="business" :value="activeItem.form_fields.business">
            <input 
                type="hidden" 
                name="item_name" 
                :value="activeItem.autorenewal ? activeItem.form_fields.item_name : activeItem.form_fields.item_name_recurring"
            >
            <input type="hidden" name="amount" :value="activeItem.form_fields.cost" v-if="!activeItem.autorenewal">
            <input type="hidden" name="no_shipping" :value="activeItem.form_fields.no_shipping">
            <input type="hidden" name="no_note" :value="activeItem.form_fields.no_note">
            <input type="hidden" name="currency_code" :value="activeItem.form_fields.currency_code">
            <input type="hidden" name="bn" :value="activeItem.form_fields.bn">
            <input 
                type="hidden" 
                name="custom" 
                :value="activeItem.autorenewal ? activeItem.form_fields.custom : activeItem.form_fields.custom_recurring"
            >
            <input 
                type="hidden" 
                name="notify_url"
                :value="activeItem.autorenewal ? activeItem.form_fields.item_name : activeItem.form_fields.item_name_recurring"
            >
            <input type="hidden" name="country" :value="activeItem.form_fields.country">
            <input type="hidden" name="return" :value="activeItem.form_fields.return_url">
            <input type="hidden" name="item_number" :value="activeItem.form_fields.item_number">
            <input type="hidden" name="recurring" :value="activeItem.form_fields.recurring">
            <div v-if="activeItem.autorenewal">
                <input type="hidden" name="a1" :value="activeItem.form_fields.a1">
                <input type="hidden" name="p1" :value="activeItem.form_fields.p1">
                <input type="hidden" name="t1" :value="activeItem.form_fields.t1">
                <input type="hidden" name="a3" :value="activeItem.form_fields.a3">
                <input type="hidden" name="p3" :value="activeItem.form_fields.p3">
                <input type="hidden" name="t3" :value="activeItem.form_fields.t3">
                <input type="hidden" name="src" :value="activeItem.form_fields.src">
            </div>
            <input type="image" src="https://www.paypal.com/en_US/i/btn/x-click-but01.gif" border="0" name="submit" alt="Effettua i tuoi pagamenti con PayPal.  un sistema rapido, gratuito e sicuro.">
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>

        <!-- //Champion packs section -->
        <div class="tpspack">
            <div class="trleagboxes" v-if="section == 3">
                <div class="trleagbox" v-for="(item, index) in fetched.champion_packs" :key="index">
    
    				<div class="title">
                        <span class="multiplier">{{item.tps}}</span>
                        {{lang.common.champion_pack}} #{{index+1}}
                        <a href="#" class="btn btn-generic btn-green floatright" @click="buy(item)">
                            {{lang.common.purchase}} <span class="hide320">{{lang.time.now}} </span>
                            €{{ formatPrice(item.cost) }}
                        </a>
                    </div>
    
    				<div class="content">
    					
                        <div class="txt_right floatright">
                            
                            <span class="txt_arial">{{formatPrice(item.cost/item.tps)}}€/TP</span><br>
                            <label><input type="checkbox" class="checkbox white" :checked="item.autorenewal">
                                {{lang.common.renew_automatically}}
                            </label>
                            
                        </div>
                        
                        <ul style="padding:0">
                            <li>
                                {{item.months}} {{lang.common.months_of_supporter}} + 
                                {{item.tps}} TPs
                            </li>
                            <li v-if="item.free_pack">
                                <span :class="'mv mv' + getPackName(item.free_pack)">
                                    +1 {{getPackName(item.free_pack)}} trainer pack
                                </span>
                            </li>
                        </ul>
    					
    				</div>
    
    			</div>
    
            </div>
        </div>

    

    </div>

    <div 
        id="pullable" 
        :class="why_supporter_window ? 'opened' : 'closed'" 
        @click="why_supporter_window = !why_supporter_window"
    >
      <div class="cbox">
        <div class="tabs one-tabs">
          <div class="tab active">{{lang.sections.shop.why_supporter_title}}</div>
          <div id="puller"></div>
        </div>
      </div>

      <div class="cbox dark-box" id="pullable-content">
        <div class="content">
          <ul class="styled">
            <li 
                v-for="(bullet, index) in lang.sections.shop.why_supporter_bullets" 
                :key="index" 
                v-html="bullet"
            ></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import SubNav from '@/components/SubNav.vue';

export default {
    components: {SubNav},
    created() {
        this.fetchData();
    },
    data() {
        return {
            fetched: {},
            why_supporter_window: 0,
            section: 1,
            activeItem : {}
        }
    },
    computed: {
        returnURL() {
            return window.location.href + "?paid=1";
        }
    },
    methods: {
        fetchData() {
            fetch(this.fullPath+'/wg/api/?get_data=supporter') 
                .then(res => res.json())
                .then(json => this.fetched = json);
        },
        formatPrice(price) {
            return (Math.floor(price * 100)/100).toFixed(2).toString().replace(".", ",");
        },
        getPackName(id) {
            switch(id) {
                case 1:
                    return "bronze";
                case 2:
                    return "silver";
                case 3:
                    return "gold";
                case 4:
                    return "legendary";
            }
        },
        buy(item) {
            this.activeItem = item;
            setTimeout(() => {
                document.getElementById("form").submit();
            }, 10);
        }
    }
}
</script>
