<template>
  <div>
    <header>
      <div id="header" v-cloak>
        <div class="avatar" 
          :style=" info.picture ? 'background-image:url(\'/wg/'+ info.picture + '\');' : ''">
        </div>
  
        <div class="stm-ext-rounded"></div>
        <div class="stamina" v-tooltip="lang.common.energy_bar_desc">
          <div class="stm-unit" v-for="n in info.energy" :key="n"></div>
        </div>
        <a class="stm-plus-btn" href="#" @click="refillEnergy()"></a>
  
        <div class="nickname"> {{ info.wrestler_name }} </div>
  
        <div class="lvl" v-tooltip="lang.common.level_desc">
          LVL {{info.wrestler_level}}
        </div>
      
        <div id="chat_btn" @click="toggleChat()"></div>
        <div v-if="chat.notify" class="chat-ntf"></div>
      
        <div id="menu" @click="toggleMenu" :class="showMenu ? 'visible' : 'hidden'">
          
          <router-link v-show="!isHome()" tag="a" to="/" class="back"></router-link>
  
          <ul class="icons">
  
            <li class="bacheca">
              <span v-if="info.notification_mainboard" :class="'ntf' + (info.notification_mainboard > 9 ? ' ntf-sm' : '')"> 
                  {{ info.notification_mainboard }} 
              </span>
              <a href="#"> {{lang.pages.reports}} </a>
            </li>
            <li class="messaggi">
              <span v-if="info.notification_message" :class="'ntf' + (info.notification_message > 9 ? ' ntf-sm' : '')"> 
                  {{ info.notification_message > 99 ? "99+" : info.notification_message}}  
              </span>
              <a href="#">{{lang.pages.messages}}</a>
            </li>
            <li class="notifiche">
              <span v-if="info.notification_report" :class="'ntf' + (info.notification_report > 9 ? ' ntf-sm' : '')"> 
                  {{ info.notification_report > 99 ? "99+" : info.notification_report}} 
              </span>
              <a href="#">{{lang.pages.notifications}}</a>
            </li>
            <li class="imprese">
              <span v-if="info.notification_achievement" :class="'ntf' + (info.notification_achievement > 9 ? ' ntf-sm' : '')"> 
                  {{ info.notification_achievement > 99 ? "99+" : info.notification_achievement}} 
              </span>
              <a href="#">{{lang.pages.achievements}}</a>
            </li>
            <li class="supporter">
              <router-link tag="a" to="/shop/supporter">{{lang.pages.supporter}}</router-link>
              </li>
  
            <div class="clear"></div>
  
          </ul>
          <ul class="links">
  
            <router-link tag="li" to=""><a>{{lang.pages.wrestler}}</a></router-link>
            <router-link tag="li" to="/gym/trainer/abilities"><a>{{lang.pages.gym}}</a></router-link>
            <router-link tag="li" to=""><a>{{lang.pages.personalizations}}</a></router-link>
            <router-link tag="li" to="/arena/search"><a>{{lang.pages.arena}}</a></router-link>
            <router-link tag="li" to=""><a>{{lang.pages.specializations}}</a></router-link>
            <router-link tag="li" to=""><a>{{lang.pages.federations}}</a></router-link>
            <router-link tag="li" to=""><a>{{lang.pages.settings}}</a></router-link>
            <li class="null-link"><a>&nbsp;</a></li>
  
            <div class="clear"></div>
  
          </ul>
        </div>
  
        <div v-if="hasNotifications()" class="ntf"></div>
  
      </div>
    </header>

    <div id="chat" :class="chat.window ? 'opened' : 'closed'">

      <div class="cbox">

          <!-- // available classes: three-tabs, four-tabs, five-tabs  -->
          <div class="tabs">

              <div class="tab active">
                  <span class="floatleft">Chat</span><span class="floatright">21 Online</span>
              </div>
              <div id="chatcloser" @click="chat.window = 0"></div>

          </div>

      </div>

      <div class="cbox dark-box" id="chat-content" v-if="chat.window">

          <div class="content chatbox">
              
              <div 
                v-for="(message, index) in chat_messages" 
                :key="index" 
                class="message"
                :class="{suppst: message.supporter, self: message.self}"
              >
                  
                  <a class="usern" tabindex="">
                      {{message.wrestler_name}}
                      <div class="user_options">
                          <div>Profilo</div>
                          <div>Messaggio</div>
                          <div>Sfida</div>
                          <div>Delete</div>
                          <div>Ban</div>
                      </div>
                  </a>
                  <div class="time">{{message.formatted_time}}</div>
                  <div class="text" v-html="renderMessage(message.body)"></div>
                  
              </div>
              
          </div>

      </div>
    
      <div class="sendmsg-form">
          <form>

              <table>
                  <tr>
                      <td class="input">
                          <input type="text" maxlength="500" v-model="chat.message">

                          <div 
                            id="emoji-btn" 
                            :class="chat.emoji_box ? 'opened' : 'closed'"
                            @click="chat.emoji_box = !chat.emoji_box"
                          ></div>
                      </td>
                      <td class="submit">
                          <button 
                            type="submit" 
                            value="" 
                            @click.prevent="insertMessage()"
                          ></button>
                      </td>
                  </tr>
              </table>

          </form>
      </div>
      
      <!-- #emoji-btn & #emoji-box must have both class "closed" or "opened" at the same time.
      Can't be one "opened" and the other "closed"! -->
      <div 
        id="emoji-box" 
        :class="chat.emoji_box ? 'opened' : 'closed'"
      >    
          <i 
            v-for="i in 64" :key="i" :class="'emoji emo'+i"
            @click="insertEmoji(i)"
          >
          </i>
      </div>

    </div>
  </div>
  
</template>

<script>
export default {
  name: 'Header',
  created(){
    this.updateChat(true);
    this.actualizer = setInterval(()=> {
      this.updateChat();
      this.fetchInfo();
    }, 5000);
  },

  beforeDestroy(){
    clearInterval(this.actualizer);
    clearTimeout(this.autoscroller);
  },

  data(){
    return {
      
      actualizer: {},
      autoscroller: {},

      showMenu: false,
      chat: {
        emoji_box: 0,
        message: "",
        window: 0,
        notify: true
      },
      chat_messages: [],
    }
  },
  methods: {

    toggleChat() {
      this.chat.window = !this.chat.window;
      if(this.chat.window) {
        this.chat.notify = false;
        this.autoscrollChat();
      }

    },

    hasNotifications() {
        return this.info.notification_mainboard || this.info.notification_message || this.info.notification_achievement || this.info.notification_report;
    },
    
    toggleMenu(){
        this.showMenu = this.showMenu ? false : true;
    },
    
    isHome(){
      return this.$router.currentRoute.name == 'home'
    },
    
    refillEnergy(){
      if(confirm(this.lang.common.refill)) {
        fetch(this.fullPath+"/wg/api/actions.asp?action=refill").then(() => this.fetchHeaderData());
      }
    },

    updateChat(all = false) {
      fetch(this.fullPath+'/wg/api/?get_data=chat&' + (all ? 'extra=full' : '') )
        .then(res => res.json())
        .then(json => {
        
          if (all){
            this.chat_messages = json.reverse();
          } 
          else {
            this.chat_messages = this.chat_messages.concat(json.reverse());
            if(!this.chat.window && json.length) this.chat.notify = true;
          }
        
        })          
        .finally(() => this.autoscrollChat());
    },

    autoscrollChat() {
      clearTimeout(this.autoscroller);
      this.autoscroller = setTimeout(() => {
        var chatbox = document.querySelector(".chatbox.content");
        if(chatbox) chatbox.scrollTo(0, chatbox.scrollHeight);
      }, 10);
    },

    insertMessage() {
      fetch(this.fullPath + "/wg/ajax/chat_scrivi.asp?mess="+ this.chat.message)
        .then(res => this.updateChat());
      this.chat.message = "";
    },

    renderMessage(text) {
      var emojis =  text.match(/:emo\d+:/g);
      if (!emojis || !emojis.length) return text;
      emojis.forEach(emoji => {
        var html = "<i class='emoji " + emoji.replace(/:/g, '') + "'></i>";
        text = text.replace(emoji, html);
      }) 
      return text;
    },

    insertEmoji(id) {
      this.chat.message += ' ' + ":emo"+id+": ";
    }
  
  }

}
</script>
