<template>
    <div id="subheader" :class="subheaderClass">
        <div class="sub-container sub1">
            <div class="subheader">
        
                <div class="sbinfo tournamentpt" v-tooltip="lang.common.tournament_points">
                    {{ info.tps }} <span class="pt">Tp</span>
                    <a class="plus" href="#"></a>
                </div>
        
                <div class="sbinfo fantaeuro" v-tooltip="lang.common.fantaeuros">
                    {{ info.money }} <span class="pt">F&euro;</span>
                </div>
        
                <div class="sbinfo exppt" v-tooltip="lang.common.experience_points">
                    {{ info.exp }} <span class="pt">XP</span>
                </div>
        
                <div class="clear"></div>
        
            </div>
        </div>
        
        <div class="sub-container sub2">
            <div class="subheader">
        
                <div class="sbinfo placement" v-tooltip="lang.common.ranking">
                    {{ info.ranking }} &ordm;
                </div>
        
                <div class="sbinfo stats" href="#" v-tooltip="lang.common.statistic">
                    <a class="percentbar">
                        <div class="progress" style="width:75%;"></div>
                    </a>
                </div>
        
                <div class="sbinfo moves"   v-tooltip="lang.common.move">
                    <a class="percentbar" href="#">
                        <div class="progress" style="width:25%;"></div>
                    </a>
                </div>
        
                <div class="clear"></div>
        
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['subheaderClass'],

    created(){
        this.actualizer = setInterval(() => {
            this.fetchInfo();
        }, 5000);
    },

    beforeDestroy(){
        clearInterval(this.actualizer);
    },
    
    data(){
        return {
            actualizer: {}
        }
    },
    computed: {
        tooltipStyle(){
            return this.splitSubHeader ? "m-above t-above w-above" : "m-below t-below w-below";
        }
    }
}
</script>
