<template>
    <div class="sub-container sub3">
        <div class="subheader">
            
            <table :class="'submenus depth'+(subsection ? '3' : '2')">
                <tr>
                    <td>
                        <span>{{lang.pages[area]}}</span>
                    </td>
                    <td>
                        <span @click="toggleMenu()" :class="'is_menu ' +  (showMenu ? 'visible' : 'hidden')" id="submenu-1"> {{lang.pages[section]}}
                            <div class="submenu">
                                <router-link v-for="(val, key) in sections" :key="key" tag="a" :to="convertLink(val)" v-show="val != section">
                                    {{lang.pages[val]}}
                                </router-link>
                            </div>
                        </span>
                    </td>
                    <td  v-if="subsection">
                        <span @click="toggleSubMenu()" :class="'is_menu ' + (showSubMenu ? 'visible' : 'hidden')" id="submenu-2">
                            {{ subMenuPlaceholder }}
                            <div class="submenu" v-if="Object.keys(subsections).length">
                                <router-link v-show="name !== subsection" tag="a" v-for="(route, name) in subsections" :to="route" :key="name">
                                    {{lang.pages[name]}}
                                </router-link>
                            </div>
                        </span>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</template>

<script>
export default {
    props: [
        "area", "section", "subsection"
    ],
    data(){
        return {
            counter: 0,
            showMenu: false,
            showSubMenu: false,
            links: {
                sparring: {sparring_result: "/gym/sparring_result"},
                gym: {
                    private_gym: "/gym/private_gym",
                    sparring_partner: "/gym/sparring_partner",
                    trainer: {
                        abilities: "/gym/trainer/abilities",
                        moves: "/gym/trainer/moves",
                        stats: "/gym/trainer/stats",
                        trademarks: "/gym/trainer/trademarks",
                        taunts: "/gym/trainer/taunts",
                        finishers: "/gym/trainer/finishers",
                        advanced_techniques: "/gym/trainer/advanced_techniques",
                        special_abilities: "/gym/trainer/special_abilities",
                    },
                },
                arena: {
                    search: "/arena/search",
                    wgc: "/arena/wgc",
                    tournaments: "/arena/tournaments",
                    private_leagues: "/arena/private_leagues",
                    events: "/arena/events"
                },
                shop: {
                    supporter: '/shop/supporter'
                }

            }
        }
    },

computed:{

        sections(){
            return Object.keys(this.links[this.area])
        },

        subsections(){
            return this.subsection ? this.links[this.area][this.section] : {}
        },

        subMenuPlaceholder(){
            return this.subsection ? this.lang.pages[this.subsection]: "There are no subsections"
        }


    },

    methods: {
        toggleMenu(){
            this.showMenu = this.showMenu ? false : true;
        },
        toggleSubMenu(){
            this.showSubMenu = this.showSubMenu ? false : true;
        },
        convertLink(val){
            // We check the type of element passed, and return either the actual route or an empty string
            // based on if the actual section has a link or holds several subsections
            if(typeof(this.links[this.area][val]) == "object") {
                // If the selected subsection is a child of the current section
                // we return an empty string
                // else we return the first route of the parent section
                return this.section == Object.keys(this.links[this.area][val]).includes(this.subsection) 
                        ? "" 
                        : this.links[this.area][val][Object.keys(this.links[this.area][val])[0]];

                } else return this.links[this.area][val];
        }
    },

}
</script>
