<template>
    <div class="fullwidth fullheight arena">
		
        <sub-nav area="arena" section="events"></sub-nav>
		
		<div class="sub-section">
			
			<!-- skill box -->
			<div class="skill-box trtafi">
				
				<div class="swipable">
					
					<a class="nav-btn nav-right" @click="next()"></a>
					<a class="nav-btn nav-left" @click="prev()"></a>
					
					<div id="skillbox" class="swipe events-swipe">
						
						<div class="swipe-wrap">
							
							<!-- skill -->
							<div class="swipe-item" v-for="(event, key) in fetched" :key="key">
								
								<div class="skill-name">
									{{event.name}}
								</div>

								<div class="skill-info">
									
									<div class="abs-top abs-left">
										
										<div class="stats" v-if="event.rewards">
											<div 
                                                class="stat price" 
                                                v-if="event.rewards.money" 
                                                v-tooltip="lang.common.fantaeuros"
                                            >
												<span class="txt_green">{{event.rewards.money}}F&euro;</span>
											</div>
											<div 
                                                class="stat exp" 
                                                v-tooltip="lang.common.experience"
                                                v-if="event.rewards.exp"
                                            >
												{{event.rewards.exp}}
											</div>
											<div 
                                                class="stat tps"    
                                                v-if="event.rewards.tps"
                                                v-tooltip="lang.common.tournament_points"
                                            >
												{{event.rewards.tps}}
											</div>
										</div>
										
									</div>
									
									<div class="abs-top abs-right">
										
										
										
									</div>
									
									<div class="abs-bottom abs-right">
										<table align="right" class="tauntable">
											<tr>
												<td>{{lang.common.daily_limit}}</td>
												<td>{{event.daily_progress}}/{{event.daily_limit}}</td>
											</tr>
											<tr>
												<td class="pos_rel">
                                                    {{getTimestampString(event.time_left)}}
                                                    <div 
                                                        class="progbar" 
                                                        :style="'width:'+getPercentage(event.duration, event.time_left)+'%'"
                                                    >
                                                    </div>
												</td>
												<td>{{getTimestampString(event.duration)}}</td>
											</tr>
											<tr>
												<td class="pos_rel">
                                                    {{lang.common.progress}}
                                                    <div 
                                                        class="progbar" 
                                                        :style="'width:'+getPercentage(event.target, event.progress)+'%'"
                                                    ></div></td>
												<td>{{event.progress}}/{{event.target}}</td>
											</tr>
										</table>
									</div>
									
									<div class="skill-img" style="background-image: url('/img/palestra/forza-potenza.jpg');"></div>

								</div>

							</div>
							<!-- /skill -->

							
						</div>
						
					</div>

				</div>
			
			</div>
			<!-- /skill-box -->
			
			<div class="fullwidth">
				
				<div class="cbox">
			
					<div class="infobox">
                        <span v-html="lang.sections.events.infobox"></span>
					</div>
					
				</div>
				
			</div>
				
		</div>

		
	</div>
    		
		
</template>
<script>

import SubNav from '@/components/SubNav.vue';
import Swipe from 'swipejs/build/swipe.min.js';

export default {
	components: {
        SubNav
	},

	created(){
        this.fetchData();
	},
    mounted(){
        var t = setInterval(() => {
            if(this.hasData(this.fetched)){
                clearInterval(t)
                this.initSwipe();
            }
        }, 500);
    },
	data(){
		return {
			fetched: {},
            swipe: {}
		}
	},
	methods: {
        initSwipe(){
			this.swipe = new Swipe(document.querySelector('#skillbox.events-swipe'), {
				startSlide:0,
				auto:0,
				draggable:true,
				autoRestart:false,
				continuous:true,
				disableScroll:true,
				stopPropagation:true,
				callback:function() {},
				transitionEnd:function() {}
			});	
        },
        fetchData() {
            fetch(this.fullPath+"/wg/api/?get_data=events")
			.then(result => result.json())
			.then((json)=> {
				this.fetched = json;
			});
        },
        prev(){
            return this.swipe.prev();
        },
        next(){
            return this.swipe.next();
        },
        getTimestampString(timestamp){
            var days = Math.floor(timestamp / (60 * 60 * 24));
            if(days) return days + " " + this.lang.time.days;
            var hours = Math.floor(timestamp / (60 * 60));
            if(hours) return hours + " " + this.lang.time.hours;
            var minutes = Math.floor(timestamp / 60);
            if(minutes) return minutes + " " + this.lang.time.minutes;

        }
	}
}
</script>
