<template>
    	<div class="fullwidth fullheight arena match-viewer">
		
		<div class="cbox">
			
			<div class="match-logo">
				<span>
					<a>1 VS 1<br>Match Result</a>
				</span>
			</div>
			
			<div class="scroller-bg">
			</div>
			
			<div class="scroller" id="report" ref="report">
				
				<!-- DIRECTIONS:
					> fgt-left; (fighter on the left)
					> fgt-right; (fighter on the right)
					> fgt-none; (action not related with a particular fighter)
				-->
				
				<!-- TYPES:
					> standard;
					> damage; (bleeding or injury)
						.bleeding; .injury;
					> trademark;
					> taunt;
					> final;
					> referee;
				-->
				
				<!-- VARIANTS:
					> blocking; (makes the text all bold)
					> dodging; (makes the text all italic)
				-->
				
				<!-- <full-move
					:is_submission="1"
					damage="4200"
					fighter="Abdel"
					opponent="Maxo"
					preparation="lifs the opponent"
					finalization="then slams him on the mat"
					name="Ankle Lock"
					side="left"
					type="standard"
				></full-move> -->


				
				<!-- <neutral-action
					side="none"
					fighter="Abdel"
					text="executes some neutral action"
				></neutral-action>
				
				<Parry
					side="right"
					fighter="Maxo"
					text="Dodges the attack"
				></Parry>
				

				<debuff
					side="right"
					fighter="Salvatore"
					type="injury"
				>
				</debuff>				

				<referee
					text="some text goes here"
				>
				</referee> -->
				

				
			</div>
			
			<!-- avatar types:
				> user
				> teammate
				> opponent

				additional classes:

				> defeated (applicable to any avatar type: user, teammate, opponent)
			-->
			
			<div v-if="Object.keys(teams).length == 2">
				<div class="fgt-avatars left">
					
					<div 
						v-for="(fighter_id, key) in teams[Object.keys(teams)[0]].fighter_ids" 
						:key="key" :class="'fgt-avatar '+wrestlers[fighter_id].turn_role" 
						>
					
						<div class="picture">
							<div class="avatar" style="background-image:url('/img/fighters/fighter-01.png');"></div>
						</div>
						
						<div class="nickname">
							{{wrestlers[fighter_id].nome}}
						
							<div class="energy">
								<div class="enerbar" :style="'width:'+vitalityBar(wrestlers[fighter_id])+'%'"></div>
							</div>
						
						</div>
						
					</div>
					
				</div>
				
				<div class="fgt-avatars right">
					
					<div 
						v-for="(fighter_id, key) in teams[Object.keys(teams)[1]].fighter_ids" 
						:key="key" :class="'fgt-avatar '+wrestlers[fighter_id].turn_role" 
						title="Nickname"
						>
					
						<div class="picture">
							<div class="avatar" style="background-image:url('/img/fighters/fighter-01.png');"></div>
						</div>
						
						<div class="nickname">
							{{wrestlers[fighter_id].nome}}
						
							<div class="energy">
								<div class="enerbar" :style="'width:'+vitalityBar(wrestlers[fighter_id])+'%'"></div>
							</div>
						
						</div>
						
					</div>
					
					
				</div>
			</div>
		
			<div class="fgt-big left" style="background-image:url('/img/fighters/fighter-01.png');"></div>

			<div class="fgt-big right" style="background-image:url('/img/fighters/fighter-02.png');"></div>
			
			<div class="match-skip">
					
				<span>
					<div>
						<a href="#" @click="goToMatchResult()">{{lang.common.match_result}}</a>
					</div>
				</span>
				
			</div>
			
		</div>
		
		<div class="fullwidth fgt-stats">
			
			<div class="cbox">
				
				<div class="colm50 colt50 colw50">
					
					<div class="fgt-avatars left">
				
						<div class="fgt-avatar user" title="Nickname">

							<div class="picture">
								<div class="avatar" style="background-image:url('/img/fighters/fighter-01.png');"></div>
							</div>

							<div class="nickname">Abdel

								<div class="energy">
									<div class="enerbar" style="width:75%;"></div>
								</div>

							</div>

						</div>
				
					</div>
					
					<table class="fgt-table stats-1">
						<tr>
							<td>Attacchi</td>
							<td>3</td>
						</tr>
						<tr>
							<td>Blocco</td>
							<td>1</td>
						</tr>
						<tr>
							<td>Schivata</td>
							<td>0</td>
						</tr>
					</table>
					
				</div>
				
				<div class="colm50 colt50 colw50">
						
					<table class="fgt-table stats-2">
						<tr>
							<td>Finishers</td>
							<td><div class="ftt-stars ftt0"></div></td>
						</tr>
						<tr>
							<td>Trademarks</td>
							<td><div class="ftt-stars ftt2"></div></td>
						</tr>
						<tr>
							<td>Taunts</td>
							<td><div class="ftt-stars ftt1"></div></td>
						</tr>
					</table>
					
				</div>
				
				<div class="clear"></div>
				
			</div>
			
		</div>
		
	</div>
</template>


<script>

import Vue from 'vue';
import FullMove from '@/components/Report/FullMove.vue';
import NeutralAction from '@/components/Report/NeutralAction.vue';
import Parry from '@/components/Report/Parry.vue';
import Debuff from '@/components/Report/Debuff.vue';
import Referee from '@/components/Report/Referee.vue';

var FullMoveClass = Vue.extend(FullMove)
var NeutralActionClass = Vue.extend(NeutralAction)
var ParryClass = Vue.extend(Parry)
var DebuffClass = Vue.extend(Debuff)
var RefereeClass = Vue.extend(Referee)



export default {

    components: {FullMove, NeutralAction, Parry, Debuff, Referee},
	
	mounted(){
		fetch(this.fullPath+"/wg/funzioni/json/get_Text.asp?match_id="+this.$route.params.id)
			.then(response => response.json())
			.then(json => this.matchText = json)
			.catch((e) => alert(this.lang.alerts.match_expired))
		

		fetch(this.fullPath+'/wg/ajax/viewer_get_json.asp?m='+this.$route.params.id)
		.then(response => response.json())
		.then(json => {
			this.raw = json
			this.wrestlers.turn_role = "teammate";
			this.readReport();
		})
		.catch();

	},
	

    data(){
        return {
			raw: {},
			matchText: {},
			tempString: "",
			test: "",
			report_id: 7134029,
			report: [],
			viewerSpeed: 1500,
			attacker: "",
			turnDamage: 0,
			timeouts: []
        }
    },

	computed:{

		teams(){
			if(this.raw.racconto) {
				return this.raw.racconto.squadre_i;
			} else {
				return {}
			}
		},
		wrestlers(){
			if(this.raw.racconto) {
				return this.raw.racconto.fighters_i;
			} else {
				return {}
			}
		},
		validReport(){
			return Object.keys(this.raw).length > 0;
		},
		fullReport(){
			var fr = this.raw.racconto.turni;
			fr.unshift(this.raw.racconto.intro);
			return fr;
		}
	},

    methods: {
		whichSide(){
			// Decides which side the next rendered block will be pointed to
			var side = "none";
			this.teams[Object.keys(this.teams)[0]].fighter_ids.forEach((id) => {
				if(this.wrestlers[id].nome == this.attacker) {
					side = "left";
				} 
			});

			this.teams[Object.keys(this.teams)[1]].fighter_ids.forEach((id) => {
				if(this.wrestlers[id].nome == this.attacker) {
					side = "right";
				} 
			});
			
			return side;
		},
		readReport(){

			for(let i = 0; i < Object.keys(this.fullReport).length; i++){
				this.timeouts.push (setTimeout(() => {
					this.processTurn(this.fullReport[i]);
				}, i * this.viewerSpeed));
			}

		},

		processTurn(turn){
			this.turnDamage = 0;
			var render = {};

			// Reading the inizio part
			if(turn.inizio.txt.length){
				render = this.generateFightersActions(turn.inizio.txt);
				this.report.push(render);			
				this.renderTurn(render);
			}
			
			//Reading the Azioni part
			turn.azioni.forEach((action) => {
				Object.keys(action.ris.fighters).forEach((key) => {
					
					if(action.ris.fighters[key].stamina) {
						this.wrestlers[key].stamina = action.ris.fighters[key].stamina;
					}
					
					if(action.ris.fighters[key].vita) {
						this.turnDamage += (this.wrestlers[key].vita - action.ris.fighters[key].vita);
						this.wrestlers[key].vita = action.ris.fighters[key].vita;
					}

				});

				render = this.generateFightersActions(action.txt);
				this.report.push(render);			
				this.renderTurn(render);
			});


			// reading the fine part
			if(turn.fine.txt.length){
				render = this.generateFightersActions(turn.fine.txt, true);
				this.report.push(render);			
				this.renderTurn(render);
			}

			// Scroll to bottom
				this.$el.querySelector("#report>div:last-child").scrollIntoView({
					behavior: "smooth"
				});



		},

		generateFightersActions(text, referee = false){

			var actions = [];
			var combo = 0;
			this.attacker = ""
			
			text.forEach((segment) => {
				var t = {};
				t.desc = this.getTextFromId(segment[0][0]);
				t.type = typeof(segment[0][1]) == "undefined" ? "neutral" : segment[0][1];

				combo = t.type == "mossa" || t.type == "oggetti" || t.type == "taunt" || t.type == "finisher" || t.type == "trademark" ? combo+1 : 0;

				//Set the attacker for the next rendered block				
				this.setAttacker(segment, t);

				//Set the placeholers fillers
				t.fillers = segment[1];

				if(referee){t.type = "referee"}

				if(combo == 2) {
					actions[actions.length - 1].success = t.desc;				
				} else {
					actions.push(t);
				}


			});

			return actions;

		},

		renderTurn(turn) {

			for(var i = 0; i < turn.length; i++){
				if(turn[i].desc.match("testo_")) return false;
				var component = this.getComponent(turn[i]);
				component.$mount();
				this.$refs.report.appendChild(component.$el)				
			}
		
		},

		getComponent(item){

			switch(item.type){
	
				case "mossa":
				case "oggetti":
				case "trademark":
				case "finisher":
				case "taunt":
					return new FullMoveClass({
						propsData: {
							type: item.type,
							preparation: item.desc,
							finalization: item.success,
							side: this.whichSide(),
							number: item.number,
							fillers: item.fillers,
							matchText: this.matchText,
							damage: this.turnDamage
						}
					});

				case "difesa":
				case "reazione":
					return new ParryClass({
						propsData: {
							type: item.type,
							side: this.whichSide(),
							text: item.desc,
							fillers: item.fillers,
							matchText: this.matchText,
							swapSide: true
						}
					});

				case "contrattacco":
				case "cambio_pos":
					return new ParryClass({
						propsData: {
							type: item.type,
							side: this.whichSide(),
							text: item.desc,
							fillers: item.fillers,
							matchText: this.matchText,
							swapSide: false
						}
					});

				case "sanguinamento":
					return new DebuffClass({
						propsData: {
							type: "bleeding",
							text: item.desc,
							side: this.whichSide(),
							fillers: item.fillers,
							matchText: this.matchText
						}
					});

				case "infortunio":
					return new DebuffClass({
						propsData: {
							type: "injuried",
							text: item.desc,
							side: this.whichSide(),
							fillers: item.fillers,
							matchText: this.matchText
						}
					});
				
				case "referee":
					return new RefereeClass({
						propsData: {
							text: item.desc,
							fillers: item.fillers,
							matchText: this.matchText
						}
					});
				
				default:
					return new NeutralActionClass({
						propsData: {
							side: this.whichSide(),
							text: item.desc,
							number: item.number,
							fillers: item.fillers,
							matchText: this.matchText,
							damage: this.turnDamage
						}
					});

			}
		},


		goToMatchResult(){
			
			for (var i=0; i < this.timeouts.length; i++) {
				clearTimeout(this.timeouts[i]);
			}

			document.getElementById("report").innerHTML = "";
	
			for(let i = 0; i < Object.keys(this.fullReport).length; i++){
				this.processTurn(this.fullReport[i]);
			}

			setTimeout(() => {
				document.querySelector("#report>div:last-child").scrollIntoView({
					behavior: "smooth"
				});
			}, 1000);

		},



		getTextFromId(id){
			if(typeof(id) == "number")
				return this.matchText[id];
			
			return id;
		},

		setAttacker(segment, obj){

			if(typeof(segment[1]["[fighter]"]) !== "undefined") {
				obj.fighter = segment[1]["[fighter]"][0];
			}
				

			if( typeof(segment[1]["[opponent]"]) !== "undefined") 
				obj.opponent = segment[1]["[opponent]"][0];

			this.attacker = obj.fighter ? obj.fighter : obj.opponent;
			
		},

		setMoveName(segment, obj){
			if(typeof(segment[1]["[move]"]) !== "undefined") 
				obj.move = typeof(segment[1]["[move]"][0]) == "number" 
								? this.matchText[segment[1]["[move]"][0]] 
								: segment[1]["[move]"][0];
		},
		
		
		getTeamOrientation(key){
			if(Object.keys(this.teams).length){
				if(key == 0) return " left";
					else return " right";
			} else{
				return " top";
			}
		},
		


		vitalityBar(wrestler){
			var remainder = wrestler.vita + wrestler.stamina;
			remainder = remainder  > 0 ? remainder : 0; 
			return remainder/(wrestler.vita_max+wrestler.stamina_max) * 100;
		}
	}

}
</script>
