<template>
    <div class="h-100">

		
		
        <div class="fullwidth fullheight arena">
            
            <sub-nav area="arena" section="private_leagues"></sub-nav>

            
            <div class="sub-section">
                
                <div class="top-tabs tabs3">
                    
                    <div class="row">
                        
                        <a 
                            href="#" 
                            :class="'tab ' + (this.section.all == 1 ? 'active' : '')"
                            @click="selectSection('all')"
                        >
                            {{lang.common.all}}
                        </a>
                        <a 
                            href="#" 
                            :class="'tab ' + (this.section.your_level == 1 ? 'active' : '')"
                            @click="selectSection('your_level')"
                        >
                            {{lang.common.your_level}}
                        </a>
                        <a 
                            href="#" 
                            :class="'tab ' + (this.section.ongoing == 1 ? 'active' : '')"
                            @click="selectSection('ongoing')"
                        >
                            {{lang.common.ongoing}}
                        </a>
                        
                    </div>
                    
                </div>
                
            </div>
                
            <div v-if="this.section.ongoing && this.fetched.ongoing_leagues" class="trleagboxes">
                
                <!-- WARNING: this box can only appear on the "FUNZIONANTE" tab -->
                <div 
                    class="trleagbox working" 
                    v-for="(league, key) in fetched.ongoing_leagues"
                    :key="key"
                >

                    <div class="content">
                        
                        <table class="working">
                            <tr>
                                <th>#</th>
                                <th>
                                    <span class="nick">{{lang.common.name}}</span>
                                    <span class="lvl">{{lang.common.lvl}}</span>
                                </th>
                                <th>{{lang.common.matches}}</th>
                                <th>{{lang.common.rank}}</th>
                                <th>
                                    <span class="hide320">{{lang.common.points}}</span>
                                    <span class="hide768 hide1024" title="Punteggio">Pt</span>
                                </th>
                                <th>{{lang.common.actions}}</th>
                            </tr>
                            <tr v-for="(entry, key2) in league.standings" :key="key2">
                                <td>{{key2+1}}</td>
                                <td>
                                    <span class="nick">{{entry.name}}</span>
                                    <span class="lvl">{{entry.level}}</span>
                                </td>
                                <td>{{entry.matches_fought}}/{{league.capacity-1}}</td>
                                <td>#{{entry.rank}}</td>
                                <td>{{entry.points}}</td>
                                <td>
                                    <a href="#" class="genicon color-fff view"></a>
                                </td>
                            </tr>
                        </table>
                        
                    </div>

                </div>
                <!-- /WARNING: this box can only appear on the "FUNZIONANTE" tab -->

            </div>

            <div class="leagues">
                <div v-if="!this.section.ongoing && this.fetched.open_leagues" class="trleagboxes">
                    
                    <!-- WARNING: this box can only appear on the "FUNZIONANTE" tab -->
                    <div class="trleagbox" v-for="(league,key) in leaguesToDisplay" :key="key">
    
                        <div class="title">
                            {{league.name}}
                        </div>
    
                        <div class="content">
                            
                            <table class="trlginfo">
                                <tr>
                                    <td> {{ lang.common.wrestlers_levels_allowed }} </td>
                                    <td><b>{{league.max_level_allowed}}</b> {{lang.common.and_lower}}</td>
                                </tr>
                                <tr>
                                    <td>{{lang.common.match_type}}</td>
                                    <td>{{league.match_type}}</td>
                                </tr>
                                <tr>
                                    <td>{{lang.common.subscription_cost}}</td>
                                    <td><b>{{league.cost}}</b> {{lang.common.tournament_points}}</td>
                                </tr>
                                <tr>
                                    <td>{{lang.common.reward_victory}}</td>
                                    <td><b class="txt_green">{{league.victory_reward}}</b> {{lang.common.fantaeuros}}</td>
                                </tr>
                                <tr>
                                    <td>{{lang.common.subscribed_wrestlers}}</td>
                                    <td><b>{{league.subscribed_wrestlers}}</b> / {{league.capacity}}</td>
                                </tr>
                            </table>
                            
                            <!-- print this block in case of special rules -->
                            <h3 v-if="hasSpecialRules(league)">{{lang.common.special_rules}}</h3>
                            
                            <ul>
                                <li v-if="league.special_rules.no_finishers">{{lang.common.finishers_disabled}}</li>
                                <li v-if="league.special_rules.no_tms">{{lang.common.trademarks_disabled}}</li>
                                <li v-if="league.special_rules.no_taunts">{{lang.common.taunts_disabled}}</li>
                                <li v-if="league.special_rules.no_ats">{{lang.common.ats_disabled}}</li>
                            </ul>
                            <!-- /print this block in case of special rules -->
                            
                            <div class="preview-box" v-if="league.description">
                
                                <h3>{{lang.common.description}}</h3>
                                
                                <p>{{league.description}}</p>
    
                            </div>
                            
                            <div align="center">
                                
                                <button 
                                    v-if="league.already_subscribed" 
                                    href="#" 
                                    class="btn btn-generic btn-gray">
                                    {{lang.common.already_subscribed}}
                                </button>
                                <button 
                                    v-if="!league.already_subscribed && league.cost > info.tps" 
                                    href="#" 
                                    class="btn btn-generic btn-gray">
                                    {{lang.common.need_tps}}
                                </button>
                                <button 
                                    v-if="!league.already_subscribed && league.cost <= info.tps"
                                    href="#" 
                                    class="btn btn-generic btn-green"
                                    @click="subscribeToLeague(league.id)"
                                >
                                    {{lang.common.subscribe_league}}
                                </button>
    
                                
                            </div>
                            
                        </div>
    
                    </div>
                    <!-- /WARNING: this box can only appear on the "FUNZIONANTE" tab -->
    
                </div>
            </div>

        </div>
        
        <div id="pullable" :class="showCreateForm ? 'opened' : 'closed'">

            <div class="cbox">

                <div class="tabs one-tabs">

                    <div class="tab active">{{lang.common.create_league}}</div>
                    <div id="puller" @click="toggleCreateForm()">
                    </div>

                </div>

            </div>

            <div class="cbox dark-box" id="pullable-content">

                <div class="content">
                    
                    <form>
                    
                        <label>{{lang.common.name}}:<br>
                            <input 
                                v-model="newLeague.name" 
                                type="text" 
                                name="name" 
                                :placeholder="lang.common.insert_name" 
                                maxlength="32" 
                                required
                            >
                        </label>
                        
                        <br>
                        <br>

                        <label>{{lang.common.wrestlers_levels_allowed}}:<br>
                            <select v-model="newLeague.max_level_allowed" name="wre-lvl" required>
                                <option 
                                    v-for="(level, key) in levelsToAllow"
                                    :key="key"
                                    :value="level"
                                >{{level}} {{lang.common.and_lower}}</option>
                            </select>
                        </label>
                        
                        <br>
                        <br>
                        
                        <label v-if="fetched.match_types">{{lang.common.match_type}}:<br>
                            <select v-model="newLeague.match_type" name="match-type" required>
                                <option 
                                    v-for="(match, key) in fetched.match_types" 
                                    :key="key" 
                                    :value="match.id"
                                >
                                    {{match.name}}
                                </option>
                            </select>
                        </label>
                        
                        <br>
                        <br>
                        
                        <label>{{lang.common.league_capacity}}:<br>
                            <select name="league-num" v-model="newLeague.capacity" required>
                                <option 
                                    v-for="(capacity, key) in leagueCapacities" 
                                    :key="key"
                                    :value="capacity"
                                >
                                    {{capacity}}
                                </option>
                            </select>
                        </label>
                        
                        <br>
                        <br>
                        
                        <label>{{lang.common.description}}:<br>
                            <textarea 
                                name="description" 
                                maxlength="500" 
                                rows="3" 
                                :placeholder="lang.common.insert_description"
                                v-model="newLeague.description"
                            ></textarea>
                        </label>
                        
                        <br>
                        <br>
                        
                        <h3>{{lang.common.special_rules}}:</h3>
                        
                        <table style="width:100%;">
                            <tr>
                                <td>
                                    <label>
                                        <input 
                                            v-model="newLeague.special_rules.no_finishers" 
                                            type="checkbox" 
                                            class="checkbox white" 
                                            name="sr_1"
                                        >
                                        {{lang.common.finishers_disabled}}
                                    </label>
                                    <br><br>
                                </td>
                                <td>
                                    <label>
                                        <input 
                                            v-model="newLeague.special_rules.no_tms" 
                                            type="checkbox" 
                                            class="checkbox white" 
                                            name="sr_2"
                                        >
                                        {{lang.common.trademarks_disabled}}
                                    </label>
                                    <br><br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        <input 
                                            v-model="newLeague.special_rules.no_taunts" 
                                            type="checkbox" 
                                            class="checkbox white" 
                                            name="sr_3"
                                        >
                                        {{lang.common.taunts_disabled}} 
                                    </label>
                                    <br><br>
                                </td>
                                <td>
                                    <label>
                                        <input 
                                            v-model="newLeague.special_rules.no_ats" 
                                            type="checkbox" 
                                            class="checkbox white" 
                                            name="sr_4"
                                        >
                                        {{lang.common.ats_disabled}}
                                    </label>
                                    <br><br>
                                </td>
                            </tr>
                        </table>
                        
                        <br>
                        <br>
                        <br>
                        <br>
                        
                        <table class="trlginfo">
                            <tr>
                                <td>{{lang.common.subscription_cost}}</td>
                                <td><b>{{newLeagueCost}}</b> {{lang.common.tournament_points}}</td>
                            </tr>
                            <tr>
                                <td>{{lang.common.reward_victory}}</td>
                                <td><b class="txt_green">{{newLeagueReward}}</b> {{lang.common.fantaeuros}}</td>
                            </tr>
                        </table>
                        
                        <br>
                        <br>
                        
                        <div class="txt_center">
                            <input 
                                v-if="newLeagueCost <= info.tps"
                                type="submit" 
                                class="btn btn-generic btn-green" 
                                :value="lang.common.create"
                                @click.prevent="createLeague()"
                            >
                            <a 
                                v-else
                                class="btn btn-generic btn-gray" 
                                @click.prevent="createLeague()"
                            >{{lang.common.need_tps}}</a>
                            &nbsp;
                            <input 
                                type="reset" class="btn btn-generic btn-red" 
                                :value="lang.common.cancel"
                                @click="cancelForm()"
                            >
                        </div>
                    
                    </form>
                    
                    <br><br>
                    
                    <p>
                        <b class="txt_green">{{lang.common.note}}:</b> 
                        {{lang.sections.private_leagues.note}}
                    </p>

                </div>

            </div>

        </div>
    </div>
        


		
	
    		
		
</template>
<script>

import SubNav from '@/components/SubNav.vue';

export default {
	components: {
        SubNav
	},

	created(){
        this.fetchData();
	},

	data(){
		return {
			fetched: {},
            swipe: {},
            leagueCapacities: [20,18,16,14,12,10,8,6,4],
            section: {
                all: 1,
                your_level: 0,
                ongoing: 0
            },
            showCreateForm: false,
            newLeague:{
                capacity: 4,
                description: "",
                match_type: 1,
                max_level_allowed: 16,
                name: "",
                special_rules: {
                    no_finishers: 0,
                    no_tms: 0,
                    no_taunts: 0,
                    no_ats: 0
                }
            }
		}
	},
    computed: {
        yourLevelLeagues(){
            return this.fetched.open_leagues.filter((league) => {
                return league.max_level_allowed == this.info.wrestler_level;
            });
        },
        newLeagueCost(){
            var cost = this.newLeague.capacity > 10 ? 4 : 2;
            return cost += this.info.wrestler_level == this.newLeague.max_level_allowed ? 2 : 0;
        },
        newLeagueReward(){
            return 100 + (this.newLeague.max_level_allowed * 20);
        },
        levelsToAllow(){
            var lvls = [];
            for (var i = this.info.wrestler_level; i < 17; i++){
                lvls.push(i);
            }
            return lvls;
        },
        leaguesToDisplay(){
            return this.section.your_level ? this.yourLevelLeagues : this.fetched.open_leagues;
        }
    },
	methods: {

        fetchData() {
            fetch(this.fullPath+"/wg/api/?get_data=pl")
			.then(result => result.json())
			.then((json)=> {
				this.fetched = json;
			});
        },
        toggleCreateForm(){
            this.showCreateForm = !this.showCreateForm;
        },
        createLeague(){

            // var queryString = "action=create_pl&name="+this.newLeague.name+"&";
            // if(this.newLeague.special_rules.no_finishers) queryString += "no_finishers=true&";
            // if(this.newLeague.special_rules.no_tms) queryString += "no_trade=true&";
            // if(this.newLeague.special_rules.no_taunts) queryString += "no_taunt=true&";
            // if(this.newLeague.special_rules.no_ats) queryString += "no_at=true&";
            // queryString += "descri="+this.newLeague.description+"&";
            // queryString += "numbers="+this.newLeague.capacity+"&";
            // queryString += "pl_level="+this.newLeague.max_level_allowed+"&";
            // queryString += "match_type="+this.newLeague.match_type;
            //  fetch(this.fullPath+"/wg/api/actions.asp?"+queryString);
            
            var queryObj = {action: "create_pl"}
            if(this.newLeague.special_rules.no_finishers) queryObj.no_finishers = "true";
            if(this.newLeague.special_rules.no_tms) queryObj.no_trade = "true";
            if(this.newLeague.special_rules.no_taunts) queryObj.no_taunt = "true";
            if(this.newLeague.special_rules.no_ats) queryObj.no_at = "true";

            queryObj.name = this.newLeague.name;
            queryObj.descri = this.newLeague.description;
            queryObj.numbers = this.newLeague.capacity;
            queryObj.pl_level = this.newLeague.max_level_allowed;
            queryObj.match_type = this.newLeague.match_type;
            
           


            fetch(this.fullPath+"/wg/api/actions.asp", {
                method: 'POST',
                headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
                },
                body: JSON.stringify(queryObj)
            })
            .then(() => this.fetchData());

        },
        subscribeToLeague(id){
            fetch(this.fullPath+"/wg/api/actions.asp?action=subscribe_pl&League_id="+id)
                .then(() => this.fetchData());   
        },
        cancelForm(){
            this.toggleCreateForm();
        },
        selectSection(sec){
            this.section = { all: 0, your_level: 0, ongoing: 0 };
            this.section[sec] = 1;
        },
        hasSpecialRules(lg){
            return lg.special_rules.no_finishers || lg.special_rules.no_tms || lg.special_rules.no_taunts || lg.special_rules.no_ats;
        }
        
	}
}
</script>
