<template>
	
	<div class="fullwidth fullheight arena">
		
        <sub-nav section="search" area="arena"></sub-nav>
		
		<div class="fullwidth form-area">
		
			<div class="cbox">
				
				<div id="search-container" :class="searching ? 'opened' : 'closed'">
					<div id="search-pull" @click="closeSearch()"></div>

					<form>
						<input v-model="filters.search" @click="openSearch()" type="search" class="search" id="search" :placeholder="lang.common.search_by_name">
						<input @click="submitSearch()" type="submit" class="search-submit" value="" v-tooltip="lang.common.search">
					</form>
				</div>
				
				<div id="search-filters" :class="!searching ? 'opened' : 'closed'">
					<label @click="filterFriends()">
						<input type="checkbox" class="checkbox white" :checked="filters.friends"> 
						{{lang.common.friends}}
					</label>

					<label @click="filtermasters()">
						<input type="checkbox" class="checkbox white" :checked="filters.masters" > {{lang.common.masters}}
					</label>

					<div class="reset" title="Reset"></div>

					<select name="sortBy" v-model="filters.class">
						<option value=""> {{ lang.common.all_classes }} </option>
						<option value="balanced"> {{lang.common.balanced}} </option>
						<option value="strength">{{lang.common.strength}}</option>
						<option value="speed">{{lang.common.speed}}</option>
						<option value="technique">{{lang.common.technique}}</option>
						<option value="resistance">{{lang.common.resistance}}</option>
					</select>
				</div>
				
			</div>
		
		</div>
		
		<div class="arena-flist">
			

		
			

			
			<!-- fighter (MASTER) -->
			<div 
				:class="'fighter ' + ( isChampion(wrestler) ? 'gold belt-1' : '') " 
				v-for="(wrestler, index) in filteredWrestlers" 
				:key="index"
			>
				
				<div class="fhead">
					
					<!-- possible classes: str (strenght), spd (speed), tech (technique), .endr (endurance), blc (balanced) -->
					<div :class="'stat-icon '+getClassIcon(wrestler.class)"></div>
					
					<div class="nick"> {{wrestler.name}} </div>
					
					<div class="wins"> {{lang.common.win_rate}}  {{wrestler.win_rate}} </div>
					
					<div class="prize"> {{lang.common.modifier}} <span>-{{wrestler.modifier.loss}}</span>/+{{wrestler.modifier.gain}}</div>
					
					<div class="level">Lvl {{wrestler.lv}}</div>
					
				</div>
				
				<div class="fbody">
				
					<div class="content">
						
						<!-- avatar online || avatar offline -->
						<div 
							:class="'avatar ' + (wrestler.online ? 'online' : 'offline')" 
							:style="'background-image:url(\'https://it.thewrestlinggame.com'+wrestler.img+'\');'"
						></div>
						
						<div class="icons">
							
							<a class="icon gift" href="#" v-tooltip="lang.common.gift_tooltip">
								<span> {{lang.common.gift}} </span>
							</a>
							<a 
								:class="'icon friend-' +(wrestler.is_friend ? '2' : '1')" href="#" 
								v-tooltip="lang.common.friend_tooltip"
								@click="toggleFriend(wrestler)"
							>
								<span> {{lang.common.friend}}</span>
							</a>
							<a class="icon msg" href="#" v-tooltip="lang.common.message_tooltip">
								<span>{{lang.common.message}}</span>
							</a>
							<a class="icon view" href="#" v-tooltip="lang.common.scout_tooltip">
								<span> {{lang.common.scout}} </span>
							</a>
							<a 
								v-if="!canFight(wrestler)" 
								:class="getFightClass(wrestler.lv)" 
								href="#" 
								v-tooltip="lang.common.cannot_fight_tooltip"
							>
									<span></span>
							</a>
							<a 
								:class="!wrestler.next_fight ? 'icon fight' : 'icon hourglass'" 
								v-tooltip="!wrestler.next_fight ? lang.common.fight_tooltip : lang.common.match_timer_tooltip"
								@click="initiateFight(wrestler.id)"
							>
								<span>{{!wrestler.next_fight ? lang.common.fight : wrestler.timer}}</span>
							</a>
							
						</div>
						
					</div>

				</div>
				
			</div>
			<!-- /fighter (MASTER) -->

		</div>
		
		<div class="fullwidth arena-dropup">
			
			<div class="cbox">
				
				<div 
					id="drp1" 
					@click="toggleModeWindow" 
					:class="'dropup team-type ' + (modeWindow ? 'visible' : 'hidden')"
				>
					<span>1. {{lang.common.match_mode}}</span>
					<div class="icon" :style="'background-image:url(\'/img/matchtype/'+modeIcon+'.jpg\');'"></div>
					
					<div class="selection">
						<div 
							v-if="mode != 'single'" 
							class="mtc-type" 
							@click="setSingleMode()"
							style="background-image:url('/img/matchtype/fighter.jpg');"
						></div>
						<div 
							v-if="mode != 'tag'" 
							:class="'mtc-type' + (!has_tag ? ' disabled' : '')" 
							@click="setTagMode()"
							style="background-image:url('/img/matchtype/tag.jpg');"
						></div>
						<div 
							v-if="mode != 'stable'"
							:class="'mtc-type' + (!has_stable ? ' disabled' : '')" 
							@click="setStableMode()"
							style="background-image:url('/img/matchtype/stable.jpg');"
						></div>
					</div>
				</div>
				
				<div 
					id="drp2"
					@click="toggleMatchWindow"
					:class="'dropup matches ' +( matchWindow ? 'visible' : 'hidden')"
				>
					<span>2. {{lang.common.match_type}} </span>
					<div class="icon" :style="'background-image:url(\'/img/matchtype/m'+matchType+'.jpg\')'"></div>
					
					<div class="selection">
						<div 
							v-for="(id, index) in matchList" 
							:key="index"
							class="mtc-type" 
							:style="'background-image:url(\'/img/matchtype/m'+ id +'.jpg\')'"
							@click="matchType = id"
						></div>
					</div>
				</div>
				
				<div class="clear"></div>
				
			</div>
			
		</div>
		
	</div>
	
</template>


<script>

import HelperFunctions from "@/mixins/HelperFunctions.js"

import SubNav from '@/components/SubNav.vue';

export default {

    components: {SubNav},
	mixins: [HelperFunctions],
	created(){
		this.fetchData();
	},
	mounted(){
		var interval = setInterval(
			() => {this.wrestlers.forEach(wrestler => {
					if(wrestler.next_fight){
						wrestler.next_fight--
						this.setMatchTimer(wrestler)
					}
				})
			}, 1000);
	},
	data(){
        return {
            searching: false,
			filters: {
				friends: false,
				masters: false,
				class: "",
				search: "",
			},
			mode: "single",
			matchType: 1,	
			modeWindow: 0,
			matchWindow: 0,
			specialMatchWindow: 0,
			wrestlers: [],
			lv: null,
			match_types: {},
			has_tag: 0,
			has_stable: 0        
		}
	},
	computed:{
		filteredWrestlers(){

			if(this.filters.friends){
				return this.wrestlers.filter(function(wrestler){
					return wrestler.is_friend && !wrestler.is_master;
				});
			} else if(this.filters.masters){
				return this.wrestlers.filter(function(wrestler){
					return wrestler.is_master;
				});				
			} 

			return this.wrestlers.filter(function(wrestler){
				return !wrestler.is_master;
			});

		},
		modeIcon(){
			return this.mode == "single" ? 'fighter' : this.mode;
		},
		
		matchList(){
			return this.match_types[this.mode];
		}

	},
    methods: {

		fetchData(){
			fetch(this.fullPath+'/wg/api/?get_data=arena')
				.then(response => response.json())
				.then((json) => {
					this.wrestlers = json;
				});
			
			fetch(this.fullPath+'/wg/api/?get_data=header')
				.then(response => response.json())
				.then(({wrestler_level, match_types, has_tag, has_stable}) => {
					this.lv = wrestler_level;
					this.match_types = match_types;
					this.has_tag = has_tag;
					this.has_stable = has_stable;
				});
		},
		
		openSearch(){
            this.searching = true;
		},
		
		closeSearch(){
            this.searching = false;
		},
		
		toggleModeWindow(){
			this.matchWindow = 0;
			this.modeWindow = !this.modeWindow;
		},
		
		toggleMatchWindow(){
			this.modeWindow = 0;
			this.matchWindow = !this.matchWindow;
		},

		canFight(wrestler){
			return Math.abs(this.lv - wrestler.lv) < 2;
		},

		getFightClass(lvl){
			var iconNum = this.lv > lvl ? 1 : 2;
			return 'icon master-'+iconNum;
		},
		
		setSingleMode(){
			this.mode = "single";
			this.matchType = this.match_types.single[0];			
		},
		
		setTagMode(){
			if(this.has_tag){
				this.mode = "tag";
				this.matchType = this.match_types.tag[0];				
			}
		},
		
		setStableMode(){
			if(this.has_stable){
				this.mode = "stable"
				this.matchType = this.match_types.stable[0];				
			}
		},
		
		toggleFriend(wrestler){
			fetch(this.fullPath+"/wg/ajax/funzioni/updates.asp?fiendlist="+wrestler.id)
			wrestler.is_friend = !wrestler.is_friend;
		},

		setMatchTimer(wrestler){
			var secs = wrestler.next_fight;
			var mins = Math.floor(wrestler.next_fight/60);
			secs  = secs - (mins * 60);
			
			if(mins <= 9) mins = "0" + mins;
			if(secs <= 9) secs = "0" + secs;
			
			wrestler.timer = mins +":"+secs;
		},

		initiateFight(id) {
			fetch(this.fullPath+"/wg/api/challenge.asp?id="+id+"&tipo_match="+this.matchType)
				.then(response => response.text())
				.then(id => this.$router.push("/arena/match/"+id));
		},
		 filterFriends(){
			this.filters.masters = false;
			this.filters.friends = !this.filters.friends
		},
		filtermasters(){
			this.filters.friends = false;
			this.filters.masters = !this.filters.masters
		},
		isChampion(wrestler){
			return wrestler.championship !== 100;
		}

    }
    

}
</script>
