<template>
    <div class="fullwidth fullheight arena">
		
        <sub-nav area="arena" section="tournaments"></sub-nav>
		
		<div class="tournaments">
			<div class="trleagboxes" v-if="hasData(fetched)">
				
				<!-- tournament/league box -->
				<div class="trleagbox" v-for="(tournament, key) in fetched" :key="key">
	
					<div class="title">{{tournament.name}}</div>
	
					<div class="content">
						
						<table class="trlginfo">
							<tr>
								<td>{{lang.common.levels_allowed}}</td>
								<td v-html="toLevelsString(tournament.levels_allowed)"></td>
							</tr>
							<tr>
								<td>{{lang.common.match_type}}</td>
								<td>{{tournament.match_type}}</td>
							</tr>
							<tr>
								<td>{{lang.common.subscription_cost}}</td>
								<td><b>{{tournament.cost}}</b> {{lang.common.tournament_points}}</td>
							</tr>
							<tr>
								<td>{{ lang.common.subscription_bonus }}</td>
								<td>
									<b class="txt_green">
										{{tournament.subscription_bonus ? tournament.subscription_bonus.money : ""}}
									</b> 
									{{lang.common.fantaeuros}}, 
									<b>{{tournament.subscription_bonus ? tournament.subscription_bonus.exp : ""}}</b> 
									{{lang.common.experience_points}}
								</td>
							</tr>
							<tr>
								<td>{{lang.common.turn_reward}}</td>
								<td v-if="tournament.turn_reward">
									<b>{{tournament.turn_reward.exp}}</b> 
									{{lang.common.experience_points}}, 
									<b class="txt_green">{{tournament.turn_reward.money}}</b> 
									{{lang.common.fantaeuros}}, 
									<b>{{tournament.turn_reward.fans}}</b> 
									{{lang.common.fans}}
								</td>
							</tr>
							<tr>
								<td>{{lang.common.subscribed_wrestlers}}</td>
								<td><b>{{tournament.subscribed_wrestlers}}</b> / {{tournament.max_capacity}}</td>
							</tr>
						</table>
						
						<div align="center">
							
							<a 
								href="#" 
								class="btn btn-generic" 
								:class="tournament.already_subscribed ? 'btn-gray' : 'btn-green'"
								@click="subscribeTo(tournament)"
							>
								{{lang.common.subscribe}}
							</a>
							
							<!-- for already subscribed users:
							<a class="btn btn-generic btn-gray">Sei già iscritto</a>
							-->
							
						</div>
						
					</div>
	
				</div>
				<!-- /tournament/league box -->
	
			</div>
		</div>

		
	</div>
    		
		
</template>
<script>

import SubNav from '@/components/SubNav.vue';

export default {
	components: {
        SubNav
	},

	created(){
        this.fetchData();
	},

	data(){
		return {
			fetched: {}
		}
	},
	methods: {
        fetchData() {
            fetch(this.fullPath+"/wg/api/?get_data=tournaments")
			.then(result => result.json())
			.then((json)=> {
				this.fetched = json;
			});
		},
		toLevelsString(arr){
			var arr2 = arr.map(val => "<b>"+val+"</b>");
			return arr2.join(",");
		},
		subscribeTo(trnmnt){
			if(trnmnt.already_subscribed) return false;			
			
			fetch(this.fullPath+"/wg/api/actions.asp?action=subscribe_tournament&tournament_id=" + trnmnt.id)
			.finally(this.fetchData());
		}
	}
}
</script>
