<template>
    <div class="h-100">
        <div class="fullwidth fullheight palestra">
			
			<sub-nav section="wgc" area="arena"></sub-nav>
    		
    		<div class="sub-section">
    			
    			<div class="top-tabs">
    				
    				<div class="row">
    					
    					<a href="#" class="tab" @click="prev()" :style="canPrev ? '' : 'opacity: 0'" >&lt;</a>
    					<a class="tab active">{{lang.common.league + " #" + (selected+1)}}</a>
    					<a href="#" class="tab" @click="next()" :style="canNext ? '' : 'opacity: 0'" >&gt;</a>
    					
    				</div>
    				
    			</div>
    			
    		</div>
    			
    		<div class="trleagboxes">
    			
    			<div class="trleagbox working">
    
    				<div class="content">
    					
    					<table class="championship">
    						<tr>
    							<th>#
    							</th>
    							<th>
									{{lang.common.name}}
    							</th>
    							<th>
									{{lang.common.points}}
    							</th>
    							<th title="Vinte / Pareggiate / Perse"><span>V</span>/<span>D</span>/<span>L</span>
    							</th>
    							<th><span class="hide320">{{lang.common.win_rate}}</span><!-- win rate -->
    							</th>
    							<th>
									{{lang.common.actions}}
    							</th>
    						</tr>
    						<tr 
								v-for="(participant, key) in leagues[selected]" 
								:key="key" :class="participant.id == info.wrestler_id ? 'user' : ''"
							>
    							<td>
									{{key+1}}
									<span 
										v-if="participant.ranking !== 0" 
										:class="getRankIcon(key)"
									>
									</span>
    							</td>
    							<td v-text="participant.name"></td>
    							<td v-text="participant.points"></td>
    							<td>
									<span v-text="participant.record.won"></span>
									/<span v-text="participant.record.draw"></span>
									/<span v-text="participant.record.lost"></span>
    							</td>
    							<td>{{winrate(participant.record)}}
    							</td>
    							<td>
    								<a href="#" class="genicon color-fff msg" @click="messageUser()"></a>
    								<a href="#" class="genicon color-fff fight" @click="fightUser()"></a>
    								<a href="#" class="genicon color-fff view" @click="scoutUser()"></a>
    							</td>
    						</tr>
							
    					</table>
    					
    				</div>
    
    			</div>
    
    		</div>
    
    	</div>
    	
    	<div id="pullable" :class="info == 1 ? 'opened': 'closed'">
    
    		<div class="cbox">
    
    			<div class="tabs one-tabs">
    
    				<div class="tab active">Info</div>
    				<div id="puller" @click="toggleInfo()"></div>
    
    			</div>
    
    		</div>
    
    		<div class="cbox dark-box" id="pullable-content">
    
                <div class="content">
                    
                    <div class="infobox noscroll">
                        <span v-html="lang.sections.wgc.infobox">
                        </span>
                    </div>
    
                </div>
    
    		</div>
    
    
        </div>

    </div>

</template>

<script>

    import SubNav from '@/components/SubNav.vue'

    export default {

        components: {
            SubNav
        },

        created(){
            this.fetchData();
        },

        data(){
            return {
                leagues: [],
				selected: 0,
				league: {},
				info: 0
            }
        },
        computed: {
            canPrev() {
                return this.selected !== 0;
            },
            canNext() {
                return this.selected !== this.leagues.length - 1;
            }
		},

        methods: {
            fetchData(){
				fetch(this.fullPath+'/wg/api/?get_data=wgc')
                    .then(response => response.json())
                    .then(json => {
						this.leagues = json.leagues;
						if(json.your_league) this.selected = --json.your_league;
                    });
			},
			next(){
				if(this.canNext) this.selected++;
			},
			prev(){
				if(this.canPrev) this.selected--;
			},
			toggleInfo() {
				this.info = !this.info;
			},
			getRankIcon(rank){
				switch(++rank){
					case 1:
					case 2:
					case 3:
					case 4:
					case 5:
						return "ch-arrow green";
					case 26:
					case 27:
					case 28:
					case 29:
					case 30:
						return "ch-arrow red";
					default:
						return "";
				}
			},
			winrate(record){
				return Math.round(record.won/(record.won+record.lost+record.draw) * 100) + "%";
			},
			scoutUser(id){

			},
			messageUser(id){

			},
			fightUser(id) {

			}
        }
    }
</script>
