<template>
<div class="content">
							
	<table class="generic stats">

		<tr>
			<th colspan="2"> {{lang.common.general_skills}} </th>
		</tr>

		<tr>
			<td>
				{{lang.attributes.health_points}}
			</td>
			<td>
				{{abilities.health_points}}
			</td>
		</tr>

		<tr>
			<td>
				{{lang.attributes.stamina}}
			</td>
			<td>
				{{abilities.stamina}}
			</td>
		</tr>

		<tr>
			<td>
				{{lang.attributes.adrenaline}}
			</td>
			<td>
				{{abilities.adrenaline}}
			</td>
		</tr>

		<tr>
			<td>
				{{lang.attributes.initiative}}
			</td>
			<td>
				{{abilities.initiative}}
			</td>
		</tr>

		<tr>
			<td>
				{{lang.attributes.stamina_reducer}}
			</td>
			<td>
				{{floatToPercentage(abilities.stamina_reduction)}}
			</td>
		</tr>

		<tr>
			<td>
				{{lang.attributes.damage_reducer}}
			</td>
			<td>
				{{abilities.damage_reduction}}
			</td>
		</tr>

		<tr>
			<th colspan="2">{{lang.common.offensive_skills}}</th>
		</tr>

		<tr>
			<td>
				{{lang.attributes.attack_bonus}}
			</td>
			<td>
				{{abilities.attack_bonus}} <div class="medal gold" title="1° Massimo/a Danno in questo livello."></div>
			</td>
		</tr>

		<tr>
			<td>
				{{lang.attributes.direct_damage_increaser}}
			</td>
			<td>
				{{abilities.direct_damage_increaser}} <div class="medal silver" title="2° Massimo/a Danno in questo livello."></div>
			</td>
		</tr>

		<tr>
			<td>
				{{lang.attributes.submission_bonus}}
			</td>
			<td>
				{{abilities.submission_bonus}}<div class="medal bronze" title="3° Massimo/a Danno in questo livello."></div>
			</td>
		</tr>

		<tr>
			<td>
				{{lang.attributes.submission_damage_increaser}}
			</td>
			<td>
				{{abilities.submission_damage_increaser}}
			</td>
		</tr>

		<tr>
			<td>
				{{lang.attributes.pin_bonus}}
			</td>
			<td>
				{{abilities.pin_bonus}}
			</td>
		</tr>

		<tr>
			<td>
				{{lang.attributes.bleed_bonus}}
			</td>
			<td>
				{{abilities.bleed_bonus}}
			</td>
		</tr>

		<tr>
			<td>
				{{lang.attributes.attacks_allowed}}
			</td>
			<td>
				{{abilities.attacks_allowed}}
			</td>
		</tr>

		<tr>
			<td>
				{{lang.attributes.attack_sequence_bonus}}
			</td>
			<td>
				{{floatToPercentage(abilities.attack_sequence_bonus)}}
			</td>
		</tr>

		<tr>
			<th colspan="2">{{lang.common.defensive_skills}}</th>
		</tr>

		<tr>
			<td>
				{{lang.attributes.block}}
			</td>
			<td>
				{{abilities.block}}
			</td>
		</tr>

		<tr>
			<td>
				{{lang.attributes.dodge}}
			</td>
			<td>
				{{abilities.dodge}}
			</td>
		</tr>

		<tr>
			<td>
				{{lang.attributes.pin_opposition}}
			</td>
			<td>
				{{abilities.pin_opposition}}
			</td>
		</tr>

		<tr>
			<td>
				{{lang.attributes.escape_submission}}
			</td>
			<td>
				{{abilities.escape_submission}}
			</td>
		</tr>

		<tr>
			<td>
				{{lang.attributes.attacks_denied}}
			</td>
			<td>
				{{abilities.attacks_denied}}
			</td>
		</tr>

		<tr>
			<td>
				{{lang.attributes.defense_sequence_bonus}}
			</td>
			<td>
				{{floatToPercentage(abilities.defense_sequence_bonus)}}
			</td>
		</tr>

	</table>

</div>
</template>


<script>
import HelperFunctions from "@/mixins/HelperFunctions.js"

export default {
	props: ["abilities"],
	mixins: [HelperFunctions]
}
</script>
