<template>
<div class="content">							
	<table class="generic matches">

		<tr>
			<td>
				<div v-for="(achievement, index) in achievements" :key="index" :class="'achievement lvl'+achievement.level" :style="'background-image: url(\'/img/achievements/'+achievement.level+'.jpg\');'" title="achievement name"></div>
			</td>
		</tr>
		
	</table>

</div>
</template>


<script>
export default {
    props: ["achievements"]
}
</script>
