<template>
<div class="content">
							
	<div class="pt_match">
		{{ lang.common.match_points_available }} <span> {{matches.points_available}} </span>
	</div>
	
	<table class="generic matches">

		<tr>
			<th>{{lang.common.match_types}}</th>
		</tr>

		<tr>
			<td>
				<div v-for="(match, index) in matches.singles"
					:key="index" 
					:class="'matchtype' + (match.unlocked ? ' active' : '')" 
					:style="'background-image: url(\'/img/matchtype/m'+ match.id +'.jpg\');'" 
					title="matchtype name"
					@click="$emit('unlock', match.id, match.unlocked)"
				>
				</div>
			</td>
		</tr>
		
		<tr>
			<th>{{lang.common.tag_team_match_types}}</th>
		</tr>

		<tr>
			<td>
				<div v-for="(match, index) in matches.tag_team"
					:key="index" 
					:class="'matchtype' + (match.unlocked ? ' active' : '')" 
					:style="'background-image: url(\'/img/matchtype/m'+ match.id +'.jpg\');'" 
					title="matchtype name"
					@click="$emit('unlock', match.id, match.unlocked)"
				>
				</div>
			</td>
		</tr>
		
		<tr>
			<th>{{lang.common.stable_match_types}}</th>
		</tr>

		<tr>
			<td>
				<div v-for="(match, index) in matches.stable"
					:key="index" 
					:class="'matchtype' + (match.unlocked ? ' active' : '')" 
					:style="'background-image: url(\'/img/matchtype/m'+ match.id +'.jpg\');'" 
					@click="$emit('unlock', match.id, match.unlocked)"
				>
				</div>
			</td>
		</tr>

	</table>

</div>
</template>


<script>
export default {
	props: ["matches"],
	methods: {

	}
}
</script>
