<template>
    <div class="content">
							
	<table class="generic stats">

		<tr>
			<th colspan="2"> {{ lang.common.palmares }} </th>
		</tr>

		<tr>
			<td>
				{{ lang.common.highest_danage_inflicted }}
			</td>
			<td>
				{{palmares.highest_damage_inflicted}}
			</td>
		</tr>

		<tr>
			<td>
				{{ lang.common.highest_damage_suffered }}
			</td>
			<td>
				{{palmares.highest_damage_suffered}}
			</td>
		</tr>

		<tr>
			<td>
				{{ lang.common.one_fall_titles_won }}
			</td>
			<td>
				{{palmares.one_fall_titles_won}}
			</td>
		</tr>

		<tr>
			<td>
				{{ lang.common.one_fall_title_defenses }}
			</td>
			<td>
				{{palmares.one_fall_title_defenses}}
			</td>
		</tr>

		<tr>
			<td>
				{{ lang.common.last_man_standing_titles_won}}
			</td>
			<td>
				{{palmares.last_man_standing_titles_won}}
			</td>
		</tr>

		<tr>
			<td>
				{{ lang.common.lat_man_standing_title_defenses }}
			</td>
			<td>
				{{palmares.last_man_standing_title_defenses}}
			</td>
		</tr>
		
		<tr>
			<td>
				{{ lang.common.submission_titles_won }}
			</td>
			<td>
				{{palmares.submission_titles_won}}
			</td>
		</tr>

		<tr>
			<td>
				{{ lang.common.submission_title_defenses }}
			</td>
			<td>
				{{palmares.submission_title_defenses}}
			</td>
		</tr>
		
		<tr>
			<td>
				{{ lang.common.first_blood_titles_won}}
			</td>
			<td>
				{{palmares.first_blood_titles_won}}
			</td>
		</tr>

		<tr>
			<td>
				{{ lang.common.first_blood_title_defenses }}
			</td>
			<td>
				{{palmares.first_blood_title_defenses}}
			</td>
		</tr>
		
		<tr>
			<td>
				{{lang.common.tag_titles_won}}
			</td>
			<td>
				{{palmares.tag_titles_won}}
			</td>
		</tr>

		<tr>
			<td>
				{{ lang.common.tag_titles_defenses}}
			</td>
			<td>
				{{palmares.tag_titles_defenses}}
			</td>
		</tr>
		
		<tr>
			<td>
				{{ lang.common.tournaments_won }}
			</td>
			<td>
				{{palmares.tournaments_won}}
			</td>
		</tr>

		<tr>
			<td>
				{{ lang.common.leagues_won }}
			</td>
			<td>
				{{palmares.leagues_won}}
			</td>
		</tr>

	</table>

</div>
</template>


<script>
export default {
    props: ["palmares"]
}
</script>
