<template>
  <div id="app">

    <Header></Header>
    <SubHeader :subheaderClass="subheaderClass()"></SubHeader>

    <transition name="fade">
		<router-view/>
	</transition>

  </div>
</template>

<script>

import Header from '@/components/Header.vue'
import SubHeader from '@/components/SubHeader.vue'

export default {
	components: {
		Header, SubHeader
	},

	data(){
		return {
			isLoading: true,
			showLoader: true
		}
	},

	methods: {
		subheaderClass() {
			switch(this.$router.currentRoute.name){	
				
				case 'match':
				return 'd-none';

				case 'home':
				return 'view';
	
				default:
				return 'back';
			}
		},
		initLoading(){
				this.showLoader = true
				this.isLoading = true
		},
		stopLoading(){
			var hideLoader = setTimeout(() => {
				this.showLoader = false
				clearTimeout(hideLoader)
			}, 1000)

			var isLoading = setTimeout(() => {
				this.isLoading = false
				clearTimeout(isLoading)
			}, 2000)
		}
	}
  
}
</script>
<style scoped lang="scss">
	.fade-enter-active, .fade-leave-active {
		transition: opacity 1s;
	}
	.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
		opacity: 0;
	}
</style>
