

@media (min-width: 1024px) and (min-height: 921px) {

    html,
    body {
        min-width: 1024px;
    }

    /* HIDERS */

    .hide1024 {
        display: none;
    }

    /* /HIDERS */

    /* HEADER */

    header {
        div#header {
            height: 84px;
            width: 1020px;
            padding: 2px;

            .avatar {
                width: 84px;
                height: 84px;
                border-radius: 0 12px 12px 0;
            }

            .stamina {
                padding: 4px;
                width: 386px;
                height: 38px;
                top: 0;
                left: 88px;

                .stm-unit {
                    width: 22px;
                    height: 38px;
                }

                div.stm-unit:not(:nth-child(15)) {
                    margin-right: 4px;
                }
            }

            .stm-ext-rounded {
                width: 10px;
                height: 10px;
                top: 0;
                left: 78px;
            }

            .stm-plus-btn {
                width: 46px;
                height: 46px;
                top: 0;
                left: 478px;
            }

            .nickname {
                font-size: 48px;
                top: 38px;
                left: 90px;
                max-width: 570px;
            }

            .lvl {
                height: 46px;
                padding: 0 23px;
                border-radius: 0 0 23px 23px;
                line-height: 40px;
                font-size: 36px;
                top: 0;
                left: 540px;
            }
        }

        #chat_btn {
            width: 88px;
            right: 88px;

            &:hover,
            &:focus {
                width: 88px;
            }

            &::before {
                width: 88px;
                height: 88px;
            }
        }

        #menu {
            width: 88px;

            &:hover,
            &:focus {
                width: 88px;
            }

            &::before {
                width: 88px;
                height: 88px;
            }

            &.visible ul {

                &.links,
                &.icons {
                    width: calc(540px - 4px);
                    margin-left: calc(-540px + 88px);
                }
            }

            ul {
                &.links li {
                    height: 88px;

                    a {
                        height: 69px;
                        line-height: 69px;
                        font-size: 32px;
                    }
                }

                &.icons li {
                    span.ntf {
                        font-size: 24px;
                        line-height: 26px;
                        width: 28px;
                        height: 28px;
                        top: 2px;
                        right: 2px;
                    }

                    a {
                        padding: 74px 0 8px 0;
                        font-size: 21px;
                    }
                }
            }
        }

        div.ntf {
            width: 16px;
            height: 16px;
            top: 14px;
            right: 16px;
        }

        div.chat-ntf {
            width: 16px;
            height: 16px;
            top: 14px;
            right: calc(88px + 16px);
        }
    }

    /* back button */

    body.back header #menu {
        .back {
            right: calc(1024px - 88px);
            width: 88px;
            height: 88px;
            border-radius: 0 0 8px 8px;
        }

        &.hidden .back {
            top: -88px;
        }
    }

    /* /back button */

    /* /HEADER */

    /* SUBHEADER */

    .sub-container {
        &.sub1 {
            top: 88px;
            margin-top: 10px;
        }

        &.sub2 {
            top: 122px;
            margin-top: 22px;
        }

        &.sub3 {
            top: 188px;
            margin-top: 2px;
        }
    }

    .sub-container .subheader {
        width: 984px;
        height: 44px;
        padding: 0 20px;

        .sbinfo {
            width: calc(30% - 20px);
            padding-right: 20px;
            height: 40px;
            border-radius: 20px;
            font-size: 32px;
            line-height: 32px;

            &.tournamentpt {
                width: calc(30% - 44px);
                padding-right: 44px;
            }

            &::before {
                width: 48px;
                height: 48px;
                left: -4px;
                top: -4px;
            }

            &:hover::before {
                width: 64px;
                height: 64px;
                left: -12px;
                top: -12px;
            }

            a.plus {
                right: 4px;
                top: 4px;
                width: 32px;
                height: 32px;
            }

            .percentbar {
                width: 78%;
                height: 32px;
                border-radius: 16px;
                top: 4px;
                right: 4px;

                .progress {
                    background-image: url(/img/progress-gradient-w.png);
                    border-radius: 16px;
                }
            }
        }
    }

    /* /SUBHEADER */

    /* STRUCTURE */

    .fullwidth {
        .cbox {
            width: 984px;
            margin: 0 auto;
            padding: 0 10px;
        }

        &.fullheight {
            position: relative;
        }

        &.cols-2 .fullbox .content {
            width: 470px;
            padding: 0 20px;
        }

        .cbox {
            .colw100 {
                width: 100%;
                padding: 0;
            }

            .colw50 {
                width: -moz-calc(50% - 5px);
                width: -webkit-calc(50% - 5px);
                width: calc(50% - 5px);
                float: left;

                &:nth-child(1) {
                    padding: 0 5px 0 0;
                }

                &:nth-child(2) {
                    padding: 0 0 0 5px;
                }
            }

            .colw33 {
                width: -moz-calc(33.33% - 10px);
                width: -webkit-calc(33.33% - 10px);
                width: calc(33.33% - 10px);
                float: left;

                &:nth-child(1) {
                    padding: 0 5px 0 0;
                }

                &:nth-child(2) {
                    padding: 0 5px 0 5px;
                }

                &:nth-child(3) {
                    padding: 0 0 0 5px;
                }
            }
        }
    }

    /* /STRUCTURE */

    /* FOOTER */

    .footergroup {
        h4 {
            font-size: 16px;
            margin: 0 0 20px 0;
        }

        font-size:12px;
        width:48%;
        padding-left:1%;
        float:left;
    }

    .footer_text {
        font-size: 11px;
        padding: 40px 0;
    }

    /* /FOOTER */

    /* COMMON */

    .tooltip {
        font-size: 18px;
        line-height: 21px;
        padding: 5px 10px;
        border-radius: 6px;
    }

    .tooltip-container {
        &.w-above-3 {
            top: -150px;
        }

        &.w-above-2 {
            top: -100px;
        }

        &.w-above {
            top: -50px;
        }

        &.w-below {
            bottom: -50px;
        }

        &.w-below-2 {
            bottom: -100px;
        }

        &.w-below-3 {
            bottom: -150px;
        }
    }

    .infobox {
        max-height: 176px;

        &.noscroll {
            max-height: none;
        }

        span {
            background-position: 10px 20px;
            padding: 20px 20px 20px 50px;
            background-size: 28px 28px;
            font-size: 21px;
        }

        .btn {
            padding: 4px 18px 6px 18px;
            border-radius: 17px;
        }
    }

    .dark-box {
        width: 984px;
        margin: 10px auto 0 auto;
        border-width: 5px;
        padding: 5px;
    }

    /* /COMMON */

    /* TABS */

    ul.tabs {
        font-size: 14px;
    }

    /* /TABS */

    /* FORM */

    input,
    textarea,
    select,
    label,
    .fullbutton,
    input[type="file"] {
        font-size: 21px;
    }

    select {
        background-size: 40px 40px;
        background-position: calc(100% - 5px) 50%;
    }

    textarea {
        width: calc(100% - 20px);
    }

    .button.arrow-right {
        font-size: 32px;
        line-height: 22px;
    }

    .btn.btn-upgrade,
    .btn.btn-generic {
        font-size: 21px;
        top: 10px;
        right: 10px;
        padding: 10px 20px;
        border-radius: 22px;
    }

    /* / FORM */

    /* GENERIC ICONS */

    .genicon {
        width: 21px;
        height: 21px;
    }

    /* /GENERIC ICONS */

    /* INTERACTIVE */

    @media (min-height:1280px) {

        #interactive {
            width: 1024px;
            height: 1280px;

            #view {
                width: 2024px;
                height: 1280px;
            }
        }
    }

    @media (max-height:1279px) {

        #interactive {
            width: 80vh;
            height: 100vh;

            #view {
                width: 160vh;
                height: 100vh;
            }
        }
    }

    .nav-btn {
        width: 48px;
        height: 48px;
        top: calc(50% - 24px);
    }

    .nav-left {
        left: 20px;
    }

    .nav-right {
        right: 20px;
    }

    #interactive #view span.poi {
        a {
            &:hover {
                -webkit-filter: drop-shadow(4px 4px 0 #92de00) drop-shadow((-4px) 4px 0 #92de00) drop-shadow(4px -4px 0 #92de00) drop-shadow((-4px) -4px 0 #92de00);
                filter: drop-shadow(4px 4px 0 #92de00) drop-shadow((-4px) 4px 0 #92de00) drop-shadow(4px -4px 0 #92de00) drop-shadow((-4px) -4px 0 #92de00);
            }

            span.label i p {
                border: 4px solid #976900;
                font-size: 36px;
                padding: 6px 12px;

                &::before {
                    top: -18px;
                    width: 32px;
                    height: 18px;
                }
            }
        }

        &.ntf a span.label i p:after {
            width: 24px;
            height: 24px;
            top: -14px;
            right: -14px;
        }
    }

    /* /INTERACTIVE */

    /* SUB-SECTION */

    .sub-section {
        width: 1024px;
        height: calc(100% - 256px);
        padding-top: 256px;
    }

    body.advtec,
    body.sskills {
        .sub-section {
            height: calc(100% - 160px);
            padding-top: 160px;
        }
    }

    /* /SUB-SECTION */

    /* SUB-MENUS */

    table.submenus {
        height: 66px;

        tr td {
            padding: 0 20px;
            line-height: 66px;
            font-size: 24px;
        }

        &.depth3 tr td {

            &:nth-child(1)::before,
            &:nth-child(3)::after {
                width: calc((100vw - 980px)/2);
                height: 66px;
                top: 0;
            }

            &:nth-child(1)::before {
                background-color: #000;
                left: calc((-100vw + 1024px)/2);
            }

            &:nth-child(3)::after {
                background-color: rgba(255, 255, 255, 0.85);
                right: calc((-100vw + 1024px)/2);
            }

            &:nth-child(1) span {
                &::before {
                    width: 20px;
                    left: -20px;
                }

                &::after {
                    width: 40px;
                    right: -40px;
                }
            }

            &:nth-child(2) span::after {
                width: 40px;
                right: -40px;
            }

            &:nth-child(3) span::after {
                width: 18px;
                right: -18px;
            }

            &:nth-child(2) span.is_menu {
                padding-right: 48px;
                background-position: 120% 100%;
                margin-left: -1px;
            }

            span.is_menu .submenu {
                width: calc(100% + 35px);
                margin-left: -25px;
                font-size: 75%;

                a {
                    padding: 0 18px 0 17px;
                }
            }
        }

        &.depth2 tr td {

            &:nth-child(1)::before,
            &:nth-child(2)::after {
                width: calc((100vw - 980px)/2);
                height: 66px;
                top: 0;
            }

            &:nth-child(1)::before {
                background-color: #000;
                left: calc((-100vw + 1024px)/2);
            }

            &:nth-child(2)::after {
                background-color: rgba(255, 255, 255, 0.85);
                right: calc((-100vw + 1024px)/2);
            }

            &:nth-child(1) span {
                &::before {
                    width: 20px;
                    left: -20px;
                }

                &::after {
                    width: 40px;
                    right: -40px;
                }
            }

            &:nth-child(2) span::after {
                width: 18px;
                right: -18px;
            }

            span.is_menu .submenu {
                width: calc(100% + 35px);
                margin-left: -25px;
                font-size: 75%;

                a {
                    padding: 0 18px 0 17px;
                }
            }
        }
    }

    /* 3 levels depht */

    /* /3 levels depht */

    /* 2 levels depht */

    /* /2 levels depht */

    /* /SUB-MENUS */

    .top-tabs {
        margin: -10px 0 0 0;
        border-spacing: 20px;
        font-size: 21px;

        .row {
            a.tab {
                padding: 10px 20px;
                border-radius: 22px;
            }
        }
    }

    /* /TOP TABS */

    /* SKILL TABS */

    .skills-tabs {
        width: 984px;
        margin: 10px auto;

        .skill-tab {
            width: 22%;
            font-size: 21px;

            &:nth-of-type(1) {
                margin: 0 2% 0 0;
            }

            &:nth-of-type(2),
            &:nth-of-type(3) {
                margin: 0 2% 0 2%;
            }

            &:nth-of-type(4) {
                margin: 0 0 0 2%;
            }

            .skill-name {
                padding: 10px 20px;
                border-radius: 22px;

                span {
                    font-size: 42px;
                    margin: -14px 0 0 0;
                }
            }

            .skill-progbar {
                margin: 5px 0 0 0;
                height: 20px;
                border-radius: 10px;
                border-width: 4px;

                .progress {
                    border-radius: 8px;
                }
            }
        }
    }

    /* /SKILL TABS */

    /* SKILL BOX */

    .skill-box {
        width: 984px;
        margin: 10px auto;
        border-width: 5px;
        padding: 5px;

        .skill-name {
            height: calc(33px - 10px);
            padding: 5px 10px;
            font-size: 21px;

            span {
                padding: 5px 10px;
                margin: -5px -10px;
            }
        }

        .skill-info {
            height: calc(100vh - 387px - 5px - 5px - 10px - 150px);
            /* calc = 100 viewport height -header -skill-box border -skill-box padding -skill-box margin bottom -security margin */
            max-height: calc(984px - 33px - 10px - 10px);
            /* calc = skill-box weight -skill-name height -skill-box padding(tot) -skill-box border(tot) */
            min-height: calc(100vh / 2.6);

            .skill-img {}

            .skill-description {
                font-size: 21px;
                bottom: 5px;
                left: 5px;
                right: 5px;
                padding: 10px;
            }

            .dropdown {
                top: 10px;
                left: 10px;
                font-size: 21px;
                border-radius: 22px;

                &::after {
                    top: 10px;
                    right: 10px;
                    width: 20px;
                    height: 20px;
                }

                a.option {
                    &:nth-of-type(1)::after {
                        width: 20px;
                        height: 20px;
                    }

                    padding:10px 20px;
                }

                &:hover a.option:nth-of-type(1) {
                    margin-top: -43px;
                }
            }

            .up-overlay {
                width: calc(100% - 40px);
                height: calc(100% - 40px);
                padding: 20px;

                table.up-fin {
                    font-size: 24px;

                    tr {
                        td {
                            padding: 10px 20px;

                            span {
                                padding: 5px;
                                border-radius: 5px;
                            }

                            &:nth-child(1) {
                                width: 50%;
                            }

                            &:nth-child(2) {
                                width: 20%;
                                background-size: 48px 48px;
                            }

                            &:nth-child(3) {
                                width: 30%;
                            }
                        }
                    }
                }
            }
        }

        .nav-btn {
            width: 48px;
            height: 48px;
            top: calc(50% - 24px);
        }

        .nav-left {
            left: 48px;
        }

        .nav-right {
            right: 48px;
        }
    }

    /* dropdown up/down arrow */

    /* /dropdown up/down arrow */

    /* /SKILL BOX */

    /* FORM AREA */

    .fullwidth {
        &.form-area {
            height: 44px;
            line-height: 44px;
            top: 260px;
        }

        &.subform-area {
            height: 33px;
            line-height: 33px;
            top: 304px;
        }

        &.form-area label {
            font-size: 18px;
            margin: 0 20px 0 0;
        }
    }

    input[type="checkbox"].checkbox {
        width: 33px;
        height: 30px;
        margin: 7px 10px -7px 0;
    }

    .fullwidth {
        &.form-area {
            select {
                border: 2px solid #fff;
                background-size: 30px 30px;
                font-size: 18px;
                height: 36px;
                margin: 4px 20px 0 0;
                padding: 5px 45px 5px 15px;
                border-radius: 18px;
                max-width: 300px;
            }

            .reset,
            .sortsys,
            #search-pull {
                border: 2px solid #fff;
                background-size: 30px 30px;
                width: 36px;
                height: 36px;
                margin: 4px 22px 0 0;
                border-radius: 18px;
            }

            input.search {
                font-size: 21px;
                width: 36px;
                padding: 10px 0;
                border-width: 2px;
                height: 36px;
                border-radius: 18px;
            }

            input.search-submit {
                top: 4px;
                right: 28px;
                width: 36px;
                height: 36px;
            }
        }

        &.subform-area select {
            font-size: 18px;
            background-size: 48px 48px;
            padding: 10px 40px 10px 0;
        }

        &.move-progress {
            padding: 10px 0;

            .prog-content {
                width: calc(100% - 50px);
                height: 20px;
                padding: 10px 0;
                border-radius: 20px;
            }

            #move-btn,
            .cancel-move-btn {
                border-width: 5px;
                width: 40px;
                height: 40px;
                background-size: 40px 40px;
                border-radius: 20px;
                margin: 0 0 0 10px;
            }

            .prog-percent {
                left: 5px;
                top: 0;
                font-size: 48px;
                line-height: 30px;
            }

            .move-progbar {
                width: calc(92.5% - 10px);
                height: calc(100% - 10px);
                right: 5px;
                top: 5px;
                border-radius: 15px;
                font-size: 28px;
                line-height: 26px;

                .progress {
                    background-image: url('/img/move-progress-w.png');
                    border-radius: 15px;
                }

                .move-name {
                    padding: 0 15px;
                    text-shadow: 2px 2px 0 #000;
                }
            }
        }
    }

    #search-container {
        &.closed {
            width: 146px;
            left: -86px;

            input.search {
                margin: 4px 0 0 0;
                width: 36px;
                padding: 10px 0;
            }
        }

        &.opened {
            width: 100%;
            left: 20px;

            input.search {
                margin: 0;
                width: calc(100% - 36px - 50px);
                /* 100% - #search-pull width - paddings&margins */
                padding: 10px 60px 10px 20px;
            }
        }
    }

    #search-filters {
        width: calc(100% - 66px);
        margin-left: 66px;
    }

    /* /FORM AREA */

    /* SUBFORM AREA */

    /* /SUBFORM AREA */

    /* MOVE PROGRESS */

    /* /MOVE PROGRESS */

    /* MOVE QUEUE */

    .cbox.move-queue {
        padding: 20px 0 10px 0;

        .queue {
            height: 48px;
        }
    }

    .queue-dropup {
        .title {
            padding: 0 0 10px 0;
            font-size: 24px;
        }

        .prog-content {
            margin: 0 0 10px 0;
        }
    }

    /* /MOVE QUEUE */

    /* MOVEBOXES */

    #movesbox {
        width: 1024px;
    }

    .moveboxes {
        margin: 104px 0 0 0;
        min-height: 334px;
        height: calc(100vh - 512px);
        max-height: 1024px;

        .moveboxes-group {
            padding: 10px;

            &:not(:nth-of-type(1)) {
                margin-left: -20px;
            }

            .move {
                width: calc(50% - 15px);
                height: calc(50% - 15px);

                &:nth-of-type(1) {
                    margin: 0 10px 10px 0;
                }

                &:nth-of-type(2) {
                    margin: 0 0 10px 0;
                }

                &:nth-of-type(3) {
                    margin: 0 10px 0 0;
                }

                &:nth-of-type(4) {
                    margin: 0;
                }

                border:4px solid var(--darkblue-color);
                border-radius:26px;

                .stats {
                    top: 2px;
                    left: 2px;

                    .stat {
                        font-size: 24px;
                        padding: 5px 15px 5px 10px;
                        margin: 0 0 2px 0;
                        width: 120px;

                        &:nth-of-type(1) {
                            border-radius: 18px 18px 18px 0;
                        }

                        &:nth-of-type(n+2) {
                            border-radius: 0 18px 18px 0;
                        }

                        &::before {
                            width: 24px;
                            height: 24px;
                            left: 7px;
                            top: 7px;
                        }
                    }
                }

                a.upgrade,
                a.learn {
                    border-width: 4px;
                    right: -12px;
                    top: -12px;
                    width: 88px;
                    height: 88px;
                    border-radius: 44px;

                    .tooltip-container {
                        margin-right: 12px;
                    }
                }

                .upgrade-info {
                    .row1 span::before {
                        width: 24px;
                        height: 24px;
                    }

                    left:0;
                    right:0;
                    bottom:2px;
                    width:calc(100% - 4px);
                    background-size:278px 88px;
                    height:88px;
                    border-radius:0 0 22px 22px;

                    div[class^="row"] {
                        height: 44px;
                    }

                    .row1 {
                        text-align: right;

                        span {
                            width: 50px;
                            height: 44px;
                            padding: 0 20px;
                            margin-left: 40px;
                            font-size: 24px;
                            line-height: 44px;

                            &::before {
                                left: 0;
                                top: 11px;
                            }
                        }
                    }

                    .row2 {
                        border-radius: 22px;

                        .lvl span {
                            width: 50px;

                            &:nth-of-type(1) {
                                font-size: 21px;
                                top: -16px;
                            }

                            &:nth-of-type(2) {
                                font-size: 42px;
                                top: -2px;
                            }
                        }

                        .movebar {
                            width: 87%;
                            height: 36px;
                            top: 4px;
                            right: 4px;
                            border-radius: 18px;

                            .progress {
                                height: 36px;
                                border-radius: 18px;
                            }

                            .onoff {
                                width: 32px;
                                height: 32px;
                                right: 2px;
                                top: 2px;
                            }

                            span {
                                top: -2px;
                                left: 10px;
                                font-size: 32px;
                            }
                        }
                    }

                    .row1 span {
                        .tooltip-container {
                            width: 500%;
                        }

                        &.price .tooltip-container {
                            margin: 0 0 0 -275%;
                        }

                        &.time .tooltip-container {
                            margin: 0 0 0 -420%;
                        }
                    }
                }
            }
        }
    }

    /* row1 tooltip fix */

    /* /MOVEBOXES */

    /* STAT BOX */

    .stat-box {
        .upgrade-stat {
            width: 20%;
            font-size: 16px;
        }

        .info-stat {
            width: calc(80% - 20px);
            padding: 10px;
            font-size: 18px;
            height: 240px;

            ul li::before {
                margin: 0 10px 0 0;
            }
        }
    }

    /* /STAT BOX */

    /* STAT QUEUE */

    .stat-queue {
        border-width: 0 5px 2px 5px;
        height: 108px;

        .prox {
            float: right;
            text-align: center;
            height: 100%;
            line-height: 108px;
            padding: 0 74px;
            font-size: 24px;
        }

        .queue {
            padding: 7px 0;
        }

        .icon {
            width: 96px;
            height: 96px;
            border-radius: 12px;
            margin: 0 0 0 10px;

            .tooltip {
                width: 125%;
                margin-left: -25%;
            }
        }

        .current {
            width: 260px;
            padding: 10px;
            height: 88px;
            border-radius: 0 12px 12px 0;

            &::after {
                border-width: 20px 0 20px 20px;
                right: -20px;
                top: 36px;
            }

            .icon {
                width: 56px;
                height: 56px;
                margin: 6px 10px 0 0;
            }

            .label,
            .name,
            .time {
                font-size: 28px;
            }

            .label {
                margin: -8px 0 0 0;
            }

            .name {
                margin: 4px 0 0 0;
            }

            .time {
                margin: 4px 0 0 0;
                font-size: 24px;
            }
        }
    }

    /* /STAT QUEUE */

    /* USER STATS */

    table.user-stats {
        tr td {
            padding: 10px;
            font-size: 18px;

            &:nth-of-type(1) {
                width: 37.2%;
            }

            &:nth-of-type(2) {
                width: 37.2%;
            }

            &:nth-of-type(3) {}

            &:nth-of-type(1) {
                border-right: 2px solid var(--blue-color);
            }

            >span {
                margin: 0 10px;

                &.icon {
                    width: 32px;
                    height: 32px;
                    margin: -6px 0 -6px 6px;
                }

                &.value {
                    width: 145px;
                    max-width: 145px;
                }
            }
        }

        tr:not(:last-of-type) td:not(:nth-child(3)) {
            border-bottom: 2px solid var(--blue-color);
        }
    }

    .heptagon-container {
        width: 250px;
        height: 250px;

        span {
            width: 20%;
            height: 11%;
            margin-left: -1%;
        }

        .stat-heptagon {
            width: 250px;
            height: 250px;
            box-shadow: inset 0 0 150px rgba(147, 222, 59, 1);
        }
    }

    /* /USER STATS */

    /* TABS */

    .tabs {
        width: calc(100% - 44px);

        .tab {
            border-left-width: 2px;
            padding: 0 10px;
            font-size: 21px;
            height: 44px;
            line-height: 44px;

            &.active,
            &:hover {
                border-left-width: 2px;
            }
        }

        #puller,
        #chatcloser {
            border-left-width: 2px;
            right: -44px;
            width: 44px;
            height: 44px;
        }

        // cbox width - #puller width - single tab padding
        &.one-tabs {
            .tab {
                max-width: calc(1004px - 44px - 100px);
            }
        }

        &.two-tabs {
            .tab {
                max-width: calc((1004px - 44px - 100px)/2);
            }
        }

        &.three-tabs {
            .tab {
                max-width: calc((1004px - 44px - 100px)/3);
            }
        }

        &.four-tabs {
            .tab {
                max-width: calc((1004px - 44px - 100px)/4);
            }
        }

        &.five-tabs {
            .tab {
                max-width: calc((1004px - 44px - 100px)/5);
            }
        }
    }

    /* /TABS */

    /* PULLABLE */

    #pullable,
    #chat {
        width: 984px;

        .cbox {
            width: 984px;
        }

        #pullable-content.cbox.dark-box,
        #chat-content.cbox.dark-box {
            width: 984px;

            .content {
                padding: 20px;

                &.morepadding {
                    padding: 40px;
                }
            }
        }

        &.closed {

            #pullable-content,
            #chat-content {
                height: 10px;
            }
        }

        &.opened {
            bottom: 20px;

            #pullable-content,
            #chat-content {
                height: calc(100vh - 330px);
            }
        }
    }

    /* /PULLABLE */

    .medal {
        width: 32px;
        height: 32px;
        margin: -10px 0 -10px 10px;
    }

    /* /MEDALS */

    /* GENERIC TABLES */

    table.generic {
        tr {
            th {
                border-bottom-width: 2px;
                font-size: 24px;
            }

            td {
                border-bottom-width: 2px;
                font-size: 18px;
            }

            th,
            td {
                padding: 15px 20px;
            }
        }
    }

    // table.stats
    table.stats {
        tr {
            td {
                &:nth-child(1) {
                    max-width: 610px;
                }

                &:nth-child(2) {
                    max-width: 218px;
                }
            }
        }
    }

    /* /GENERIC TABLES */

    /* MATCH POINTS */

    .pt_match {
        padding: 40px 40px 40px 110px;
        font-size: 24px;
        border-width: 2px;

        &::before {
            top: 20px;
            left: 20px;
            width: 64px;
            height: 64px;
        }

        span {
            top: 20px;
            right: 20px;
            width: 64px;
            height: 64px;
            line-height: 56px;
            font-size: 64px;
        }
    }

    /* /MATCH POINTS */

    /* MATCH TYPES */

    .matchtype {
        width: calc(20% - 5px);
        padding-top: calc(20% - 5px);
        border-width: 5px;
        border-radius: 5px;

        &.active {
            border-width: 5px;
            border-radius: 5px;

            &:hover {
                border-width: 5px;
                border-radius: 5px;
            }
        }

        &:hover {
            border-width: 5px;
            border-radius: 5px;
        }
    }

    /* /MATCH TYPES */

    /* ACHIEVEMENT */

    .achievement {
        width: calc(20% - 5px);
        padding-top: calc(20% - 5px);
        border-width: 5px;
        border-radius: 5px;
    }

    /* /ACHIEVEMENT */

    /* ARENA FIGHTERS LIST */

    .arena-flist {
        width: 1024px;
        height: calc(100% - 304px - 140px);
        top: 304px;

        .fighter {
            margin-bottom: calc(154px + 10px);

            .fhead {
                div {
                    line-height: 24px;
                    font-size: 24px;
                    padding: 5px;

                    &.stat-icon {
                        &::before {
                            width: 36px;
                            height: 36px;
                        }
                    }

                    &.nick {
                        max-width: 300px;
                    }
                }
            }

            .fbody {
                height: 154px;

                .content {
                    padding: 5px;

                    .avatar {
                        border-width: 2px;
                        width: 144px;
                        height: 144px;
                        border-radius: 14.4px;

                        &::before {
                            border-width: 2px;
                            width: 18px;
                            height: 18px;
                            top: 5px;
                            right: 5px;
                            border-radius: 9px;
                        }
                    }
                }

                .icons {
                    top: 5px;
                    right: 5px;
                    /* calc:100% - avatar width - content padding - avatar margin right */
                    width: calc(100% - 144px - 10px - 5px);
                    height: 144px;

                    a.icon {
                        font-size: 24px;
                        width: 144px;
                        height: 144px;
                        margin: 0 10px;

                        &::before {
                            width: 60%;
                            height: 60%;
                            top: 10%;
                        }

                        &:hover {
                            font-size: 32px;
                        }

                        span {
                            bottom: 10px;
                        }
                    }
                }
            }
        }
    }

    .arena-flist {
        .fighter.gold {

            &.belt-1,
            &.belt-2,
            &.belt-3,
            &.belt-4 {
                .avatar::after {
                    width: 140px;
                    height: 58px;
                    background-size: 140px 58px;
                    bottom: -15px;
                }
            }
        }
    }

    /* /ARENA FIGHTERS LIST */

    /* ARENA DROPUP */

    .arena-dropup {
        height: 140px;

        .cbox {
            .dropup {
                .icon {
                    width: 80px;
                    height: 80px;
                    background-size: 70px 70px;
                }

                span {
                    height: 24px;
                    font-size: 24px;
                    padding: 2px 0 18px 0;

                    &::after {
                        width: 44px;
                        height: 44px;
                        right: 10px;
                    }
                }

                .selection {
                    .mtc-type {
                        width: 140px;
                        height: 140px;
                        margin: 0 9px 10px 0;
                    }
                }
            }
        }
    }

    /* /ARENA DROPUP */

    /* MATCH VIEWER */
    $matchlogo-h:180px;
    $matchskip-h:100px;
    $fgt-avatar-wh:128px;

    .match-viewer {

        &>.cbox {
            width: 1004px;
            height: calc(100% - 88px - 140px);
            margin: 88px auto 0 auto !important;

            .fgt-big {
                width: 50vw;
                height: 50vw;
                max-width: calc(100vh - 140px);
                max-height: calc(100vh - 140px);

                &.left {
                    left: calc(-66vw + (984px / 2));
                }

                &.right {
                    right: calc(-66vw + (984px / 2));
                }
            }

            .scroller-bg {
                width:calc(100% - (#{$fgt-avatar-wh} * 2) - 40px);
                top: $matchlogo-h;
                height:calc(100% - #{$matchlogo-h} - #{$matchskip-h} - 20px);
            }

            .scroller {
                width:calc(100% - (#{$fgt-avatar-wh} * 2) - 40px);
                top: $matchlogo-h;
                height:calc(100% - #{$matchlogo-h} - #{$matchskip-h} - 30px);

                .step {
                    font-size: 21px;
                    line-height: 28px;
                    margin: 0 0 4px 0;
                }
            }
        }
    }

    /* animated title */
    $col-secondary:#edc405;

    .match-logo {
        height: $matchlogo-h;

        span {
            a {
                font-size: 74px;
                line-height: 0.8;
                text-shadow: 0 -1px 15px rgba(0, 0, 0, 0.9),
                    0 1px 0 adjust-hue(darken($col-secondary, 22%), -3deg),
                    0 3px 0 adjust-hue(darken($col-secondary, 21%), -3deg),
                    0 5px 0 adjust-hue(darken($col-secondary, 20%), -3deg),
                    0 7px 0 adjust-hue(darken($col-secondary, 19%), -3deg),
                    0 9px 0 adjust-hue(darken($col-secondary, 18%), -3deg),
                    0 6px 50px transparentize(lighten($col-secondary, 20%), 0.2);

                &:first-line {
                    font-size: 0.8em;
                }
            }
        }
    }

    /* result button area */
    .match-skip {
        height: $matchskip-h;
        top:calc(100% - #{$matchskip-h});

        span {
            div {
                a {
                    font-size: 24px;
                    padding: 20px;
                    border-radius: 32px;
                }
            }
        }
    }

    /* match viewer avatars */
    .fgt-avatars {
        top:calc(#{$matchlogo-h} + 10px);
        width: $fgt-avatar-wh;
        height:calc(100% - #{$matchlogo-h} - #{$matchskip-h} - 20px);

        .fgt-avatar {
            width: $fgt-avatar-wh;
            height: $fgt-avatar-wh;

            .nickname {
                font-size: 24px;
                line-height: 24px;
            }
        }

        &.left {
            .picture {
                border-radius: 10px 10px 0 0;
            }

            .nickname {
                border-radius: 0 10px 10px 10px;
            }
        }

        &.right {
            .picture {
                border-radius: 10px 10px 0 0;
            }

            .nickname {
                border-radius: 10px 0 10px 10px;
            }
        }
    }

    /* FIGHTER STATS */

    .fgt-stats {
        height: 140px;

        .cbox {
            .fgt-avatars {
                height: $fgt-avatar-wh;
                top: 6px;

                .fgt-avatar {
                    margin: 6px 0 0 0;
                }
            }
        }
    }

    /* /FIGHTER STATS */

    table.fgt-table {
        font-size: 24px;
        padding: 15px 0;

        tr {
            td {
                padding: 3px 0;
            }
        }

        &.stats-1 {
            width:calc(75% - #{$fgt-avatar-wh} - 10px);
            margin-left:calc(#{$fgt-avatar-wh} + 10px);
        }
    }

    table.fgt-table {
        &.stats-2 {
            margin: 0 auto;
            width: 50%;

            .ftt-stars {
                width: 80px;
                height: 24px;
            }
        }
    }

    /* /MATCH VIEWER */

    /* TRADEMARKS / TAUNTS / FINISHERS */

    table.positions,
    table.tauntable {
        font-size: 24px;

        tr {

            th,
            td {
                padding: 10px 40px;
            }
        }
    }

    .skill-box.trtafi {
        .stats {
            .stat {
                font-size: 24px;
                padding: 5px 15px 5px 10px;
                margin: 0 0 2px 0;
                width: 120px;

                &:nth-of-type(1) {
                    border-radius: 18px 18px 18px 0;
                }

                &:nth-of-type(n+2) {
                    border-radius: 0 18px 18px 0;
                }

                &::before {
                    width: 24px;
                    height: 24px;
                    left: 7px;
                    top: 7px;
                }
            }
        }

        .btn {
            font-size: 24px;
        }
    }

    .preview-box {
        margin: 20px 0;

        h3 {
            font-size: 24px;
        }

        .step {
            font-size: 21px;
            line-height: 28px;
            margin: 0 0 4px 0;
        }
    }

    /* /TRADEMARKS / TAUNTS / FINISHERS */

    /* 2X2 BOXES */

    .twotwoboxes {
        margin: 104px 0 0 0;
        min-height: 334px;
        height: calc(100vh - 512px);
        max-height: 1024px;

        .twotwoboxes-group {
            padding: 10px;

            &:not(:nth-of-type(1)) {
                margin-left: -20px;
            }

            .item {
                width: calc(50% - 15px);
                height: calc(50% - 15px);
                border: 4px solid var(--darkblue-color);
                border-radius: 26px;

                &:nth-of-type(1) {
                    margin: 0 10px 10px 0;
                }

                &:nth-of-type(2) {
                    margin: 0 0 10px 0;
                }

                &:nth-of-type(3) {
                    margin: 0 10px 0 0;
                }

                &:nth-of-type(4) {
                    margin: 0;
                }
            }
        }
    }

    /* /2X2 BOXES */

    /* ADVANCED TECHNIQUES */

    .advtec {
        .advt-info {
            top: 20px;
            left: 20px;
            font-size: 21px;

            span {
                padding: 5px 10px;
                border-radius: 5px;
            }
        }

        .upgrade-info {
            left: 0;
            right: 0;
            bottom: 2px;
            width: calc(100% - 4px);
            background-size: 278px 88px;
            height: 88px;
            border-radius: 0 0 22px 22px;

            .row1 span::before {
                width: 24px;
                height: 24px;
            }

            div[class^="row"] {
                height: 44px;
            }

            .row1 {
                text-align: right;

                span {
                    width: 100px;
                    height: 44px;
                    padding: 0 20px;
                    margin-left: 40px;
                    font-size: 24px;
                    line-height: 44px;

                    &::before {
                        left: 0;
                        top: 11px;
                    }
                }
            }

            .row2 {
                border-radius: 22px;

                .lvl span {
                    width: 50px;

                    &:nth-of-type(1) {
                        font-size: 21px;
                        top: -16px;
                    }

                    &:nth-of-type(2) {
                        font-size: 42px;
                        top: -2px;
                    }
                }

                .movebar {
                    width: 87%;
                    height: 36px;
                    top: 4px;
                    right: 4px;
                    border-radius: 18px;

                    .progress {
                        height: 36px;
                        border-radius: 18px;
                    }

                    span {
                        top: -2px;
                        left: 10px;
                        font-size: 32px;
                    }
                }
            }
        }

        a.upgrade,
        a.learn {
            border-width: 4px;
            right: -12px;
            top: -12px;
            width: 88px;
            height: 88px;
            border-radius: 44px;

            .tooltip-container {
                margin-right: 32px;
            }
        }

        .learned {
            .progress {
                background-image: url('/img/progress-gradient-w.png');
            }
        }
    }

    /* /ADVANCED TECHNIQUES */

    /* TOURNAMENTS - LEAGUES BOXES */

    .trleagboxes {
        width: calc(1024px - 40px);
        padding: 20px;
        height: calc(100% - 324px - 76px - 40px);
        top: 324px;

        .trleagbox {
            border-radius: 20px;
            border-width: 4px;

            .title {
                padding: 10px 20px 10px 60px;
                font-size: 24px;
                border-radius: 12px 12px 0 0;

                &::before {
                    left: -10px;
                    top: -16px;
                    width: 64px;
                    height: 64px;
                }

                .btn {
                    margin: -10px -20px 0 0;
                    padding: 10px 15px;
                    border-radius: 18px;
                }
            }

            .content {
                padding: 20px;
                font-size: 21px;
                border-radius: 0 0 16px 16px;
            }

            &:not(:last-of-type) {
                margin-bottom: 20px;
            }

            &.working {
                .content {
                    border-radius: 17px;
                }
            }
        }
    }

    table.trlginfo {
        font-size: 21px;

        tr {

            td,
            th {
                padding: 10px;
            }
        }
    }

    table.working {
        font-size: 21px;

        tr {

            th,
            td {
                padding: 20px;
            }

            td {
                &:nth-child(2) {
                    span.nick {
                        max-width: 250px;
                    }
                }
            }
        }
    }

    /* /TOURNAMENTS - LEAGUES BOXES */

    /* TABLE PROGBAR */

    table {
        tr {
            td {
                div.progbar {
                    height: 5px;
                }
            }
        }
    }

    /* TABLE PROGBAR */

    /* TABLE CHAMPIONSHIP */

    body.championship {
        .trleagboxes {
            .trleagbox {
                .content {
                    border-radius: 17px;
                }
            }
        }
    }

    table.championship {
        font-size: 21px;

        .genicon {
            width: 32px;
            height: 32px;
            margin: 0 5px;
        }

        tr {

            th,
            td {
                padding: 10px;

                &:nth-child(4) {
                    span {
                        margin: 0 5px;
                    }
                }
            }

            td {
                &:nth-child(2) {
                    width: 40%;
                    max-width: 250px;
                }
            }
        }
    }

    .ch-arrow {
        width: 16px;
        height: 16px;
    }

    /* /TABLE CHAMPIONSHIP */

    /* CHAT */

    .chatbox {
        height: calc(100% - 124px);

        .message {
            padding: 0 0 10px 0;
            margin-bottom: 10px;

            .usern {
                font-size: 28px;
                margin: 0 0 10px 0;

                .user_options {
                    left: -10px;
                    width: 150px;
                    border-radius: 10px;

                    div {
                        padding: 10px;
                        font-size: 16px;
                    }
                }
            }

            .time {
                font-size: 12px;
            }

            .text {
                font-size: 18px;
                line-height: 26px;
            }

            &.suppst {
                .usern {
                    &::before {
                        width: 20px;
                        height: 20px;
                        margin: 0 8px 0 0;
                    }
                }
            }

            i.emoji {
                width: 22px;
                height: 22px;
                margin: 0 0 -5px 0;
            }

            &:not(:last-of-type) {
                .user_options {
                    top: 30px;
                }
            }

            &:last-of-type {
                .user_options {
                    bottom: 30px;
                }
            }
        }
    }

    .sendmsg-form {
        bottom: 20px;
        left: 20px;
        width: calc(100% - 60px);

        input {
            width: calc(100% - 80px);
            height: 24px;
            border-radius: 22px;
            padding: 10px 10px 10px 50px;
        }

        button[type="submit"] {
            width: 44px;
            height: 44px;
            margin: 9px 0 0 0;
        }

        table {
            height: 44px;

            tr {
                td {
                    &.input {
                        width: calc(100% - 44px) !important;
                    }

                    &.submit {
                        width: 44px;
                    }

                    #emoji-btn {
                        width: 44px;
                        height: 44px;
                        top: 11px;
                        left: 2px;
                    }
                }
            }
        }
    }

    #emoji-box {
        bottom: 80px;
        left: 20px;
        width: calc(100% - 154px);
        border-radius: 22px;

        &.opened {
            padding: 20px;
        }

        i.emoji {
            width: 44px;
            height: 44px;
            margin: 0 5px 0 0;
        }
    }

    /* /CHAT */

    /* SUPPORTERS SHOP */

    .multiplier {
        bottom: -15px;
        left: 60px;
        padding: 0 5px;
        border-radius: 5px;
        font-size: 21px;
    }

    /* /SUPPORTERS SHOP */
}