@media screen and (max-width: 767px){

html,
body {
    min-width: 320px;
}

/* HIDERS */

.hide320 {
    display: none;
}

/* /HIDERS */

/* HEADER */

header {
    div#header {
        height: 40px;
        width: calc(100% - 4px);
        max-width: 767px;
        padding: 2px;

        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 0 8px 8px 0;
        }

        .stamina {
            padding: 2px;
            width: 133px;
            height: 14px;
            top: 0;
            left: 44px;

            .stm-unit {
                width: 7px;
                height: 14px;
            }

            div.stm-unit:not(:nth-child(15)) {
                margin-right: 2px;
            }
        }

        .stm-ext-rounded {
            width: 8px;
            height: 8px;
            top: 0;
            left: 36px;
        }

        .stm-plus-btn {
            width: 18px;
            height: 18px;
            top: 0;
            left: 179px;
        }

        .nickname {
            font-size: 24px;
            top: 15px;
            left: 46px;
            max-width: 204px;
        }

        .lvl {
            height: 18px;
            padding: 0 9px;
            border-radius: 0 0 9px 9px;
            line-height: 14px;
            font-size: 14px;
            top: 0;
            left: 204px;
        }
    }

    #chat_btn {
        width: 44px;
        right: 44px;

        &:hover,
        &:focus {
            width: 44px;
        }

        &::before {
            width: 44px;
            height: 44px;
        }
    }

    #menu {
        width: 44px;

        &:hover,
        &:focus {
            width: 44px;
        }

        &::before {
            width: 44px;
            height: 44px;
        }

        &.visible ul {

            &.links,
            &.icons {
                width: 320px;
                margin-left: calc(-320px + 44px);
            }
        }

        ul {
            &.links li {
                height: 44px;

                a {
                    height: 25px;
                    line-height: 25px;
                    font-size: 18px;
                }
            }

            &.icons li {
                a {
                    padding: 47px 0 0 0;
                    font-size: 14px;
                }

                span.ntf {
                    font-size: 14px;
                    line-height: 16px;
                    width: 18px;
                    height: 18px;
                    top: 2px;
                    right: 2px;
                }
            }
        }
    }

    div.ntf {
        width: 8px;
        height: 8px;
        top: 7px;
        right: 9px;
    }

    div.chat-ntf {
        width: 8px;
        height: 8px;
        top: 7px;
        right: calc(44px + 9px);
    }
}

/* back button */

body.back header #menu {
    .back {
        right: calc(100vw - 44px);
        width: 44px;
        height: 44px;
    }

    &.hidden .back {
        top: -44px;
    }
}

/* /back button */

/* /HEADER */

/* SUBHEADER */

.sub-container {

    &.sub1 {
        top: 34px;
        margin-top: 15px;
    }

    &.sub2 {
        top: 63px;
        margin-top: 10px;
    }

    &.sub3 {
        top: 95px;
        margin-top: 2px;
    }
}

.sub-container .subheader {
    width: calc(100% - 20px);
    max-width: calc(767px - 20px);
    height: 22px;
    padding: 0 10px;

    .sbinfo {
        width: calc(30% - 10px);
        padding-right: 10px;
        height: 18px;
        border-radius: 9px;
        font-size: 16px;
        line-height: 16px;

        &.tournamentpt {
            width: calc(30% - 20px);
            padding-right: 20px;
        }

        &::before {
            width: 24px;
            height: 24px;
            left: 2px;
            top: -4px;
        }

        &:hover::before {
            width: 32px;
            height: 32px;
            left: -4px;
            top: -8px;
        }

        a.plus {
            right: 2px;
            top: 2px;
            width: 14px;
            height: 14px;
        }

        .percentbar {
            width: 65%;
            height: 14px;
            border-radius: 7px;
            top: 2px;
            right: 2px;

            @media (min-width: 768px) {
                width: 80%;
            }

            .progress {
                background-image: url(/img/progress-gradient-m.png);
                border-radius: 7px;
            }
        }
    }
}

/* /SUBHEADER */

/* STRUCTURE */

.fullwidth {
    .cbox {
        width: calc(100% - 20px);
        max-width: calc(767px - 20px);
        margin: 0 auto;
        padding: 0 10px;
    }

    &.cols-2 .fullbox .content {
        width: calc(100% - 20px);
        max-width: calc(767px - 20px);
        padding: 0 10px;
    }

    .cbox {
        .colm100 {
            width: 100%;
            padding: 0;
        }

        .colm50 {
            width: -moz-calc(50% - 5px);
            width: -webkit-calc(50% - 5px);
            width: calc(50% - 5px);
            float: left;

            &:nth-child(1) {
                padding: 0 5px 0 0;
            }

            &:nth-child(2) {
                padding: 0 0 0 5px;
            }
        }

        .colm33 {
            width: -moz-calc(33.33% - 10px);
            width: -webkit-calc(33.33% - 10px);
            width: calc(33.33% - 10px);
            float: left;

            &:nth-child(1) {
                padding: 0 5px 0 0;
            }

            &:nth-child(2) {
                padding: 0 5px 0 5px;
            }

            &:nth-child(3) {
                padding: 0 0 0 5px;
            }
        }
    }
}

/* /STRUCTURE */

/* FOOTER */

.footergroup {
    h4 {
        font-size: 14px;
        margin: 0 0 20px 0;
    }

    font-size:12px;
    width:100%;
    float:none;
    padding:10px 0;
}

.footer_text {
    font-size: 11px;
    padding: 40px 0;
}

/* /FOOTER */

/* COMMON */

.tooltip {
    font-size: 11px;
    line-height: 13px;
    padding: 1vw 2vw;
    border-radius: 1vw;
}

.tooltip-container {
    &.m-above-3 {
        top: -24vw;
    }

    &.m-above-2 {
        top: -16vw;
    }

    &.m-above {
        top: -8vw;
    }

    &.m-below {
        bottom: -8vw;
    }

    &.m-below-2 {
        bottom: -16vw;
    }

    &.m-below-3 {
        bottom: -24vw;
    }
}

.infobox {
    max-height: 68px;

    &.noscroll {
        max-height: none;
    }

    span {
        background-position: 5px 5px;
        padding: 5px 5px 5px 25px;
        background-size: 14px 14px;
        font-size: 12px;
    }

    .btn {
        padding: 3px 6px;
        border-radius: 11px;
    }
}

.dark-box {
    width: calc(100vw - 20px);
    max-width: calc(767px - 20px);
    margin: 2px auto 0 auto;
    border-width: 2px;
    padding: 2px;
}

.btn.btn-upgrade,
.btn.btn-generic {
    font-size: 14px;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    border-radius: 17.5px;
}

/* /COMMON */

/* TABS */

ul.tabs {
    font-size: 11px;
}

/* /TABS */

/* FORM */

input,
textarea,
select,
label {
    font-size: 14px;
}

select {
    background-size: 20px 20px;
    background-position: calc(100% - 10px) 50%;
}

textarea {
    width: calc(100% - 25px);
}

.formhelp {
    font-size: 13px;
}

.fullbutton,
input[type="file"] {
    font-size: 16px;
}

.button.arrow-right {
    font-size: 24px;
    line-height: 14px;
}

/* / FORM */

/* GENERIC ICONS */

.genicon {
    width: 14px;
    height: 14px;
}

/* /GENERIC ICONS */

/* INTERACTIVE */

#interactive {
    width: 80vh;
    max-width: 100vw;
    height: 100vh;
    max-height: 125vw;

    #view {
        width: 160vh;
        max-width: 200vw;
        height: 100vh;
        max-height: 125vw;
    }
}

body.view .sub-container.sub2 {
    top: calc(125vw - 25px);
    margin-top: 0;
}

@media (max-height:959px) {
    body.view .sub-container.sub2 {
        top: auto;
        bottom: 3px;
    }
}

.nav-btn {
    width: 5vw;
    height: 5vw;
    top: calc(50% - 2.5vw);
}

.nav-left {
    left: 1.5vw;
}

.nav-right {
    right: 1.5vw;
}

#interactive #view span.poi {
    a {
        &:hover {
            -webkit-filter: drop-shadow(2px 2px 0 #92de00) drop-shadow((-2px) 2px 0 #92de00) drop-shadow(2px -2px 0 #92de00) drop-shadow((-2px) -2px 0 #92de00);
            filter: drop-shadow(2px 2px 0 #92de00) drop-shadow((-2px) 2px 0 #92de00) drop-shadow(2px -2px 0 #92de00) drop-shadow((-2px) -2px 0 #92de00);
        }

        span.label i p {
            border: 2px solid #976900;
            font-size: 16px;
            padding: 7px 12px;

            &::before {
                top: -12px;
                width: 24px;
                height: 14px;
            }
        }
    }

    &.ntf a span.label i p:after {
        width: 18px;
        height: 18px;
        top: -10px;
        right: -10px;
    }
}

/* /INTERACTIVE */

/* SUB-SECTION */

.sub-section {
    width: 100%;
    max-width: 767px;
    height: calc(100% - 111px);
    padding-top: 111px;
}

body.advtec,
body.sskills {
    .sub-section {
        height: calc(100% - 66px);
        padding-top: 66px;
    }
}

/* /SUB-SECTION */

/* SUB-MENUS */

table.submenus {
    height: 22px;

    tr td {
        padding: 0 10px;
        line-height: 22px;
        font-size: 13px;
    }

    &.depth3 tr td {

        &:nth-child(1)::before,
        &:nth-child(3)::after {
            width: 20px;
            height: 22px;

            @media (min-width: 767px) {
                width: calc((100vw - 727px)/2);
            }
        }

        &:nth-child(1)::before {
            background-color: #000;
            left: 0;

            @media (min-width: 767px) {
                left: calc((-100vw + 767px)/2);
            }
        }

        &:nth-child(3)::after {
            background-color: rgba(255, 255, 255, 0.85);
            right: 0;

            @media (min-width: 767px) {
                right: calc((-100vw + 767px)/2);
            }
        }

        &:nth-child(1) span::after {
            width: 20px;
            right: -20px;
        }

        &:nth-child(2) span {
            &::after {
                width: 20px;
                right: -20px;
            }

            &.is_menu {
                padding-right: 33px;
                background-position: 110% 100%;
            }
        }

        span.is_menu .submenu {
            width: calc(100% + 18px);
            margin-left: -8px;
            font-size: 85%;

            a {
                padding: 0 10px;
                height: 44px;
                line-height: 44px;
            }
        }
    }

    &.depth2 tr td {

        &:nth-child(1)::before,
        &:nth-child(2)::after {
            width: 20px;
            height: 22px;
        }

        &:nth-child(1)::before {
            background-color: #000;
            left: 0;
        }

        &:nth-child(2)::after {
            background-color: rgba(255, 255, 255, 0.85);
            right: 0;
        }

        &:nth-child(1) span::after {
            width: 20px;
            right: -20px;
        }

        span.is_menu .submenu {
            width: calc(100% + 18px);
            margin-left: -8px;
            font-size: 85%;

            a {
                padding: 0 10px;
                height: 44px;
                line-height: 44px;
            }
        }
    }
}

/* 3 levels depht */

/* /3 levels depht */

/* 2 levels depht */

/* /2 levels depht */

/* /SUB-MENUS */

/* /SUB-MENUS */

.top-tabs {
    margin: 3px 0 0 0;
    border-spacing: 10px;
    font-size: 11px;

    .row {
        a.tab {
            padding: 5px;
            border-radius: 11px;
        }
    }
}

/* /TOP TABS */

/* SKILL TABS */

.skills-tabs {
    width: calc(100% - 20px);
    max-width: calc(767px - 20px);
    margin: 10px auto 1px auto;

    .skill-tab {
        width: 24.25%;
        font-size: 11px;

        &:nth-of-type(1) {
            margin: 0 0.5% 0 0;
        }

        &:nth-of-type(2),
        &:nth-of-type(3) {
            margin: 0 0.5% 0 0.5%;
        }

        &:nth-of-type(4) {
            margin: 0 0 0 0.5%;
        }

        .skill-name {
            padding: 5px;
            border-radius: 11px;

            span {
                font-size: 21px;
                margin: -6px 0 0 0;
            }
        }

        .skill-progbar {
            margin: 2px 0 0 0;
            height: 10px;
            border-radius: 5px;
            border-width: 2px;

            .progress {
                border-radius: 3px;
            }
        }
    }
}

/* /SKILL TABS */

/* SKILL BOX */

.skill-box {
    width: calc(100vw - 20px);
    max-width: calc(767px - 20px);
    margin: 2px auto;
    border-width: 2px;
    padding: 2px;

    .skill-name {
        height: calc(23px - 6px);
        padding: 3px 6px;
        font-size: 16px;

        span {
            padding: 3px 6px;
            margin: -3px -6px;
        }
    }

    .skill-info {
        height: calc(100vh - 222px - 2px - 2px - 10px - 130px);
        /* calc = 100 viewport height -header -skill-box border -skill-box padding -skill-box margin bottom -security margin */
        max-height: calc((100vw - 20px) - 23px - 4px - 4px);
        /* calc = skill-box weight -skill-name height -skill-box padding(tot) -skill-box border(tot) */
        min-height: calc(100vh / 2.2);

        .skill-description {
            font-size: 12px;
            bottom: 3px;
            left: 3px;
            right: 3px;
            padding: 4px;
        }

        .dropdown {
            top: 10px;
            left: 10px;
            font-size: 14px;
            border-radius: 17.5px;

            &::after {
                top: 12px;
                right: 7px;
                width: 10px;
                height: 10px;
            }

            a.option {
                &:nth-of-type(1)::after {
                    width: 10px;
                    height: 10px;
                }

                padding:10px 15px;
            }

            &:hover a.option:nth-of-type(1) {
                margin-top: -35px;
            }
        }

        .up-overlay {
            width: calc(100% - 10px);
            height: calc(100% - 10px);
            padding: 5x;

            table.up-fin {
                font-size: 12px;

                tr {
                    td {
                        span {
                            padding: 2px;
                            border-radius: 2px;
                        }

                        padding:5px 5px;

                        &:nth-child(1) {
                            width: 43%;
                        }

                        &:nth-child(2) {
                            width: 27%;
                            background-size: 24px 24px;
                        }

                        &:nth-child(3) {
                            width: 30%;
                        }
                    }
                }
            }
        }
    }

    .nav-btn {
        width: 5vw;
        height: 5vw;
        top: calc(50% - 2.5vw);
    }

    .nav-left {
        left: 5vw;
    }

    .nav-right {
        right: 5vw;
    }
}

/* dropdown up/down arrow */

/* /dropdown up/down arrow */

/* /SKILL BOX */

/* FORM AREA */

.fullwidth {
    &.form-area {
        max-width: 767px;
        height: 22px;
        line-height: 15px;
        top: 120px;
    }

    &.subform-area {
        max-width: 767px;
        height: 22px;
        line-height: 22px;
        top: 142px;
    }

    &.form-area label {
        font-size: 8.5px;
        margin: 0 6px 0 0;
    }
}

input[type="checkbox"].checkbox {
    width: 14px;
    height: 13px;
    margin: 0 3px -1px 0;
}

.fullwidth {
    &.form-area {
        select {
            border: 1px solid #fff;
            background-size: 15px 15px;
            font-size: 9px;
            height: 18px;
            margin: 2px 10px 0 0;
            padding: 0 15px 0 5px;
            border-radius: 9px;
            max-width: 100px;
        }

        .reset,
        .sortsys,
        #search-pull {
            border: 1px solid #fff;
            background-size: 15px 15px;
            width: 18px;
            height: 18px;
            margin: 2px 10px 0 0;
            border-radius: 9px;
        }

        input.search {
            font-size: 9px;
            width: 18px;
            padding: 0;
            border-width: 1px;
            height: 18px;
            border-radius: 9px;
        }

        input.search-submit {
            top: 2px;
            right: 40px;
            width: 18px;
            height: 18px;
        }
    }

    &.subform-area select {
        font-size: 9px;
        background-size: 24px 24px;
        padding: 5px 30px 5px 0;
    }

    &.move-progress {
        padding: 5px 0;

        .prog-content {
            width: calc(100% - 36px);
            height: 16px;
            padding: 5px 0;
            border-radius: 13px;
        }

        #move-btn,
        .cancel-move-btn {
            border-width: 3px;
            width: 26px;
            height: 26px;
            background-size: 26px 26px;
            border-radius: 13px;
            margin: 0 0 0 10px;
        }

        .prog-percent {
            left: 5px;
            top: -4px;
            font-size: 28px;
            line-height: 28px;
        }

        .move-progbar {
            width: calc(80% - 6px);
            height: calc(100% - 6px);
            right: 3px;
            top: 3px;
            border-radius: 10px;
            font-size: 18px;
            line-height: 16px;

            @media (min-width: 767px) {
                width: calc(90% - 6px);
            }

            .progress {
                background-image: url('/img/move-progress-s.png');
                border-radius: 15px;
            }

            .move-name {
                padding: 0 10px;
                text-shadow: 1px 1px 0 #000;
            }
        }
    }
}

.fullwidth {
    &.form-area {
        overflow: hidden;
    }
}

#search-container {
    &.closed {
        width: 146px;
        left: -117px;

        input.search {
            margin: 2px 0 0 0;
            width: 18px;
            padding: 0;
        }
    }

    &.opened {
        width: calc(100% + 20px);
        left: 10px;

        input.search {
            margin: 0;
            width: calc(100% - 18px - 50px);
            /* 100% - #search-pull width - paddings&margins */
            padding: 5px 20px 5px 10px;
        }
    }
}

#search-filters {
    width: calc(100% - 50px);
    margin-left: 40px;
}

/* /FORM AREA */

/* SUBFORM AREA */

/* /SUBFORM AREA */

/* MOVE PROGRESS */

/* /MOVE PROGRESS */

/* MOVE QUEUE */

.cbox.move-queue {
    padding: 5px 10px 0 10px;

    .queue {
        padding-top: 5%;
    }
}

.queue-dropup {
    .title {
        padding: 0 0 10px 0;
        font-size: 18px;
    }

    .prog-content {
        margin: 0 0 5px 0;
    }
}

/* /MOVE QUEUE */

/* MOVEBOXES */

#movesbox {
    width: calc(100vw - 10px);
    max-width: calc(767px - 10px);
}

.moveboxes {
    margin: 57px 5px 0 5px;
    width: calc(100vw - 10px);
    max-width: calc(767px - 10px);
    min-height: 250px;
    height: calc(100vh - 280px);
    max-height: calc(100vw - 10px);

    .moveboxes-group {
        padding: 0;
        margin: 0;

        .move {
            width: calc(50% - 2.5px);
            height: calc(50% - 2.5px);

            &:nth-of-type(1) {
                margin: 0 5px 5px 0;
            }

            &:nth-of-type(2) {
                margin: 0 0 5px 0;
            }

            &:nth-of-type(3) {
                margin: 0 5px 0 0;
            }

            &:nth-of-type(4) {
                margin: 0;
            }

            border:2px solid var(--darkblue-color);
            border-radius:14px 24px 14px 14px;

            .stats {
                top: 2px;
                left: 2px;

                .stat {
                    font-size: 11px;
                    padding: 3px 7px 3px 5px;
                    margin: 0 0 1px 0;
                    width: 50px;

                    &:nth-of-type(1) {
                        border-radius: 9px 9px 9px 0;
                    }

                    &:nth-of-type(n+2) {
                        border-radius: 0 9px 9px 0;
                    }

                    &::before {
                        width: 16px;
                        height: 16px;
                        left: 1px;
                        top: 1px;
                    }
                }
            }

            a.upgrade,
            a.learn {
                border-width: 2px;
                right: -2px;
                top: -2px;
                width: 44px;
                height: 44px;
                border-radius: 22px;

                .tooltip-container {
                    margin-right: 14px;
                }
            }

            .upgrade-info {
                .row1 span::before {
                    width: 16px;
                    height: 16px;
                }

                left:0;
                right:0;
                bottom:2px;
                width:calc(100% - 4px);
                max-width:767px;
                background-size:114px 36px;
                height:36px;
                border-radius:0 0 18px 18px;

                div[class^="row"] {
                    height: 18px;
                }

                .row1 {
                    text-align: right;

                    span {
                        width: 30px;
                        height: 18px;
                        padding: 0 7px;
                        margin-left: 5px;
                        font-size: 11px;
                        line-height: 18px;

                        &::before {
                            left: 0;
                            top: 1px;
                        }
                    }
                }

                .row2 {
                    border-radius: 18px;

                    .lvl span {
                        width: 30px;

                        &:nth-of-type(1) {
                            font-size: 14px;
                            top: -14px;
                        }

                        &:nth-of-type(2) {
                            font-size: 18px;
                            top: -3px;
                        }
                    }

                    .movebar {
                        width: 80%;
                        height: 16px;
                        top: 1px;
                        right: 1px;
                        border-radius: 8px;

                        .progress {
                            height: 16px;
                            border-radius: 8px;
                        }

                        .onoff {
                            width: 16px;
                            height: 16px;
                            right: 0;
                            top: 0;
                        }

                        span {
                            top: 0;
                            left: 5px;
                            font-size: 13px;
                        }
                    }
                }

                .row1 span {
                    .tooltip-container {
                        width: 300%;
                    }

                    &.price .tooltip-container {
                        margin: -40% 0 0 -105%;
                    }

                    &.time .tooltip-container {
                        margin: -120% 0 0 -215%;
                    }
                }
            }
        }
    }
}

/* row1 tooltip fix */

/* /MOVEBOXES */

/* STAT BOX */

.stat-box {
    .upgrade-stat {
        width: 30%;
        font-size: 12px;
        max-width: 256px;
        max-height: 256px;

        .str,
        .spd,
        .tech,
        .endr {
            -webkit-transform: scale(0.75, 0.75);
            transform: scale(0.75, 0.75);
        }

        .btn-upgrade {
            margin: -18px 0 0 0;
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
        }
    }

    .info-stat {
        width: calc(70% - 10px);
        padding: 5px;
        font-size: 12px;
        height: 30vw;
        max-height: 276px;

        ul li::before {
            margin: 0 5px 0 0;
        }
    }
}

/* /STAT BOX */

/* STAT QUEUE */

.stat-queue {
    border-width: 0 4px;
    height: 54px;

    .prox {
        display: none;
    }

    .queue {
        font-size: 14px;
    }

    .icon {
        width: 35px;
        height: 35px;
        border-radius: 4px;
        margin: 0 0 0 4px;

        .tooltip {
            width: 150%;
            margin-left: -50%;
        }
    }

    .current {
        width: 114px;
        padding: 5px;
        height: 44px;
        border-radius: 0 6px 6px 0;

        &::after {
            border-width: 10px 0 10px 10px;
            right: -10px;
            top: 18px;
        }

        .icon {
            width: 28px;
            height: 28px;
            margin: 3px 5px 0 0;
        }

        .label,
        .name,
        .time {
            font-size: 14px;
        }

        .label {
            margin: -4px 0 0 0;
        }

        .name {
            margin: 2px 0 0 0;
        }

        .time {
            margin: 2px 0 0 0;
            font-size: 12px;
        }
    }
}

/* /STAT QUEUE */

/* USER STATS */

table.user-stats {
    tr td {
        padding: 3px;
        font-size: 11px;

        &:nth-of-type(1) {
            width: 30.9%;
        }

        &:nth-of-type(2) {
            width: 30.9%;
        }

        &:nth-of-type(3) {
            width: 38.2%;
        }

        &:nth-of-type(1) {
            border-right: 1px solid var(--blue-color);
        }

        >span {
            margin: 0;

            &.icon {
                width: 16px;
                height: 16px;
                margin: -2px 0 -2px 0;
            }

            &.label {
                display: none;
            }

            &.value {
                width: 55px;
                max-width: 55px;
            }
        }
    }

    tr:not(:last-of-type) td:not(:nth-child(3)) {
        border-bottom: 1px solid var(--blue-color);
    }
}

.heptagon-container {
    width: 113px;
    height: 113px;

    span {
        width: 20%;
        height: 17%;
    }

    .stat-heptagon {
        width: 113px;
        height: 113px;
        box-shadow: inset 0 0 90px rgba(147, 222, 59, 1);
    }
}

/* /USER STATS */

/* TABS */

.tabs {
    width: calc(100% - 28px);

    .tab {
        border-left-width: 1px;
        padding: 0 2px;
        height: 28px;
        line-height: 28px;
        font-size: 12px;

        &.active,
        &:hover {
            border-left-width: 1px;
        }
    }

    #puller,
    #chatcloser {
        border-left-width: 1px;
        right: -28px;
        width: 28px;
        height: 28px;
    }

    // 100vw - cbox padding - #puller width - single tab padding
    &.one-tabs {
        .tab {
            max-width: calc(100vw - 44px - 100px);
        }
    }

    &.two-tabs {
        .tab {
            max-width: calc((100vw - 44px - 100px)/2);
        }
    }

    &.three-tabs {
        .tab {
            max-width: calc((100vw - 20px - 28px - 20px)/3);
        }
    }

    &.four-tabs {
        .tab {
            max-width: calc((100vw - 20px - 28px - 20px)/4);
        }
    }

    &.five-tabs {
        .tab {
            max-width: calc((100vw - 20px - 28px - 20px)/5);
        }
    }
}

/* /TABS */

/* PULLABLE */

#pullable,
#chat {
    width: calc(100vw - 20px);
    max-width: calc(767px - 20px);

    .cbox {
        width: calc(100vw - 20px);
        max-width: calc(767px - 20px);
    }

    #pullable-content.cbox.dark-box,
    #chat-content.cbox.dark-box {
        width: calc(100vw - 20px);
        max-width: calc(767px - 20px);

        .content {
            padding: 5px;

            &.morepadding {
                padding: 20px;
            }
        }
    }

    &.closed {

        #pullable-content,
        #chat-content {
            height: 4px;
        }
    }

    &.opened {
        bottom: 10px;

        #pullable-content,
        #chat-content {
            height: calc(100vh - 159px);
        }
    }
}

/* /PULLABLE */

/* /PULLABLE */

.medal {
    width: 24px;
    height: 24px;
    margin: -8px 0 -8px 5px;
}

/* /MEDALS */

/* GENERIC TABLES */

table.generic {
    tr {
        th {
            border-bottom-width: 1px;
            font-size: 16px;
        }

        td {
            border-bottom-width: 1px;
            font-size: 12px;
        }

        th,
        td {
            padding: 5px;
        }
    }
}

// table.stats
table.stats {
    tr {
        td {
            &:nth-child(1) {
                max-width: 186px;
            }

            &:nth-child(2) {
                max-width: 74px;
            }
        }
    }
}

/* /GENERIC TABLES */

/* MATCH POINTS */

.pt_match {
    padding: 20px 20px 20px 55px;
    font-size: 16px;
    border-width: 1px;

    &::before {
        top: 10px;
        left: 10px;
        width: 32px;
        height: 32px;
    }

    span {
        top: 10px;
        right: 10px;
        width: 32px;
        height: 32px;
        line-height: 28px;
        font-size: 32px;
    }
}

/* /MATCH POINTS */

/* MATCH TYPES */

.matchtype {
    width: calc(20% - 3px);
    padding-top: calc(20% - 3px);
    border-width: 0.5vw;
    border-radius: 0.5vw;

    &.active {
        border-width: 0.5vw;
        border-radius: 0.5vw;

        &:hover {
            border-width: 0.5vw;
            border-radius: 0.5vwx;
        }
    }

    &:hover {
        border-width: 0.5vw;
        border-radius: 0.5vw;
    }
}

/* /MATCH TYPES */

/* ACHIEVEMENT */

.achievement {
    width: calc(20% - 3px);
    padding-top: calc(20% - 3px);
    border-width: 0.5vw;
    border-radius: 0.5vw;
}

/* /ACHIEVEMENT */

/* ARENA FIGHTERS LIST */

.arena-flist {
    width: 100%;
    max-width: 767px;
    height: calc(100% - 142px - 70px);
    top: 142px;

    .fighter {
        margin-bottom: calc(74px + 6px);

        .fhead {
            div {
                line-height: 14px;
                font-size: 14px;
                padding: 0 5px;

                &.stat-icon {
                    &::before {
                        width: 20px;
                        height: 20px;
                    }
                }

                &.nick {
                    max-width: 22vw;
                }
            }
        }

        .fbody {
            height: 74px;

            .content {
                padding: 5px;

                .avatar {
                    border-width: 2px;
                    width: 64px;
                    height: 64px;
                    border-radius: 6px;

                    &::before {
                        border-width: 2px;
                        width: 10px;
                        height: 10px;
                        top: 2px;
                        right: 2px;
                        border-radius: 5px;
                    }
                }
            }

            .icons {
                top: 5px;
                right: 5px;
                /* calc:100% - avatar width - content padding - avatar margin right */
                width: calc(100% - 64px - 10px - 5px);
                height: 120px;

                a.icon {
                    font-size: 12px;
                    width: 44px;
                    height: 44px;
                    margin: 10px 0.25vw 0 0.25vw;

                    &::before {
                        width: 60%;
                        height: 60%;
                        top: 10%;
                    }

                    &:hover {
                        font-size: 12px;
                    }

                    &:hover::before {
                        transform: scale(1.2, 1.2);
                    }

                    span {
                        bottom: -5px;
                    }
                }
            }
        }
    }
}

.arena-flist {
    .fighter.gold {

        &.belt-1,
        &.belt-2,
        &.belt-3,
        &.belt-4 {
            .avatar::after {
                width: 60px;
                height: 25px;
                background-size: 60px 25px;
                bottom: -8px;
            }
        }
    }
}

/* /ARENA FIGHTERS LIST */

/* ARENA DROPUP */

.arena-dropup {
    height: 70px;

    .cbox {
        width: 100%;
        padding: 0;

        .dropup {
            .icon {
                width: 44px;
                height: 44px;
                background-size: 40px 40px;
            }

            span {
                height: 12px;
                font-size: 12px;
                padding: 2px 10px 6px 10px;
                text-align: left;

                &::after {
                    width: 18px;
                    height: 18px;
                    right: 0;
                }
            }

            .selection {
                .mtc-type {
                    width: 46px;
                    height: 46px;
                    margin: 0 4px 5px 0;
                }
            }
        }
    }
}

/* /ARENA DROPUP */

/* MATCH VIEWER */
$matchlogo-h:40px;
$matchskip-h:40px;
$fgt-avatar-wh:64px;

.match-viewer {

    &>.cbox {
        width: 100%;
        padding: 0;
        height: calc(100% - 44px - 70px);
        margin: 44px auto 0 auto !important;

        .fgt-big {
            width: 50vw;
            height: 50vw;
            max-width: calc(100vh - 44px - 70px);
            max-height: calc(100vh - 44px - 70px);

            &.left {
                left: calc(-70vw + ((100% - 20px) / 2));

                @media (min-width: 767px) {
                    left: calc(-50vw + ((100% - 20px) / 2));
                }
            }

            &.right {
                right: calc(-70vw + ((100% - 20px) / 2));

                @media (min-width: 767px) {
                    right: calc(-50vw + ((100% - 20px) / 2));
                }
            }
        }

        .scroller-bg {
            width:calc(100% - (#{$fgt-avatar-wh} * 2) - 30px);
            top: $matchlogo-h;
            height:calc(100% - #{$matchlogo-h} - #{$matchskip-h} - 20px);
        }

        .scroller {
            width:calc(100% - (#{$fgt-avatar-wh} * 2) - 30px);
            top: $matchlogo-h;
            height:calc(100% - #{$matchlogo-h} - #{$matchskip-h} - 30px);

            .step {
                font-size: 10px;
                line-height: 18px;
                margin: 0 0 2px 0;
            }
        }
    }
}

/* animated title */
$col-secondary:#edc405;

.match-logo {
    height: $matchlogo-h;

    span {
        a {
            font-size: 21px;
            line-height: 0.8;
            text-shadow: 0 -1px 15px rgba(0, 0, 0, 0.9),
                0 0.75px 0 adjust-hue(darken($col-secondary, 22%), -3deg),
                0 1.5px 0 adjust-hue(darken($col-secondary, 21%), -3deg),
                0 2.25px 0 adjust-hue(darken($col-secondary, 20%), -3deg),
                0 3px 0 adjust-hue(darken($col-secondary, 19%), -3deg),
                0 3.75px 0 adjust-hue(darken($col-secondary, 18%), -3deg),
                0 4.5px 50px transparentize(lighten($col-secondary, 20%), 0.2);

            &:first-line {
                font-size: 0.8em;
            }
        }
    }
}

/* result button area */
.match-skip {
    height: $matchskip-h;
    top:calc(100% - #{$matchskip-h});

    span {
        div {
            a {
                font-size: 12px;
                padding: 8px;
                border-radius: 21px;
            }
        }
    }
}

/* match viewer avatars */
.fgt-avatars {
    top:calc(#{$matchlogo-h} + 10px);
    width: $fgt-avatar-wh;
    height:calc(100% - #{$matchlogo-h} - #{$matchskip-h} - 20px);

    .fgt-avatar {
        width: $fgt-avatar-wh;
        height: $fgt-avatar-wh;

        .nickname {
            font-size: 12px;
            line-height: 8px;
        }
    }

    &.left {
        .picture {
            border-radius: 5px 5px 0 0;
        }

        .nickname {
            border-radius: 0 5px 5px 5px;
        }
    }

    &.right {
        .picture {
            border-radius: 5px 5px 0 0;
        }

        .nickname {
            border-radius: 5px 0 5px 5px;
        }
    }
}

/* FIGHTER STATS */

.fgt-stats {
    height: 70px;

    .cbox {
        .fgt-avatars {
            height: $fgt-avatar-wh;
            top: 3px;

            .fgt-avatar {
                margin: 3px 0 0 0;
            }
        }
    }
}

/* /FIGHTER STATS */

table.fgt-table {
    font-size: 14px;
    padding: 7px 0;

    tr {
        td {
            padding: 0;
        }
    }

    &.stats-1 {
        width:calc(100% - #{$fgt-avatar-wh});
        margin-left: $fgt-avatar-wh;
    }
}

table.fgt-table {
    &.stats-2 {
        float: right;
        width: 95%;

        .ftt-stars {
            width: 46px;
            height: 14px;
        }
    }
}

/* /MATCH VIEWER */

/* TRADEMARKS / TAUNTS / FINISHERS */

table.positions,
table.tauntable {
    font-size: 12px;

    tr {

        th,
        td {
            padding: 5px 10px;
        }
    }
}

.skill-box.trtafi {
    margin: 10px auto;

    .stats {
        .stat {
            font-size: 11px;
            padding: 3px 7px 3px 5px;
            margin: 0 0 1px 0;
            width: 50px;

            &:nth-of-type(1) {
                border-radius: 9px 9px 9px 0;
            }

            &:nth-of-type(n+2) {
                border-radius: 0 9px 9px 0;
            }

            &::before {
                width: 16px;
                height: 16px;
                left: 1px;
                top: 1px;
            }
        }
    }

    .btn {
        font-size: 11px;
    }
}

.preview-box {
    margin: 10px 0;

    h3 {
        font-size: 21px;
    }

    .step {
        font-size: 10px;
        line-height: 18px;
        margin: 0 0 2px 0;
    }
}

/* /TRADEMARKS / TAUNTS / FINISHERS */

/* 2X2 BOXES */

.twotwoboxes {
    margin: 57px 5px 0 5px;
    width: calc(100vw - 10px);
    max-width: calc(767px - 10px);
    min-height: 250px;
    height: calc(100vh - 280px);
    max-height: calc(100vw - 10px);

    .twotwoboxes-group {
        padding: 0;
        margin: 0;

        .item {
            width: calc(50% - 2.5px);
            height: calc(50% - 2.5px);
            border: 2px solid var(--darkblue-color);
            border-radius: 14px 24px 14px 14px;

            &:nth-of-type(1) {
                margin: 0 5px 5px 0;
            }

            &:nth-of-type(2) {
                margin: 0 0 5px 0;
            }

            &:nth-of-type(3) {
                margin: 0 5px 0 0;
            }

            &:nth-of-type(4) {
                margin: 0;
            }
        }
    }
}

/* /2X2 BOXES */

/* ADVANCED TECHNIQUES */

.advtec {
    .advt-info {
        bottom: 45px;
        left: 5px;
        font-size: 11px;

        span {
            padding: 1px 3px;
            border-radius: 2px;
        }
    }

    .upgrade-info {
        left: 0;
        right: 0;
        bottom: 2px;
        width: calc(100% - 4px);
        max-width: 767px;
        background-size: 114px 36px;
        height: 36px;
        border-radius: 0 0 18px 18px;

        .row1 span::before {
            width: 16px;
            height: 16px;
        }

        div[class^="row"] {
            height: 18px;
        }

        .row1 {
            text-align: right;

            span {
                width: 60px;
                height: 18px;
                padding: 0 7px;
                margin-left: 5px;
                font-size: 11px;
                line-height: 18px;

                &::before {
                    left: 0;
                    top: 1px;
                }
            }
        }

        .row2 {
            border-radius: 18px;

            .lvl span {
                width: 30px;

                &:nth-of-type(1) {
                    font-size: 14px;
                    top: -14px;
                }

                &:nth-of-type(2) {
                    font-size: 18px;
                    top: -3px;
                }
            }

            .movebar {
                width: 80%;
                height: 16px;
                top: 1px;
                right: 1px;
                border-radius: 8px;

                .progress {
                    height: 16px;
                    border-radius: 8px;
                }

                span {
                    top: 0;
                    left: 5px;
                    font-size: 13px;
                }
            }
        }
    }

    a.upgrade,
    a.learn {
        border-width: 2px;
        right: -2px;
        top: -2px;
        width: 44px;
        height: 44px;
        border-radius: 22px;

        .tooltip-container {
            margin-right: 32px;
        }
    }

    .learned {
        .progress {
            background-image: url('/img/progress-gradient-t.png');
        }
    }
}

/* /ADVANCED TECHNIQUES */

/* TOURNAMENTS - LEAGUES BOXES */

.trleagboxes {
    width: calc(100% - 20px);
    padding: 10px;
    max-width: calc(767px - 20px);
    height: calc(100% - 152px - 46px - 20px);
    top: 152px;

    .trleagbox {
        border-radius: 10px;
        border-width: 2px;

        .title {
            padding: 5px 12px 5px 36px;
            font-size: 16px;
            border-radius: 6px 6px 0 0;

            &::before {
                left: 0;
                top: -2px;
                width: 32px;
                height: 32px;
            }

            .btn {
                margin: -4px -10px 0 0;
                padding: 5px 15px;
                border-radius: 8px;
            }
        }

        .content {
            padding: 10px;
            font-size: 14px;
            border-radius: 0 0 10px 10px;
        }

        &:not(:last-of-type) {
            margin-bottom: 10px;
        }

        &.working {
            .content {
                border-radius: 9px;
            }
        }
    }
}

table.trlginfo {
    font-size: 14px;

    tr {

        td,
        th {
            padding: 5px;
        }
    }
}

table.working {
    font-size: 14px;
    min-width: 241px;

    tr {

        th,
        td {
            padding: 5px 2px;
        }

        td {
            &:nth-child(2) {
                span.nick {
                    max-width: 80px;
                }
            }
        }
    }
}

/* /TOURNAMENTS - LEAGUES BOXES */

/* TABLE PROGBAR */

table {
    tr {
        td {
            div.progbar {
                height: 3px;
            }
        }
    }
}

/* TABLE PROGBAR */

/* TABLE CHAMPIONSHIP */

body.championship {
    .trleagboxes {
        .trleagbox {
            .content {
                border-radius: 9px;
            }
        }
    }
}

table.championship {
    font-size: 12px;

    .genicon {
        width: 18px;
        height: 18px;
        margin: 0 4px;
    }

    tr {

        th,
        td {
            padding: 3px;

            &:nth-child(4) {
                span {
                    margin: 0 2px;
                }
            }
        }

        td {
            &:nth-child(2) {
                font-size: 10px;
                width: 20%;
                max-width: 60px;
            }
        }
    }
}

.ch-arrow {
    width: 8px;
    height: 8px;
    margin: 4px -5px 0 0;
}

/* /TABLE CHAMPIONSHIP */

/* CHAT */

.chatbox {
    height: calc(100% - 124px);

    .message {
        padding: 0 0 10px 0;
        margin-bottom: 10px;

        .usern {
            font-size: 18px;
            margin: 0 0 5px 0;

            .user_options {
                left: -5px;
                width: 130px;
                border-radius: 6px;

                div {
                    padding: 6px;
                    font-size: 14px;
                }
            }
        }

        .time {
            font-size: 9px;
        }

        .text {
            font-size: 13px;
            line-height: 21px;
        }

        &.suppst {
            .usern {
                &::before {
                    width: 14px;
                    height: 14px;
                    margin: 0 5px 0 0;
                }
            }
        }

        i.emoji {
            width: 18px;
            height: 18px;
            margin: 0 0 -4px 0;
        }

        &:not(:last-of-type) {
            .user_options {
                top: 20px;
            }
        }

        &:last-of-type {
            .user_options {
                bottom: 20px;
            }
        }
    }
}

.sendmsg-form {
    bottom: 5px;
    left: 5px;
    width: calc(100% - 20px);

    input {
        width: calc(100% - 80px);
        height: 24px;
        border-radius: 22px;
        padding: 10px 10px 10px 50px;
    }

    button[type="submit"] {
        width: 44px;
        height: 44px;
        margin: 9px 0 0 0;
    }

    table {
        height: 44px;

        tr {
            td {
                &.input {
                    width: calc(100% - 44px) !important;
                }

                &.submit {
                    width: 44px;
                }

                #emoji-btn {
                    width: 44px;
                    height: 44px;
                    top: 11px;
                    left: 2px;
                }
            }
        }
    }
}

#emoji-box {
    bottom: 55px;
    left: -5px;
    width: calc(100% - 10px);
    border-radius: 22px;

    &.opened {
        padding: 10px;
    }

    i.emoji {
        width: 30px;
        height: 30px;
        margin: 0 10px 0 0;
    }
}

/* /CHAT */

/* SUPPORTERS SHOP */

.multiplier {
    bottom: -14px;
    left: 36px;
    padding: 0 3px;
    border-radius: 3px;
    font-size: 16px;
}

/* /SUPPORTERS SHOP */

/* /TABLE CHAMPIONSHIP */
}
