
@media screen and (min-width: 768px) and (max-width: 1023px) {

html,
body {
    min-width: 768px;
}

/* HIDERS */

.hide768 {
    display: none;
}

/* /HIDERS */

/* HEADER */

header {
    div#header {
        height: 62px;
        width: 764px;
        padding: 2px;

        .avatar {
            width: 62px;
            height: 62px;
            border-radius: 0 10px 10px 0;
        }

        .stamina {
            padding: 3px;
            width: 252px;
            height: 26px;
            top: 0;
            left: 66px;

            .stm-unit {
                width: 14px;
                height: 26px;
            }

            div.stm-unit:not(:nth-child(15)) {
                margin-right: 3px;
            }
        }

        .stm-ext-rounded {
            width: 9px;
            height: 9px;
            top: 0;
            left: 57px;
        }

        .stm-plus-btn {
            width: 32px;
            height: 32px;
            top: 0;
            left: 321px;
        }

        .nickname {
            font-size: 36px;
            top: 27px;
            left: 68px;
            max-width: 374px;
        }

        .lvl {
            height: 32px;
            padding: 0 16px;
            border-radius: 0 0 16px 16px;
            line-height: 26px;
            font-size: 24px;
            top: 0;
            left: 360px;
        }
    }

    #chat_btn {
        width: 66px;
        right: 66px;

        &:hover,
        &:focus {
            width: 66px;
        }

        &::before {
            width: 66px;
            height: 66px;
        }
    }

    #menu {
        width: 66px;

        &:hover,
        &:focus {
            width: 66px;
        }

        &::before {
            width: 66px;
            height: 66px;
        }

        &.visible ul {

            &.links,
            &.icons {
                width: calc(480px - 4px);
                margin-left: calc(-480px + 66px);
            }
        }

        ul {
            &.links li {
                height: 66px;

                a {
                    height: 47px;
                    line-height: 47px;
                    font-size: 24px;
                }
            }

            &.icons li {
                span.ntf {
                    font-size: 21px;
                    line-height: 22px;
                    width: 24px;
                    height: 24px;
                    top: 2px;
                    right: 2px;
                }

                a {
                    padding: 66px 0 7px 0;
                    font-size: 18px;
                }
            }
        }
    }

    div.ntf {
        width: 12px;
        height: 12px;
        top: 10px;
        right: 13px;
    }

    div.chat-ntf {
        width: 12px;
        height: 12px;
        top: 10px;
        right: calc(66px + 13px);
    }
}

/* back button */

body.back header #menu {
    .back {
        right: calc(768px - 66px);
        width: 66px;
        height: 66px;
        border-radius: 0 0 6px 6px;
    }

    &.hidden .back {
        top: -66px;
    }
}

/* /back button */

/* /HEADER */

/* SUBHEADER */

.sub-container {
    &.sub1 {
        top: 66px;
        margin-top: 10px;
    }

    &.sub2 {
        top: 95px;
        margin-top: 16px;
    }

    &.sub3 {
        top: 144px;
        margin-top: 2px;
    }
}

.sub-container .subheader {
    width: 738px;
    height: 33px;
    padding: 0 15px;

    .sbinfo {
        width: calc(30% - 15px);
        padding-right: 15px;
        height: 29px;
        border-radius: 15px;
        font-size: 24px;
        line-height: 26px;

        &.tournamentpt {
            width: calc(30% - 33px);
            padding-right: 33px;
        }

        &::before {
            width: 36px;
            height: 36px;
            left: -2px;
            top: -4px;
        }

        &:hover::before {
            width: 48px;
            height: 48px;
            left: -10px;
            top: -10px;
        }

        a.plus {
            right: 3px;
            top: 3px;
            width: 23px;
            height: 23px;
        }

        .percentbar {
            width: 75%;
            height: 23px;
            border-radius: 12px;
            top: 3px;
            right: 3px;

            .progress {
                background-image: url(/img/progress-gradient-t.png);
                border-radius: 12px;
            }
        }
    }
}

/* /SUBHEADER */

/* STRUCTURE */

.fullwidth {
    .cbox {
        width: calc(768px - 30px);
        margin: 0 auto;
        padding: 0 15px;
    }

    &.cols-2 .fullbox .content {
        width: 342px;
        padding: 0 20px;
    }

    .cbox {
        .colt100 {
            width: 100%;
            padding: 0;
        }

        .colt50 {
            width: -moz-calc(50% - 5px);
            width: -webkit-calc(50% - 5px);
            width: calc(50% - 5px);
            float: left;

            &:nth-child(1) {
                padding: 0 5px 0 0;
            }

            &:nth-child(2) {
                padding: 0 0 0 5px;
            }
        }

        .colt33 {
            width: -moz-calc(33.33% - 10px);
            width: -webkit-calc(33.33% - 10px);
            width: calc(33.33% - 10px);
            float: left;

            &:nth-child(1) {
                padding: 0 5px 0 0;
            }

            &:nth-child(2) {
                padding: 0 5px 0 5px;
            }

            &:nth-child(3) {
                padding: 0 0 0 5px;
            }
        }
    }
}

/* /STRUCTURE */

/* FOOTER */

.footergroup {
    h4 {
        font-size: 16px;
        margin: 0 0 20px 0;
    }

    font-size:12px;
    width:48%;
    padding-left:1%;
    float:left;
}

.footer_text {
    font-size: 11px;
    padding: 40px 0;
}

/* /FOOTER */

/* COMMON */

.tooltip {
    font-size: 16px;
    line-height: 18px;
    padding: 4px 8px;
    border-radius: 5px;
}

.tooltip-container {
    &.t-above-3 {
        top: -120px;
    }

    &.t-above-2 {
        top: -80px;
    }

    &.t-above {
        top: -40px;
    }

    &.t-below {
        bottom: -40px;
    }

    &.t-below-2 {
        bottom: -80px;
        bottom: -120px;
    }
}

.infobox {
    max-height: 132px;

    &.noscroll {
        max-height: none;
    }

    span {
        background-position: 10px 15px;
        padding: 15px 15px 15px 44px;
        background-size: 22px 22px;
        font-size: 18px;
    }

    .btn {
        padding: 3px 16px 5px 16px;
        border-radius: 17px;
    }
}

.dark-box {
    width: 738px;
    margin: 10px auto 0 auto;
    border-width: 4px;
    padding: 4px;
}

.btn.btn-upgrade,
.btn.btn-generic {
    font-size: 18px;
    top: 8px;
    right: 8px;
    padding: 10px 20px;
    border-radius: 22px;
}

/* /COMMON */

/* TABS */

ul.tabs {
    font-size: 13px;
}

/* /TABS */

/* FORM */

input,
textarea,
select,
label,
.fullbutton,
input[type="file"] {
    font-size: 18px;
}

select {
    background-size: 30px 30px;
    background-position: calc(100% - 10px) 50%;
}

textarea {
    width: calc(100% - 22px);
}

.button.arrow-right {
    font-size: 28px;
    line-height: 18px;
}

/* / FORM */

/* GENERIC ICONS */

a.genicon {
    width: 18px;
    height: 18px;
}

/* /GENERIC ICONS */

/* INTERACTIVE */

#interactive {
    width: 768px;
    height: 960px;

    #view {
        width: 1920px;
        height: 960px;
    }
}

@media (max-height:959px) {

    #interactive {
        width: 80vh;
        height: 100vh;

        #view {
            width: 160vh;
            height: 100vh;
        }
    }
}

.nav-btn {
    width: 32px;
    height: 32px;
    top: calc(50% - 16px);
}

.nav-left {
    left: 15px;
}

.nav-right {
    right: 15px;
}

#interactive #view span.poi {
    a {
        &:hover {
            -webkit-filter: drop-shadow(3px 3px 0 #92de00) drop-shadow((-3px) 3px 0 #92de00) drop-shadow(3px -3px 0 #92de00) drop-shadow((-3px) -3px 0 #92de00);
            filter: drop-shadow(3px 3px 0 #92de00) drop-shadow((-3px) 3px 0 #92de00) drop-shadow(3px -3px 0 #92de00) drop-shadow((-3px) -3px 0 #92de00);
        }

        span.label i p {
            border: 3px solid #976900;
            font-size: 28px;
            padding: 5px 10px;

            &::before {
                top: -14px;
                width: 25px;
                height: 14px;
            }
        }
    }

    &.ntf a span.label i p:after {
        width: 18px;
        height: 18px;
        top: -10px;
        right: -10px;
    }
}

/* /INTERACTIVE */

/* SUB-SECTION */

.sub-section {
    width: 768px;
    height: calc(100% - 202px);
    padding-top: 202px;
}

body.advtec,
body.sskills {
    .sub-section {
        height: calc(100% - 96px);
        padding-top: 96px;
    }
}

/* /SUB-SECTION */

/* SUB-MENUS */

table.submenus {
    height: 56px;

    tr td {
        padding: 0 15px;
        line-height: 56px;
        font-size: 21px;
    }

    &.depth3 tr td {

        &:nth-child(1)::before,
        &:nth-child(3)::after {
            width: calc((100vw - 734px)/2);
            height: 56px;
            top: 0;
        }

        &:nth-child(1)::before {
            background-color: #000;
            left: calc((-100vw + 768px)/2);
        }

        &:nth-child(3)::after {
            background-color: rgba(255, 255, 255, 0.85);
            right: calc((-100vw + 768px)/2);
        }

        &:nth-child(1) span {
            &::before {
                width: 15px;
                left: -15px;
            }

            &::after {
                width: 30px;
                right: -30px;
            }
        }

        &:nth-child(2) span::after {
            width: 30px;
            right: -30px;
        }

        &:nth-child(3) span::after {
            width: 13px;
            right: -13px;
        }

        &:nth-child(2) span.is_menu {
            padding-right: 42px;
            background-position: 120% 100%;
            margin-left: -1px;
        }

        span.is_menu .submenu {
            width: calc(100% + 26px);
            margin-left: -21px;
            font-size: 75%;

            a {
                padding: 0 15px 0 14px;
            }
        }
    }

    &.depth2 tr td {

        &:nth-child(1)::before,
        &:nth-child(2)::after {
            width: calc((100vw - 734px)/2);
            height: 56px;
            top: 0;
        }

        &:nth-child(1)::before {
            background-color: #000;
            left: calc((-100vw + 768px)/2);
        }

        &:nth-child(2)::after {
            background-color: rgba(255, 255, 255, 0.85);
            right: calc((-100vw + 768px)/2);
        }

        &:nth-child(1) span {
            &::before {
                width: 15px;
                left: -15px;
            }

            &::after {
                width: 30px;
                right: -30px;
            }
        }

        &:nth-child(2) span::after {
            width: 13px;
            right: -13px;
        }

        span.is_menu .submenu {
            width: calc(100% + 26px);
            margin-left: -21px;
            font-size: 75%;

            a {
                padding: 0 15px 0 14px;
            }
        }
    }
}

/* 3 levels depht */

/* /3 levels depht */

/* 2 levels depht */

/* /2 levels depht */

/* /SUB-MENUS */

/* /SUB-MENUS */

.top-tabs {
    margin: 0;
    border-spacing: 15px;
    font-size: 18px;

    .row {
        a.tab {
            padding: 7px 14px;
            border-radius: 17px;
        }
    }
}

/* /TOP TABS */

/* SKILL TABS */

.skills-tabs {
    width: 738px;
    margin: 10px auto;

    .skill-tab {
        width: 23.5%;
        font-size: 18px;

        &:nth-of-type(1) {
            margin: 0 1% 0 0;
        }

        &:nth-of-type(2),
        &:nth-of-type(3) {
            margin: 0 1% 0 1%;
        }

        &:nth-of-type(4) {
            margin: 0 0 0 1%;
        }

        .skill-name {
            padding: 7px 14px;
            border-radius: 17px;

            span {
                font-size: 36px;
                margin: -11px 0 0 0;
            }
        }

        .skill-progbar {
            margin: 4px 0 0 0;
            height: 18px;
            border-radius: 9px;
            border-width: 3px;

            .progress {
                border-radius: 6px;
            }
        }
    }
}

/* /SKILL TABS */

/* SKILL BOX */

.skill-box {
    width: 738px;
    margin: 10px auto;
    border-width: 4px;
    padding: 4px;

    .skill-name {
        height: calc(28px - 8px);
        padding: 4px 8px;
        font-size: 18px;

        span {
            padding: 4px 8px;
            margin: -4px -8px;
        }
    }

    .skill-info {
        height: calc(100vh - 314px - 4px - 4px - 10px - 140px);
        /* calc = 100 viewport height -header -skill-box border -skill-box padding -skill-box margin bottom -security margin */
        max-height: calc(738px - 28px - 8px - 8px);
        /* calc = skill-box weight -skill-name height -skill-box padding(tot) -skill-box border(tot) */
        min-height: calc(100vh / 2.4);

        .skill-description {
            font-size: 18px;
            bottom: 4px;
            left: 4px;
            right: 4px;
            padding: 8px;
        }

        .dropdown {
            top: 10px;
            left: 10px;
            font-size: 21px;
            border-radius: 22px;

            &::after {
                top: 10px;
                right: 10px;
                width: 20px;
                height: 20px;
            }

            a.option {
                &:nth-of-type(1)::after {
                    width: 20px;
                    height: 20px;
                }

                padding:10px 20px;
            }

            &:hover a.option:nth-of-type(1) {
                margin-top: -43px;
            }
        }

        .up-overlay {
            width: calc(100% - 30px);
            height: calc(100% - 30px);
            padding: 15px;

            table.up-fin {
                font-size: 21px;

                tr {
                    td {
                        padding: 7px 15px;

                        span {
                            padding: 4px;
                            border-radius: 4px;
                        }

                        &:nth-child(1) {
                            width: 50%;
                        }

                        &:nth-child(2) {
                            width: 20%;
                            background-size: 32px 32px;
                        }

                        &:nth-child(3) {
                            width: 30%;
                        }
                    }
                }
            }
        }
    }

    .nav-btn {
        width: 32px;
        height: 32px;
        top: calc(50% - 16px);
    }

    .nav-left {
        left: 32px;
    }

    .nav-right {
        right: 32px;
    }
}

/* dropdown up/down arrow */

/* /dropdown up/down arrow */

/* /SKILL BOX */

/* FORM AREA */

.fullwidth {
    &.form-area {
        height: 44px;
        line-height: 44px;
        top: 206px;
    }

    &.subform-area {
        height: 33px;
        line-height: 33px;
        top: 250px;
    }

    &.form-area label {
        font-size: 18px;
        margin: 0 20px 0 0;
    }
}

input[type="checkbox"].checkbox {
    width: 33px;
    height: 30px;
    margin: 7px 10px -7px 0;
}

.fullwidth {
    &.form-area {
        select {
            border: 2px solid #fff;
            background-size: 30px 30px;
            font-size: 18px;
            height: 36px;
            margin: 4px 20px 0 0;
            padding: 5px 45px 5px 15px;
            border-radius: 18px;
            max-width: 300px;
        }

        .reset,
        .sortsys,
        #search-pull {
            border: 2px solid #fff;
            background-size: 30px 30px;
            width: 36px;
            height: 36px;
            margin: 4px 30px 0 0;
            border-radius: 18px;
        }

        input.search {
            font-size: 21px;
            width: 36px;
            padding: 10px 0;
            border-width: 2px;
            height: 36px;
            border-radius: 18px;
        }

        input.search-submit {
            top: 4px;
            right: 20px;
            width: 36px;
            height: 36px;
        }
    }

    &.subform-area select {
        font-size: 18px;
        background-size: 48px 48px;
        padding: 10px 40px 10px 0;
    }

    &.move-progress {
        padding: 10px 0;

        .prog-content {
            width: calc(100% - 50px);
            height: 20px;
            padding: 10px 0;
            border-radius: 20px;
        }

        #move-btn,
        .cancel-move-btn {
            border-width: 5px;
            width: 40px;
            height: 40px;
            background-size: 40px 40px;
            border-radius: 20px;
            margin: 0 0 0 10px;
        }

        .prog-percent {
            left: 5px;
            top: 0;
            font-size: 48px;
            line-height: 30px;
        }

        .move-progbar {
            width: calc(87.5% - 10px);
            height: calc(100% - 10px);
            right: 5px;
            top: 5px;
            border-radius: 15px;
            font-size: 28px;
            line-height: 26px;

            .progress {
                background-image: url('/img/move-progress-t.png');
                border-radius: 15px;
            }

            .move-name {
                padding: 0 15px;
                text-shadow: 2px 2px 0 #000;
            }
        }
    }
}

#search-container {
    &.closed {
        width: 146px;
        left: -86px;

        input.search {
            margin: 4px 0 0 0;
            width: 36px;
            padding: 10px 0;
        }
    }

    &.opened {
        width: 100%;
        left: 20px;

        input.search {
            margin: 0;
            width: calc(100% - 36px - 80px);
            /* 100% - #search-pull width - paddings&margins */
            padding: 10px 60px 10px 20px;
        }
    }
}

#search-filters {
    width: calc(100% - 90px);
    margin-left: 75px;
}

/* /FORM AREA */

/* SUBFORM AREA */

/* /SUBFORM AREA */

/* MOVE PROGRESS */

/* /MOVE PROGRESS */

/* MOVE QUEUE */

.cbox.move-queue {
    padding: 10px 0 0 0;

    .queue {
        height: 35.6px;
    }
}

.queue-dropup {
    .title {
        padding: 0 0 10px 0;
        font-size: 24px;
    }

    .prog-content {
        margin: 0 0 10px 0;
    }
}

/* /MOVE QUEUE */

/* MOVEBOXES */

#movesbox {
    width: 748px;
}

.moveboxes {
    margin: 104px 10px 0 10px;
    width: 748px;
    min-height: 334px;
    height: calc(100vh - 424px);
    max-height: 748px;

    .moveboxes-group {
        padding: 10px;

        &:not(:nth-of-type(1)) {
            margin-left: -20px;
        }

        .move {
            width: calc(50% - 15px);
            height: calc(50% - 15px);

            &:nth-of-type(1) {
                margin: 0 10px 10px 0;
            }

            &:nth-of-type(2) {
                margin: 0 0 10px 0;
            }

            &:nth-of-type(3) {
                margin: 0 10px 0 0;
            }

            &:nth-of-type(4) {
                margin: 0;
            }

            border:3px solid var(--darkblue-color);
            border-radius:21px;

            .stats {
                top: 3px;
                left: 3px;

                .stat {
                    font-size: 18px;
                    padding: 5px 15px 5px 10px;
                    margin: 0 0 2px 0;
                    width: 80px;

                    &:nth-of-type(1) {
                        border-radius: 15px 15px 15px 0;
                    }

                    &:nth-of-type(n+2) {
                        border-radius: 0 15px 15px 0;
                    }

                    &::before {
                        width: 20px;
                        height: 20px;
                        left: 5px;
                        top: 5px;
                    }
                }
            }

            a.upgrade,
            a.learn {
                border-width: 3px;
                right: -8px;
                top: -8px;
                width: 66px;
                height: 66px;
                border-radius: 33px;

                .tooltip-container {
                    margin-right: 18px;
                }
            }

            .upgrade-info {
                .row1 span::before {
                    width: 20px;
                    height: 20px;
                }

                left:0;
                right:0;
                bottom:3px;
                width:calc(100% - 6px);
                background-size:253px 80px;
                height:80px;
                border-radius:0 0 20px 20px;

                div[class^="row"] {
                    height: 40px;
                }

                .row1 {
                    text-align: right;

                    span {
                        width: 40px;
                        height: 40px;
                        padding: 0 20px;
                        margin-left: 30px;
                        font-size: 21px;
                        line-height: 40px;

                        &::before {
                            left: 0;
                            top: 11px;
                        }
                    }
                }

                .row2 {
                    border-radius: 20px;

                    .lvl span {
                        width: 50px;

                        &:nth-of-type(1) {
                            font-size: 18px;
                            top: -12px;
                        }

                        &:nth-of-type(2) {
                            font-size: 36px;
                            top: 2px;
                        }
                    }

                    .movebar {
                        width: 85%;
                        height: 34px;
                        top: 3px;
                        right: 3px;
                        border-radius: 17px;

                        .progress {
                            height: 34px;
                            border-radius: 17px;
                        }

                        .onoff {
                            width: 30px;
                            height: 30px;
                            right: 2px;
                            top: 2px;
                        }

                        span {
                            top: 1px;
                            left: 10px;
                            font-size: 26px;
                        }
                    }
                }

                .row1 span {
                    .tooltip-container {
                        width: 400%;
                    }

                    &.price .tooltip-container {
                        margin: 0 0 0 -180%;
                    }

                    &.time .tooltip-container {
                        margin: 0 0 0 -320%;
                    }
                }
            }
        }
    }
}

/* row1 tooltip fix */

/* /MOVEBOXES */

/* STAT BOX */

.stat-box {
    .upgrade-stat {
        width: 25%;
        font-size: 14px;
    }

    .info-stat {
        width: calc(75% - 14px);
        padding: 7px;
        font-size: 16px;
        height: 230px;

        ul li::before {
            margin: 0 8px 0 0;
        }
    }
}

/* /STAT BOX */

/* STAT QUEUE */

.stat-queue {
    border-width: 0 4px;
    height: 108px;

    .prox {
        display: none;
    }

    .queue {
        font-size: 18px;
    }

    .icon {
        width: 82px;
        height: 82px;
        border-radius: 10px;
        margin: 4px 0 0 10px;

        .tooltip {
            width: 133%;
            margin-left: -33%;
        }
    }

    .current {
        width: 260px;
        padding: 10px;
        height: 88px;
        border-radius: 0 12px 12px 0;

        &::after {
            border-width: 20px 0 20px 20px;
            right: -20px;
            top: 36px;
        }

        .icon {
            width: 56px;
            height: 56px;
            margin: 6px 10px 0 0;
        }

        .label,
        .name,
        .time {
            font-size: 28px;
        }

        .label {
            margin: -8px 0 0 0;
        }

        .name {
            margin: 4px 0 0 0;
        }

        .time {
            margin: 4px 0 0 0;
            font-size: 24px;
        }
    }
}

/* /STAT QUEUE */

/* USER STATS */

table.user-stats {
    tr td {
        padding: 8px;
        font-size: 18px;

        &:nth-of-type(1) {
            width: 34.5%;
        }

        &:nth-of-type(2) {
            width: 34.5%;
        }

        &:nth-of-type(3) {
            width: 33%;
        }

        &:nth-of-type(1) {
            border-right: 2px solid var(--blue-color);
        }

        >span {
            margin: 0 5px;

            &.icon {
                width: 32px;
                height: 32px;
                margin: -6px 0 -6px 2px;
            }

            &.label {
                display: none;
            }

            &.value {
                width: 160px;
                max-width: 160px;
            }
        }
    }

    tr:not(:last-of-type) td:not(:nth-child(3)) {
        border-bottom: 2px solid var(--blue-color);
    }
}

.heptagon-container {
    width: 226px;
    height: 226px;

    span {
        width: 15%;
        height: 15%;
    }

    .stat-heptagon {
        width: 226px;
        height: 226px;
        box-shadow: inset 0 0 125px rgba(147, 222, 59, 1);
    }
}

/* /USER STATS */

/* TABS */

.tabs {
    width: calc(100% - 44px);

    .tab {
        border-left-width: 2px;
        padding: 0 5px;
        height: 44px;
        line-height: 44px;
        font-size: 16px;

        &.active,
        &:hover {
            border-left-width: 2px;
        }
    }

    #puller,
    #chatcloser {
        border-left-width: 2px;
        right: -44px;
        width: 44px;
        height: 44px;
    }

    // cbox width - #puller width - single tab padding
    &.one-tabs {
        .tab {
            max-width: calc(768px - 44px - 100px);
        }
    }

    &.two-tabs {
        .tab {
            max-width: calc((768px - 44px - 100px)/2);
        }
    }

    &.three-tabs {
        .tab {
            max-width: calc((768px - 44px - 50px)/3);
        }
    }

    &.four-tabs {
        .tab {
            max-width: calc((768px - 44px - 50px)/4);
        }
    }

    &.five-tabs {
        .tab {
            max-width: calc((768px - 44px - 50px)/5);
        }
    }
}

/* /TABS */

/* PULLABLE */

#pullable,
#chat {
    width: 738px;

    .cbox {
        width: 738px;
    }

    #pullable-content.cbox.dark-box,
    #chat-content.cbox.dark-box {
        width: 738px;

        .content {
            padding: 10px;

            &.morepadding {
                padding: 30px;
            }
        }
    }

    &.closed {

        #pullable-content,
        #chat-content {
            height: 8px;
        }
    }

    &.opened {
        bottom: 15px;

        #pullable-content,
        #chat-content {
            height: calc(100vh - 271px);
        }
    }
}

/* /PULLABLE */

/* /PULLABLE */

.medal {
    width: 32px;
    height: 32px;
    margin: -10px 0 -10px 10px;
}

/* /MEDALS */

/* GENERIC TABLES */

table.generic {
    tr {
        th {
            border-bottom-width: 2px;
            font-size: 24px;
        }

        td {
            border-bottom-width: 2px;
            font-size: 18px;
        }

        th,
        td {
            padding: 10px 15px;
        }
    }
}

// table.stats
table.stats {
    tr {
        td {
            &:nth-child(1) {
                max-width: 463px;
            }

            &:nth-child(2) {
                max-width: 181px;
            }
        }
    }
}

/* /GENERIC TABLES */

/* MATCH POINTS */

.pt_match {
    padding: 40px 40px 40px 110px;
    font-size: 24px;
    border-width: 2px;

    &::before {
        top: 20px;
        left: 20px;
        width: 64px;
        height: 64px;
    }

    span {
        top: 20px;
        right: 20px;
        width: 64px;
        height: 64px;
        line-height: 56px;
        font-size: 64px;
    }
}

/* /MATCH POINTS */

/* MATCH TYPES */

.matchtype {
    width: calc(20% - 4px);
    padding-top: calc(20% - 4px);
    border-width: 3px;
    border-radius: 3px;

    &.active {
        border-width: 3px;
        border-radius: 3px;

        &:hover {
            border-width: 3px;
            border-radius: 3px;
        }
    }

    &:hover {
        border-width: 3px;
        border-radius: 3px;
    }
}

/* /MATCH TYPES */

/* ACHIEVEMENT */

.achievement {
    width: calc(20% - 4px);
    padding-top: calc(20% - 4px);
    border-width: 3px;
    border-radius: 3px;
}

/* /ACHIEVEMENT */

/* ARENA FIGHTERS LIST */

.arena-flist {
    width: 768px;
    height: calc(100% - 250px - 106px);
    top: 250px;

    .fighter {
        margin-bottom: calc(130px + 8px);

        .fhead {
            div {
                line-height: 21px;
                font-size: 21px;
                padding: 5px;

                &.stat-icon {
                    &::before {
                        width: 36px;
                        height: 36px;
                    }
                }

                &.nick {
                    max-width: 250px;
                }
            }
        }

        .fbody {
            height: 130px;

            .content {
                padding: 5px;

                .avatar {
                    border-width: 2px;
                    width: 120px;
                    height: 120px;
                    border-radius: 12px;

                    &::before {
                        border-width: 2px;
                        width: 18px;
                        height: 18px;
                        top: 5px;
                        right: 5px;
                        border-radius: 9px;
                    }
                }
            }

            .icons {
                top: 5px;
                right: 5px;
                /* calc:100% - avatar width - content padding - avatar margin right */
                width: calc(100% - 120px - 10px - 5px);
                height: 120px;

                a.icon {
                    font-size: 24px;
                    width: 120px;
                    height: 120px;
                    margin: 0 2px;

                    &::before {
                        width: 60%;
                        height: 60%;
                        top: 10%;
                    }

                    &:hover {
                        font-size: 32px;
                    }

                    span {
                        bottom: 10px;
                    }
                }
            }
        }
    }
}

.arena-flist {
    .fighter.gold {

        &.belt-1,
        &.belt-2,
        &.belt-3,
        &.belt-4 {
            .avatar::after {
                width: 118px;
                height: 49px;
                background-size: 118px 49px;
                bottom: -13px;
            }
        }
    }
}

/* /ARENA FIGHTERS LIST */

/* ARENA DROPUP */

.arena-dropup {
    height: 106px;

    .cbox {
        .dropup {
            .icon {
                width: 60px;
                height: 60px;
                background-size: 50px 50px;
            }

            span {
                height: 21px;
                font-size: 21px;
                padding: 2px 0 12px 0;

                &::after {
                    width: 33px;
                    height: 33px;
                    right: 10px;
                }
            }

            .selection {
                .mtc-type {
                    width: 100px;
                    height: 100px;
                    margin: 0 9px 10px 0;
                }
            }
        }
    }
}

/* /ARENA DROPUP */

/* MATCH VIEWER */
$matchlogo-h:100px;
$matchskip-h:70px;
$fgt-avatar-wh:96px;

.match-viewer {

    &>.cbox {
        width: 768px;
        padding: 0;
        height: calc(100% - 66px - 106px);
        margin: 66px auto 0 auto !important;

        .fgt-big {
            width: 50vw;
            height: 50vw;
            max-width: calc(100vh - 66px - 106px);
            max-height: calc(100vh - 66px - 106px);

            &.left {
                left: calc(-68vw + ((768px - 30px) / 2));
            }

            &.right {
                right: calc(-68vw + ((768px - 30px) / 2));
            }
        }

        .scroller-bg {
            width:calc(100% - (#{$fgt-avatar-wh} * 2) - 40px);
            top: $matchlogo-h;
            height:calc(100% - #{$matchlogo-h} - #{$matchskip-h} - 20px);
        }

        .scroller {
            width:calc(100% - (#{$fgt-avatar-wh} * 2) - 40px);
            top: $matchlogo-h;
            height:calc(100% - #{$matchlogo-h} - #{$matchskip-h} - 30px);

            .step {
                font-size: 18px;
                line-height: 24px;
                margin: 0 0 3px 0;
            }
        }
    }
}

/* animated title */
$col-secondary:#edc405;

.match-logo {
    height: $matchlogo-h;

    span {
        a {
            font-size: 48px;
            line-height: 0.8;
            text-shadow: 0 -1px 15px rgba(0, 0, 0, 0.9),
                0 1px 0 adjust-hue(darken($col-secondary, 22%), -3deg),
                0 2px 0 adjust-hue(darken($col-secondary, 21%), -3deg),
                0 3px 0 adjust-hue(darken($col-secondary, 20%), -3deg),
                0 4px 0 adjust-hue(darken($col-secondary, 19%), -3deg),
                0 5px 0 adjust-hue(darken($col-secondary, 18%), -3deg),
                0 6px 50px transparentize(lighten($col-secondary, 20%), 0.2);

            &:first-line {
                font-size: 0.8em;
            }
        }
    }
}

/* result button area */
.match-skip {
    height: $matchskip-h;
    top:calc(100% - #{$matchskip-h});

    span {
        div {
            a {
                font-size: 21px;
                padding: 16px;
                border-radius: 26px;
            }
        }
    }
}

/* match viewer avatars */
.fgt-avatars {
    top:calc(#{$matchlogo-h} + 10px);
    width: $fgt-avatar-wh;
    height:calc(100% - #{$matchlogo-h} - #{$matchskip-h} - 20px);

    .fgt-avatar {
        width: $fgt-avatar-wh;
        height: $fgt-avatar-wh;

        .nickname {
            font-size: 18px;
            line-height: 14px;
        }
    }

    &.left {
        .picture {
            border-radius: 7px 7px 0 0;
        }

        .nickname {
            border-radius: 0 7px 7px 7px;
        }
    }

    &.right {
        .picture {
            border-radius: 7px 7px 0 0;
        }

        .nickname {
            border-radius: 7px 0 7px 7px;
        }
    }
}

/* FIGHTER STATS */

.fgt-stats {
    height: 106px;

    .cbox {
        .fgt-avatars {
            height: $fgt-avatar-wh;
            top: 5px;

            .fgt-avatar {
                margin: 5px 0 0 0;
            }
        }
    }
}

/* /FIGHTER STATS */

table.fgt-table {
    font-size: 18px;
    padding: 10px 0;

    tr {
        td {
            padding: 2px 0;
        }
    }

    &.stats-1 {
        width:calc(75% - #{$fgt-avatar-wh} - 10px);
        margin-left:calc(#{$fgt-avatar-wh} + 10px);
    }
}

table.fgt-table {
    &.stats-2 {
        margin: 0 auto;
        width: 50%;

        .ftt-stars {
            width: 60px;
            height: 18px;
        }
    }
}

/* /MATCH VIEWER */

/* TRADEMARKS / TAUNTS / FINISHERS */

table.positions,
table.tauntable {
    font-size: 21px;

    tr {

        th,
        td {
            padding: 10px 40px;
        }
    }
}

.skill-box.trtafi {
    .stats {
        .stat {
            font-size: 18px;
            padding: 5px 15px 5px 10px;
            margin: 0 0 2px 0;
            width: 80px;

            &:nth-of-type(1) {
                border-radius: 15px 15px 15px 0;
            }

            &:nth-of-type(n+2) {
                border-radius: 0 15px 15px 0;
            }

            &::before {
                width: 20px;
                height: 20px;
                left: 5px;
                top: 5px;
            }
        }
    }

    .btn {
        font-size: 18px;
    }
}

.preview-box {
    margin: 15px 0;

    h3 {
        font-size: 21px;
    }

    .step {
        font-size: 18px;
        line-height: 24px;
        margin: 0 0 3px 0;
    }
}

/* /TRADEMARKS / TAUNTS / FINISHERS */

/* 2X2 BOXES */

.twotwoboxes {
    margin: 104px 10px 0 10px;
    width: 748px;
    min-height: 334px;
    height: calc(100vh - 424px);
    max-height: 748px;

    .twotwoboxes-group {
        padding: 10px;

        &:not(:nth-of-type(1)) {
            margin-left: -20px;
        }

        .item {
            width: calc(50% - 15px);
            height: calc(50% - 15px);
            border: 3px solid var(--darkblue-color);
            border-radius: 21px;

            &:nth-of-type(1) {
                margin: 0 10px 10px 0;
            }

            &:nth-of-type(2) {
                margin: 0 0 10px 0;
            }

            &:nth-of-type(3) {
                margin: 0 10px 0 0;
            }

            &:nth-of-type(4) {
                margin: 0;
            }
        }
    }
}

/* /2X2 BOXES */

/* ADVANCED TECHNIQUES */

.advtec {
    .advt-info {
        top: 15px;
        left: 15px;
        font-size: 18px;

        span {
            padding: 4px 8px;
            border-radius: 4px;
        }
    }

    .upgrade-info {
        left: 0;
        right: 0;
        bottom: 3px;
        width: calc(100% - 6px);
        background-size: 253px 80px;
        height: 80px;
        border-radius: 0 0 20px 20px;

        .row1 span::before {
            width: 20px;
            height: 20px;
        }

        div[class^="row"] {
            height: 40px;
        }

        .row1 {
            text-align: right;

            span {
                width: 80px;
                height: 40px;
                padding: 0 20px;
                margin-left: 30px;
                font-size: 21px;
                line-height: 40px;

                &::before {
                    left: 0;
                    top: 11px;
                }
            }
        }

        .row2 {
            border-radius: 20px;

            .lvl span {
                width: 50px;

                &:nth-of-type(1) {
                    font-size: 18px;
                    top: -12px;
                }

                &:nth-of-type(2) {
                    font-size: 36px;
                    top: 2px;
                }
            }

            .movebar {
                width: 85%;
                height: 34px;
                top: 3px;
                right: 3px;
                border-radius: 17px;

                .progress {
                    height: 34px;
                    border-radius: 17px;
                }

                span {
                    top: 1px;
                    left: 10px;
                    font-size: 26px;
                }
            }
        }
    }

    a.upgrade,
    a.learn {
        border-width: 3px;
        right: -8px;
        top: -8px;
        width: 66px;
        height: 66px;
        border-radius: 33px;

        .tooltip-container {
            margin-right: 36px;
        }
    }

    .learned {
        .progress {
            background-image: url('/img/progress-gradient-t.png');
        }
    }
}

/* /ADVANCED TECHNIQUES */

/* TOURNAMENTS - LEAGUES BOXES */

.trleagboxes {
    width: calc(768px - 30px);
    padding: 15px;
    height: calc(100% - 270px - 72px - 30px);
    top: 270px;

    .trleagbox {
        border-radius: 16px;
        border-width: 3px;

        .title {
            padding: 8px 16px 8px 40px;
            font-size: 21px;
            border-radius: 10px 10px 0 0;

            &::before {
                left: -8px;
                top: -12px;
                width: 48px;
                height: 48px;
            }

            .btn {
                margin: -7px -15px 0 0;
                padding: 7px 15px;
                border-radius: 12px;
            }
        }

        .content {
            padding: 16px;
            font-size: 18px;
            border-radius: 0 0 14px 14px;
        }

        &:not(:last-of-type) {
            margin-bottom: 15px;
        }

        &.working {
            .content {
                border-radius: 13px;
            }
        }
    }
}

table.trlginfo {
    font-size: 18px;

    tr {

        td,
        th {
            padding: 8px;
        }
    }
}

table.working {
    font-size: 18px;

    tr {

        th,
        td {
            padding: 10px;
        }

        td {
            &:nth-child(2) {
                span.nick {
                    max-width: 190px;
                }
            }
        }
    }
}

/* /TOURNAMENTS - LEAGUES BOXES */

/* TABLE PROGBAR */

table {
    tr {
        td {
            div.progbar {
                height: 4px;
            }
        }
    }
}

/* TABLE PROGBAR */

/* TABLE CHAMPIONSHIP */

body.championship {
    .trleagboxes {
        .trleagbox {
            .content {
                border-radius: 13px;
            }
        }
    }
}

table.championship {
    font-size: 18px;

    .genicon {
        width: 32px;
        height: 32px;
        margin: 0 5px;
    }

    tr {

        th,
        td {
            padding: 8px;

            &:nth-child(4) {
                span {
                    margin: 0 5px;
                }
            }
        }

        td {
            &:nth-child(2) {
                width: 40%;
                max-width: 190px;
            }
        }
    }
}

.ch-arrow {
    width: 16px;
    height: 16px;
}

/* /TABLE CHAMPIONSHIP */

/* CHAT */

.chatbox {
    height: calc(100% - 124px);

    .message {
        padding: 0 0 10px 0;
        margin-bottom: 10px;

        .usern {
            font-size: 21px;
            margin: 0 0 7px 0;

            .user_options {
                left: -7px;
                width: 140px;
                border-radius: 8px;

                div {
                    padding: 8px;
                    font-size: 15px;
                }
            }
        }

        .time {
            font-size: 12px;
        }

        .text {
            font-size: 16px;
            line-height: 24px;
        }

        &.suppst {
            .usern {
                &::before {
                    width: 18px;
                    height: 18px;
                    margin: 0 8px 0 0;
                }
            }
        }

        i.emoji {
            width: 22px;
            height: 22px;
            margin: 0 0 -5px 0;
        }

        &:not(:last-of-type) {
            .user_options {
                top: 24px;
            }
        }

        &:last-of-type {
            .user_options {
                bottom: 24px;
            }
        }
    }
}

.sendmsg-form {
    bottom: 20px;
    left: 20px;
    width: calc(100% - 60px);

    input {
        width: calc(100% - 80px);
        height: 24px;
        border-radius: 22px;
        padding: 10px 10px 10px 50px;
    }

    button[type="submit"] {
        width: 44px;
        height: 44px;
        margin: 9px 0 0 0;
    }

    table {
        height: 44px;

        tr {
            td {
                &.input {
                    width: calc(100% - 44px) !important;
                }

                &.submit {
                    width: 44px;
                }

                #emoji-btn {
                    width: 44px;
                    height: 44px;
                    top: 11px;
                    left: 2px;
                }
            }
        }
    }
}

#emoji-box {
    bottom: 80px;
    left: 20px;
    width: calc(100% - 116px);
    border-radius: 22px;

    &.opened {
        padding: 20px;
    }

    i.emoji {
        width: 44px;
        height: 44px;
        margin: 0 5px 0 0;
    }
}

/* /CHAT */

/* SUPPORTERS SHOP */

.multiplier {
    bottom: -14px;
    left: 39px;
    padding: 0 4px;
    border-radius: 4px;
    font-size: 18px;
}

/* /SUPPORTERS SHOP */
}