.scrollable {
    height: 100%;
    overflow-y: scroll;
}

.item {
    background: #33353a;
    width: 100%;
    height: 160px;
    position: relative;
    border-radius: 10px;
    margin-bottom: 10px;

    .learn,
    .upgrade {
        height: 55px !important;
        width: 55px !important;
        border-width: 2px !important;
        right: 10px !important;
        top: 10px !important;
    }

    .advt-info {
        display: flex;
        align-items: flex-start;
        top: 0 !important;
        left: 0 !important;

        img {
            border-radius: 10px;
            height: 120px;
            margin-right: 20px;
            width: 120px;
        }

        &>div {
            margin-top: 20px;
        }
    }

}

.twotwoboxes {
    margin-top: 10px;
}

.advt-info{
    .skill-name{
        width: 80%;
    }
}