.swipe {
    overflow: hidden;
    visibility: hidden;
}

.swipe-wrap {
    overflow: hidden;

    >div {
        float: left;
        width: 100%;
        position: relative;
        overflow: hidden;
        margin: 0;

        b {
            display: block;
            margin: 0;
            padding: 0;
            position: relative;
            height: 100%;
        }
    }
}

.nav-btn {
    display: block;
    background-image: url('/img/btn-leftright.png');
    background-size: 200% 200%;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    /* Animation Property */
    animation-property: opacity;
    transition: opacity 0.2s ease-in-out;
    /* webkit */
    -webkit-animation-property: opacity;
    -webkit-transition: opacity 0.2s ease-in-out;
    /* moz */
    -moz-animation-property: opacity;
    -moz-transition: opacity 0.2s ease-in-out;
    /* opera */
    -o-animation-property: opacity;
    -o-transition: opacity 0.2s ease-in-out;
}

@media (pointer: coarse) and (max-width: 480px) {
    .nav-btn {
        opacity: 1;
    }
}

#interactive:hover .nav-btn,
.skill-box:hover .nav-btn,
.moveboxes:hover .nav-btn {
    opacity: 1;
}

.nav-btn.hidden,
#interactive:hover .nav-btn.hidden,
.moveboxes:hover .nav-btn.hidden {
    opacity: 0;
}

.nav-left {
    background-position: 0 0;

    &:hover {
        background-position: 0 100%;
    }
}

.nav-right {
    background-position: 100% 0;

    &:hover {
        background-position: 100% 100%;
    }
}