@import 'tooltip';
@import 'swipe';
@import 'default';
@import '320';
@import '768';
@import 'low_height';
@import '1024';
@import 'edits';

#app{
    height: 100%;
}

.d-none{
    display: none !important;
}

.h-100{
    height: 100%;
}

.sparring-back{
    display: block !important;
    margin: 50px auto 0;
    text-align: center;
    width: 100px;
}

.mvlegendary{
    @extend .mv8;
}



div {
    &.tournaments {
        .trleagboxes {
            .trleagbox {
                .title {
                    &::before {
                        background-image: url('/img/trophy-94a7c.png');
                    }
                }
            }
        }
    }

    &.leagues {
        .trleagboxes {
            .trleagbox {
                .title {
                    &::before {
                        background-image: url('/img/league-94a7c.png');
                    }
                }
            }
        }
    }

    &.partner {
        .trleagboxes {
            .trleagbox {
                .title {
                    &::before {
                        background-image: url('/img/partner-94a7c.png');
                    }
                }
            }
        }
    }

    /* recycling same styles from the tournament leagues to use them in shop too */
    &.supporter {
        .trleagboxes {
            .trleagbox {
                .title {
                    &::before {
                        background-image: url('/img/supp_star_94a7c.png');
                    }
                }
            }
        }
    }

    &.tps {
        .trleagboxes {
            .trleagbox {
                .title {
                    &::before {
                        background-image: url('/img/supp_tps_94a7c.png');
                    }
                }
            }
        }
    }

    &.tpspack {
        .trleagboxes {
            .trleagbox {
                .title {
                    &::before {
                        background-image: url('/img/supp_tpspack_94a7c.png');
                    }
                }
            }
        }
    }

    /* recycling same styles from the tournament leagues to use them in shop too */
}
